#
# VirtualBox vagrantfile template
#
Vagrant.configure("2") do |config|
{% for name,n in nodes.items() if not (n.unmanaged|default(False)) %}
{%   set name = name.split('.')[0] %}
{%   set box  = n.box %}
  config.vm.define "{{ name }}" do |{{name}}|
    {{ name }}.vm.box = "{{ box }}"
{% if 'box_version' in n  %}
    {{ name }}.vm.box_version = "{{ n.box_version }}"
{% endif %}
{%  include n.device ~ "-domain.j2" %}

    {{ name }}.vm.provider :virtualbox do |domain|
{% if 'cpu' in n %}
      domain.cpus = {{ n.cpu }}
{% endif %}
{% if 'memory' in n %}
      domain.memory = {{ n.memory }}
{% endif %}
    end

{%   for l in n.interfaces|default([]) if l.virtual_interface is not defined %}
{%     include "virtualbox-network.j2" %}
{%   endfor %}
{%   include "virtualbox-ports.j2" %}

  end
{% endfor %}
end
