    {{ name }}.vm.guest = :tinycore
    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.ssh.insert_key = false
    {{ name }}.vm.provider :virtualbox do |domain|
      domain.cpus = 2
      domain.memory = 4096
    end
