- set:
    bridge:
      domain:
        br_default:
          # The default 'auto' setting uses the EEPROM to pick the same MAC for all instances!
          mac-address: "{{ '08:4f:c2:a9:00:%02x' | format(id) }}" 
          untagged: 1
