{% for intf in interfaces if intf.virtual_interface is not defined %}
!
interface {{ intf.ifname }}
{# 'no switchport' allocates an internal VLAN in range 1006-, causing issues when overlapping with topology vlans #}
 shutdown
{% if l.mac_address is defined %}
 mac-address {{ l.mac_address }}
{% endif %}
{% endfor %}
