{% for intf in interfaces if intf.virtual_interface is not defined %}
!
interface {{ intf.ifname }}
{# 'no switchport' allocates an internal VLAN in range 1006-, causing issues when overlapping with topology vlans #}
 shutdown
 mac-address {{ '52dc.cafe.%02x%02x' % ( id,intf.ifindex % 100 ) }}
{% endfor %}
