{#
   We need to ensure physical interfaces are shutdown.
   https://github.com/ipspace/netlab/issues/3252
#}
{% for intf in interfaces if intf.virtual_interface is not defined %}
disable port {{ intf.ifname }}
{% endfor %}
