{#
   We need to ensure physical interfaces are shutdown and ports
   are removed from VLAN Default

   https://github.com/ipspace/netlab/issues/3252
#}
configure vlan Default delete ports all
{% for intf in interfaces if intf.virtual_interface is not defined %}
disable port {{ intf.ifname }}
{% endfor %}
