{% for l in interfaces %}
create host-interface name {{ l.ifname }}
set interface state host-{{ l.ifname }} up
{% if l.ipv4 is defined and (l.ipv4 is string or l._parent_ipv4 is defined) %}
set interface ip address host-{{ l.ifname }} {{ l.ipv4 if l.ipv4 is string else l._parent_ipv4 }}
{% endif %}
{% if l.ipv6 is defined and l.ipv6 is string and l.ipv6|ansible.utils.ipv6 %}
set interface ip address host-{{ l.ifname }} {{ l.ipv6 }}
{% endif %}
{% endfor %}
{% for l in interfaces if l.ipv6 is defined and l.type != 'loopback' and role == 'router' and 'ra' in l %}
{%   set host_if = 'host-' ~ l.ifname %}
{%   if l.ra.disable|default(false) is true %}
ip6 nd {{ host_if }} ra-suppress
{%   else %}
ip6 nd {{ host_if }} ra-interval 5
{%     if l.ipv6 is string and l.ipv6|ansible.utils.ipv6 %}
ip6 nd {{ host_if }} prefix {{ l.ipv6|ansible.utils.ipaddr(0) }} default
{%       if l.ra.slaac|default(true) is false %}
ip6 nd {{ host_if }} prefix {{ l.ipv6|ansible.utils.ipaddr(0) }} no-autoconfig
{%       endif %}
{%       if l.ra.onlink|default(true) is false %}
ip6 nd {{ host_if }} prefix {{ l.ipv6|ansible.utils.ipaddr(0) }} off-link
{%       endif %}
{%     endif %}
{%     if l.ra.dhcp|default(false) == 'all' %}
ip6 nd {{ host_if }} ra-managed-config-flag
{%     endif %}
{%     if l.ra.dhcp|default(false) == 'other' %}
ip6 nd {{ host_if }} ra-other-config-flag
{%     endif %}
{%   endif %}
{% endfor %}
