unix {
  nodaemon
  nosyslog
  
  full-coredump
  cli-listen /run/vpp/cli.sock
  cli-prompt vpp-clab#
  cli-no-pager
  poll-sleep-usec 100
  startup-config /etc/vpp/setup.conf
}

api-trace {
  on
}

plugins {
  plugin default { disable }
  plugin acl_plugin.so { enable }
  plugin af_packet_plugin.so { enable }
  plugin geneve_plugin.so { enable }
  plugin gre_plugin.so { enable }
  plugin ipip_plugin.so { enable }
  plugin linux_cp_plugin.so { enable }
  plugin linux_nl_plugin.so { enable }
  plugin sflow_plugin.so { enable }
  plugin tap_plugin.so { enable }
  plugin vxlan_plugin.so { enable }
}

linux-cp {
  default netns dataplane
  lcp-sync
  lcp-auto-subint
  del-static-on-link-down
  del-dynamic-on-link-down
}
