unix {
  nodaemon
  nosyslog
  cli-listen /run/vpp/cli.sock
  gid vpp
  startup-config /etc/vpp/setup.conf
}

api-trace {
  on
}

#
# TODO for future FRR integration
#
# plugins {
#     plugin default { enable }
#     plugin af_packet_plugin.so { enable }
#     plugin linux_nl_plugin.so { enable }
#     plugin linux_cp_plugin.so { enable }
# }
# 
# linux-cp {
#     lcp-sync
#     lcp-auto-subint
# Forces the LCP TAP interfaces into an isolated namespace
#     namespace dataplane 
# }