router bgp {{ bgp.as }}
{% for n_af in ['ipv4','ipv6'] %}
{%   for ngb in bgp.neighbors if n_af in ngb %}
{%     for x_af in ['ipv4','ipv6'] if x_af != n_af %}
  address-family {{ x_af }}
    {{ xa_state|default('') }} neighbor {{ ngb[n_af] }} activate
{%     endfor %}
{%   endfor %}
{% endfor %}
