{#
  Apply route map to a BGP neighbor
#}
{% macro apply_route_map(n,af,rm_per_af=False) -%}
{%   set peer = n[af] if n[af] is string else n.local_if|default('?') %}
{%   if 'policy' in n %}
{%     for direction in [ 'in','out' ] if direction in n.policy %}
    neighbor {{ peer }} route-map {{ n.policy[direction] }}{{ '-%s'|format(af) if rm_per_af else '' }} {{ direction }}
{%     endfor %}
{%-  endif %}
{%- endmacro %}
