{% set directions_map = { 'in':'import', 'out':'export' } %}

{#
   Macro for neighbor attributes (for bgp.policy)
#}
{% macro bgp_neighbor(n,bfd,af,k) %}
{# import policy, if present #}
{%   if n.policy.in|default('') %}
  import {{ n.policy.in }}-{{ af }};
{%   endif %}

{# export policy, if present. needs to update the whole policy. #}
{%   if n.policy.out|default('') %}
  delete: export;
  export [ 
{%     if k == 'ibgp' and bgp.next_hop_self|default(false) %}
    next-hop-self
{%     endif %}
    bgp-advertise
    bgp-redistribute
{%   if n.default_originate|default(false) %}
    bgp-default-route
{%   endif %}
    {{ n.policy.out }}-{{ af }}
    bgp-final
  ];
{%   endif %}
{%- endmacro %}


{# Main BGP Instance #}
protocols {
  bgp {
{% for af in ['ipv4','ipv6'] if bgp[af] is defined and loopback[af] is defined %}
{%   for n in bgp.neighbors if n[af] is defined and n.type == 'ibgp' %}
{%     if loop.first %}
    group ibgp-peers-{{ af }} {
{%     endif %}
      neighbor {{ n[af] }} {
        {# IBGP neighbor within an address family #}
        {{ bgp_neighbor(n,bfd,af,'ibgp') }}
      }
{%     if loop.last %}
    }
{%     endif %}
{%   endfor %}
{% endfor %}
{% for n in bgp.neighbors if n.type == 'ebgp' %}
{%   if loop.first %}
    group ebgp-peers {
{%   endif %}
{%   for af in ['ipv4','ipv6'] if n[af] is defined %}
      neighbor {{ n[af] }} {
        {# EBGP neighbor #}
        {{ bgp_neighbor(n,bfd,af,'ebgp') }}
      }
{%   endfor %}
{%     if loop.last %}
    }
{%     endif %}
{% endfor %}
  }
}

{# VRF -> BGP Instances #}
routing-instances {
{% for vname,vdata in (vrfs|default({})).items() %}

  {{vname}} {
    protocols {
      bgp {
{%   for af in ['ipv4','ipv6'] if vdata.af[af] is defined and vdata.loopback_address[af] is defined %}
{%     for n in vdata.bgp.neighbors|default([]) if n[af] is defined and n.type == 'ibgp' %}
{%       if loop.first %}
        group ibgp-peers-{{ af }} {
{%       endif %}
          neighbor {{ n[af] }} {
            {# THIS HERE IS THE NEIGHBOR (VRF->iBGP) #}
            {{ bgp_neighbor(n,bfd,af,'ibgp') }}
          }
{%       if loop.last %}
        }
{%       endif %}
{%     endfor %}
{%   endfor %}

{%   for n in vdata.bgp.neighbors|default([]) if n.type == 'ebgp' %}
{%     if loop.first %}
        group ebgp-peers {
{%     endif %}
{%     for af in ['ipv4','ipv6'] if n[af] is defined %}
          neighbor {{ n[af] }} {
            {# THIS HERE IS THE NEIGHBOR (VRF->eBGP) #}
            {{ bgp_neighbor(n,bfd,af,'ebgp') }}
          }
{%     endfor %}
{%     if loop.last %}
        }
{%     endif %}
{%   endfor %}
      }
    }
  }

{% endfor %}
}
