{% macro ebgp_neighbor(n,af,vrf) -%}
- path: /network-instance[name={{vrf}}]/protocols/bgp
  value:
{% if n.type=='ebgp' and n[af] is true %}
    group:
    - group-name: intf-{{ n.local_if }}
{% else %}
    neighbor:
    - peer-address: {{ n[af]|ipaddr('address') }}
{% endif %}
{% for direction in [ 'in','out' ] if direction in n.policy %}
      {{ 'import' if direction=='in' else 'export' }}-policy: {{ n.policy[direction] }}
{% endfor %}
{%- endmacro %}

updates:
{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors if n[af] is defined and 'policy' in n %}
{{     ebgp_neighbor(n,af,'default') -}}
{%   endfor %}
{% endfor %}

{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.bgp is defined %}
{%     for af in ['ipv4','ipv6'] %}
{%       for n in vdata.bgp.neighbors if n[af] is defined and 'policy' in n %}
{{         ebgp_neighbor(n,af,vname) -}}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}
