{% macro ebgp_neighbor(n,af,vrf) -%}
{% set path = "router[router-name=Base]" if vrf=="default" else "service/vprn[service-name="+vrf+"]" %}
- path: configure/{{ path }}/bgp
  val:
{% if n.type=='ebgp' and af=='ipv6' and n.ipv6|default(0) == True %}
   group: {# Note: This doesn't allow for different policies per individual neighbor #}
   - group-name: "ebgp-unnumbered{{ ('-' + n.local_as|string()) if n.local_as is defined else '' }}"
{% else %}
   neighbor:
   - ip-address: {{ n[af]|ipaddr('address') }}
{% endif %}
{% for direction in [ 'in','out' ] if direction in n.policy %}
     {{ 'import' if direction=='in' else 'export' }}:
      policy: [ "{{ n.policy[direction] }}" ]
{% endfor %}
{% if 'bandwidth' in n and (n.bandwidth.in|default('') == 'auto' or n.bandwidth.out|default('') == 'auto') and n.type=='ebgp' %}
     link-bandwidth:
{%  if n.bandwidth.in|default('') == 'auto' %}
      add-to-received-ebgp:
       {{ af }}: True
{%  endif %}
{%  if n.bandwidth.out|default('') == 'auto' %}
      send-to-ebgp:
       {{ af }}: True
{%  endif %}
{% endif %}
{%- endmacro %}

updates:
{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors if n[af] is defined and 'policy' in n %}
{{     ebgp_neighbor(n,af,'default') -}}
{%   endfor %}
{% endfor %}

{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.bgp is defined %}
{%     for af in ['ipv4','ipv6'] %}
{%       for n in vdata.bgp.neighbors if n[af] is defined and 'policy' in n %}
{{         ebgp_neighbor(n,af,vname) -}}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}
