---
- name: Push Candidate Config
  template:
    src: '{{ config_template }}'
    dest: '/tmp/.{{ inventory_hostname }}.txt'

- name: Apply candidate config
  arrcus.arcos.arcos_config:
    src: "/tmp/.{{ inventory_hostname }}.txt"
    load_operation: merge
    comment: "initial config pushed by netsim"
    delete_src_file: true
