---
- name: Render device configuration from {{ config_template }}
  ansible.builtin.set_fact: deployed_config={{ lookup('template',config_template) }}
- name: Create local temporary file
  tempfile:
    state: file
    suffix: temp
    prefix: ansible.{{ inventory_hostname }}.
  delegate_to: localhost
  register: tempfile_1

- name: Create {{ netsim_action }} config script in local temporary file
  copy:
    content: |
      {% if "#!/bin/bash" in deployed_config %}
      {{   deployed_config }}
      {% else %}
      #!/bin/bash
      set -e
      {%   set cfgname = '/tmp-config' + netsim_action + '.cfg' %}
      cat <<DEPLOYED_CONFIG >{{ cfgname }}
      {{   deployed_config }}
      DEPLOYED_CONFIG
      vtysh -f {{ cfgname }}
      {% endif %}
    dest: "{{ tempfile_1.path }}"
    mode: "0755"
  delegate_to: localhost
- name: Execute local config script on Cumulus node
  ansible.builtin.script: "{{ tempfile_1.path }}"
  args:
    executable: sudo
  tags: [print_action, always]
  when: not ansible_check_mode

- name: Remove temporary file {{ tempfile_1.path }}
  file:
    path: "{{ tempfile_1.path }}"
    state: absent
  delegate_to: localhost
  when: tempfile_1.path is defined
