- name: "fortinet.fortios.fortios_config: deploying {{ netsim_action }} from {{ config_template }}"
  fortinet.fortios.fortios_monitor:
      selector: upload.system.config-script
      params:
        filename: set_initial_config
        file_content: "{{ lookup('template', config_template) | b64encode }}"
  tags: [ print_action, always ]
  register: fortios_output
  when: config_template is string and config_template != '' and '/tasks/deploy-config' not in config_template
