---
- ansible.builtin.template:
    src: "{{ config_template }}"
    dest: /tmp/config.sh
- name: "Execute /tmp/config.sh to deploy {{ netsim_action }} config from {{ config_template }}"
  ansible.builtin.command: "{{ docker_shell|default('bash') }} /tmp/config.sh"
  become: true
  tags: [print_action, always]
