---
- name: "load {{ netsim_action }} from {{ config_template }}"
  ansible.builtin.set_fact:
    cfg_data: "{{ lookup('template', config_template) }}"

- name: Run commands on CHR
  community.routeros.command:
    commands: "{{ cfg_data.splitlines()|select() }}"
