---
- tempfile:
    state: file
    suffix: temp
    prefix: ansible.{{ inventory_hostname }}.
  delegate_to: localhost
  register: tempfile_1

- template:
    src: "{{ config_template }}"
    dest: "{{ tempfile_1.path }}"
  delegate_to: localhost
- command:
    cmd: >-
      scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
        -i {{ lookup('env', 'HOME') }}/.vagrant.d/insecure_private_key {{ tempfile_1.path }}
        vagrant@{{ ansible_host }}:config.rsc"
  delegate_to: localhost
- name: "import config.rsc to deploy {{netsim_action}} config from {{ config_template }}"
  community.routeros.command:
    commands: /import config.rsc
  tags: [print_action, always]

- file:
    path: "{{ tempfile_1.path }}"
    state: absent
  delegate_to: localhost
  when: tempfile_1.path is defined
