---
- name: Check version of nokia.srlinux
  vars:
    nokia_srlinux_version: "{{ lookup('community.general.collection_version', 'nokia.srlinux') }}"
  register: plugin_checked
  when: plugin_checked is not defined
  ansible.builtin.assert:
    that:
      - nokia_srlinux_version is version('0.2.0', '>=')
    fail_msg: "nokia.srlinux Ansible collection not installed ({{nokia_srlinux_version}})- use 'ansible-galaxy collection install nokia.srlinux'"
    success_msg: "'nokia.srlinux' version: {{ nokia_srlinux_version }}"

- local_action:
    module: tempfile
    state: file
    suffix: temp
    prefix: ansible.srl.{{ inventory_hostname }}.
  register: tempfile_1

- local_action:
    module: template
    src: "{{ config_template }}"
    dest: "{{ tempfile_1.path }}"

- name: Generated JSON-RPC config based on {{ config_template }}
  debug:
   msg: "SRL config: {{ lookup('file', tempfile_1.path ) }}"
   verbosity: 1

- name: Update SRL {{ netsim_action }} node configuration (template={{config_template}})
  when: d!=[] or (u!=[] and u!="") or r!=[]
  vars:
    ansible_connection: ansible.netcommon.httpapi
    ansible_network_os: nokia.srlinux.srlinux
    cfg: "{{ lookup('file', tempfile_1.path ) | from_yaml }}"
    d: "{{ cfg.delete | default([]) }}"
    u: "{{ cfg.updates | default([]) }}"
    r: "{{ cfg.replace | default([]) }}"
  nokia.srlinux.config:
    delete: "{{ d }}"
    replace: "{{ r }}"
    update: "{{ u }}"
  register: config_set_result
  tags: [ print_action, always ]

- debug: var=config_set_result verbosity=1

- local_action:
    module: file
    path: "{{ tempfile_1.path }}"
    state: absent
  when: tempfile_1.path is defined
