---
- name: Generate gNMI YAML configuration
  set_fact: yaml_config={{ lookup('template',config_template) }}

- name: Update {{ netsim_action }} node configuration from gNMI template {{ config_template  }}
  when: d|default([],True) != [] or u|default([],True) != [] or r|default([],True) != []
  vars:
    cfg: "{{ yaml_config | from_yaml }}"
    d: "{{ cfg.delete if 'delete' in cfg and cfg.delete is not string else [] }}"
    u: "{{ cfg.updates if 'updates' in cfg and cfg.updates is not string else [] }}"
    r: "{{ cfg.replace if 'replace' in cfg and cfg.replace is not string else [] }}"
    ansible_connection: nokia.grpc.gnmi
    ansible_gnmi_encoding: JSON
    ansible_port: "{{ sros_grpc_port }}"
  nokia.grpc.gnmi_config:
    # prefix: configure
    delete: "{{ d }}"
    replace: "{{ r }}"
    update: "{{ u }}"
  register: gnmi_set_result
  tags: [ print_action, always ]

- debug: var=gnmi_set_result
  when: ansible_verbosity > 0
