{% if 'vbash' in script_content %}
{{   script_content }}
{% else %}
#!/bin/vbash
source /opt/vyatta/etc/functions/script-template

if [ "$(id -g -n)" != 'vyattacfg' ] ; then
    exec sg vyattacfg -c "/bin/vbash $(readlink -f $0) $@"
fi

# Configuration items start here
configure

{{ script_content }}

commit
save
exit
{% endif %}
