# Changes in Release 26.06

```eval_rst
.. contents:: Table of Contents
   :depth: 2
   :local:
```

(release-26.06)=
## New Functionality

* Something new

**Minor improvements**

* Something new

(release-26.06-device-features)=
## New Device Features

Arista EOS:
* Something new

(release-26.06-device-fixes)=
## Fixes in Configuration Templates

Arista EOS:
* Something new

(release-26.06-breaking)=
## Breaking changes

Something is broken

(bug-fixes-26.06)=
## Bug Fixes

* Bugs were fixed

(doc-fixes-26.06)=
## Documentation Fixes

* Docs were fixed
