{% set pid = ospf.process|default(1) %}
{% set area = ospf.area|default("0.0.0.0") %}
protocols {
  ospf {
    area {{ area }} {
      interface lo0;
{% for l in links|default([]) %}
      interface {{ l.ifname }} {
{%   if l.type|default("") == "p2p" %}
        interface-type p2p
{%   endif %}
{%   if l.type|default("") == "stub" %}
        passive
{%   endif %}
      }
{% endfor %}
    }
  }
}
