{% from "initial/cumulus_nvue.j2" import decl_interface with context %}
- set:
    interface:
{% for i in interfaces if i.type == 'lag' %}
{{      decl_interface(i) }}
        type: bond
        bond:
          member:
{%  for c in interfaces if c.lag._parentindex|default(False) == i.linkindex %}
            {{ c.ifname }}: {}
{%  endfor %}
{%  if 'ipv4' not in i and 'ipv6' not in i %}
        bridge:
          domain:
            br_default: {}
{%  endif %}
{% endfor %}
