{# Provision internal Virtual Line Trunking (VLT) domain #}
! OS10 internally uses port-channel 1000 and VLAN 4094 for VLT
{% for intf in interfaces if intf.lag.mlag.peergroup is defined %}
vlt-domain {{ intf.lag.mlag.peergroup }}
 backup destination {{ intf.lag.mlag.peer }}
 vlt-mac {{ intf.lag.mlag.mac | hwaddr('linux') }}
{# Reduce default 90-second delay timer to avoid wasting time waiting #}
 delay-restore 30
 discovery-interface {{ intf.ifname }}
{%   for ch in interfaces if ch.lag._peerlink|default(0) == intf.linkindex %}
 discovery-interface {{ ch.ifname }}
{%   endfor %}
{% endfor %}

{% for intf in interfaces if intf.type == 'lag' %}
interface {{ intf.ifname }}
{%  if '_mlag' in intf.lag %}
{%   set desc = intf.name.replace(",", "\\\\,") + " in vlt-port-channel " + intf.lag.ifindex|string %}
 description "{{ desc[:255] }}"
{%  if 'vlan' not in intf %}
 switchport mode access
{%  endif %}
 vlt-port-channel {{ intf.lag.ifindex }}
{% else %}
 description "{{ intf.name }}"
{%  endif %}
!
{%  for ch in interfaces if ch.lag._parentindex|default(None) == intf.lag.ifindex %}
{%   set _lag_mode = 
      'on' if intf.lag.lacp|default('') == 'off' else
      'active' if intf.lag.lacp_mode|default('') == 'active' else 
      'passive' %}
interface {{ ch.ifname }}
{%   set desc = ch.name.replace(",", "\\\\,") + " in channel-group " + intf.lag.ifindex|string %}
 description "{{ desc[:255] }}"
 channel-group {{ intf.lag.ifindex }} mode {{ _lag_mode }}
 lacp rate {{ 'fast' if intf.lag.lacp|default('fast') == 'fast' else 'normal' }}
!
{%  endfor %}
{% endfor %}
