{# Provision mlag peerlink, EOS supports at most 1 peerlink #}
{% for intf in interfaces if intf.lag.mlag.peergroup is defined %}

vlan {{ intf.lag.mlag.vlan }}
 name "MLAG-peerlink"
 trunk group m1peer
!
no spanning-tree vlan-id {{ intf.lag.mlag.vlan }}

interface port-channel {{ intf.lag.mlag.ifindex }}
 description MLAG peerlink(s) {{ intf.name }}
 switchport mode trunk
 switchport trunk group m1peer
!

interface vlan {{ intf.lag.mlag.vlan }}
 description MLAG peerlink local-interface
 ip address {{ intf.lag.mlag.self }}
 no autostate
!

mlag
 domain-id mlag{{ intf.lag.mlag.peergroup }}
 local-interface vlan {{ intf.lag.mlag.vlan }}
 peer-address {{ intf.lag.mlag.peer }}
 peer-link port-channel {{ intf.lag.mlag.ifindex }}
 no shutdown
!
{%   for ch in ([intf]+interfaces) if ch==intf or ch.lag._peerlink|default(0) == intf.linkindex %}
interface {{ ch.ifname }}
 description {{ ch.name }} (peerlink in channel-group {{intf.lag.mlag.ifindex }})
 channel-group {{ intf.lag.mlag.ifindex }} mode active
!
{%   endfor %}

{% if 'gateway' in module %}
ip virtual-router mac-address mlag-peer
{% endif %}
{% endfor %}

{% for intf in interfaces if intf.type == 'lag' %}
interface {{ intf.ifname }}
{%  if '_mlag' in intf.lag %}
 description {{ intf.name }} (part of mlag {{ intf.lag.ifindex }})
 switchport
 mlag {{ intf.lag.ifindex }}
{% else %}
 description {{ intf.name }}
{%  endif %}
!
{%  if intf.lag.lacp_system_id is defined %}
 lacp system-id {{intf.lag.lacp_system_id}}
{%  endif %}
!
{%   for ch in interfaces if ch.lag._parentindex|default(None) == intf.lag.ifindex %}
!
{%     set _lag_mode = 
         'on' if intf.lag.lacp|default('') == 'off' else
         'active' if intf.lag.lacp_mode|default('') == 'active' else 
         'passive' %}
interface {{ ch.ifname }}
 description {{ ch.name }} in channel-group {{ intf.lag.ifindex }}
 channel-group {{ intf.lag.ifindex }} mode {{ _lag_mode }}
{%     if intf.lag.lacp|default('') == 'fast' %}
 lacp timer fast
{%     endif %}
{%   endfor %}
{% endfor %}
