#!/bin/bash
#
set -e # Exit immediately when any command fails
#
{% if node_provider != 'clab' %}
modprobe bonding miimon=100 mode=802.3ad lacp_rate=fast
{% endif %}
#
# Create bonds for LAGs, if any. Requires kernel bonding module loaded
#
{% for l in interfaces if 'lag' in l %}
{%  if l.type=='lag' %}
{%   set _m = l.lag.mode|default(lag.mode) %}
{%   if _m=="802.3ad" %}
{%     set _lacp = l.lag.lacp|default(lag.lacp) %}
{%     set lacp_act = 'off' if _lacp=='off' else 'on' %}
{%     set lacp_rate = (' lacp_rate ' + _lacp) if _lacp!='off' else '' %}
{%     set _m = _m + " xmit_hash_policy encap3+4" + lacp_rate %}
{%     if node_provider == 'clab' %}
{%       set _m = _m + " lacp_active " + lacp_act %}
{%     endif %}
{%   endif %}
ip link add dev {{l.ifname}} type bond mode {{_m}}
{%  endif %}
ip link set dev {{ l.ifname }} down
{% endfor %}

{% for l in interfaces if 'lag' in l and l.type != 'lag' %}
{%   if l.type=='p2p' %}
{%     if node_provider != 'clab' %}
ethtool -s {{ l.ifname }} autoneg off speed 1000 duplex full
{%     endif %}
ip link set dev {{ l.ifname }} master {% 
       for i in interfaces if i.type=='lag' and i.linkindex==l.lag._parentindex %}{{ i.ifname }}
{%     endfor %}
{%   endif %}
ip link set dev {{ l.ifname }} up
{% endfor %}
{% for l in interfaces if 'lag' in l and l.type == 'lag' %}
ip link set dev {{ l.ifname }} up
{% endfor %}
exit 0
