{% import "asa.macro.j2" as bgpcfg %}
{% import "templates/routing/_redistribute.asa.j2" as redistribute with context %}
!
router bgp {{ bgp.as }}
{% if bgp.router_id is defined %}
  bgp router-id {{ bgp.router_id }}
{% endif %}

{% for af in ['ipv4','ipv6'] if bgp[af] is defined %}
  address-family {{ af }} unicast
{%   for n in bgp.neighbors if n[af] is defined %}
    neighbor {{ n[af] }} remote-as {{ n.as }}
    neighbor {{ n[af] }} description {{ n.name }}
{%   endfor %}
{%   if bgp.import is defined and af == 'ipv4' %}
{{     redistribute.config(bgp,ospf_pid=ospf.process|default(1))|indent(2,first=True) }}
{%   endif %}
{%   if loopback[af] is defined and bgp.advertise_loopback %}
{{ bgpcfg.bgp_network(af,loopback[af]) }}
{%   endif %}
{%   for l in interfaces|default([]) if l.bgp.advertise|default("") and l[af] is defined %}
{{ bgpcfg.bgp_network(af,l[af]) }}
{%   endfor %}
{%   for pfx in bgp.originate|default([]) if af == 'ipv4' %}
{{ bgpcfg.bgp_network(af,pfx) }}
{%   endfor %}
{%   for n in bgp.neighbors if n[af] is defined %}
{{ bgpcfg.neighbor_af(n,n[af],bgp) }}
{%   endfor %}
{% endfor %}
