{% from "bgp/cumulus_nvue.macro.j2" import bgp_in_vrf with context %}
---
{{ bgp_in_vrf('default', { 'bgp': bgp, 'loopback': loopback, 'af': af }|combine({ 'ospf': ospf } if ospf is defined else {})) }}
