{% from "bgp/cumulus_nvue.macro.j2" import bgp_in_vrf with context %}
- set:
    router:
      bgp:
        enable: on
        autonomous-system: {{ bgp.as }}
{%   if bgp.router_id|ipv4 %}
        router-id: {{ bgp.router_id }}
{%   endif %}
{{ bgp_in_vrf('default', { 'bgp': bgp, 'loopback': loopback, 'af': af } ) }}
