{#
  Define a BGP neighbor
#}
{% macro neighbor(n,ip,bgp,af) %}
{%   set peer = ip if ip is string else 'interface ' + n.local_if|default('?') %}
!
  neighbor {{ peer }}
{%   if peer!=n[af] %}
! This is an unnumbered eBGP session
! WTF Remote-AS configuration not supported for unnumbered peer
    inherit template unnumbered_ebgp inherit-type ebgp
{%   else %}
    remote-as {{ n.as }}
{%   endif %}
    
    description "{{ n.name }}"
{%   if n.local_as is defined %}
    local-as {{ n.local_as }}{{ ' no-prepend replace-as' if n.replace_global_as|default(True) else '' }}
{%   endif %}
{%   if n._source_intf is defined %}
    update-source {{ n._source_intf.ifname }}
{%   endif %}
{%   if 'ibgp' in n.type %}
{%     if bgp.rr|default('') and not n.rr|default('') %}
    route-reflector-client
{%     endif %}
{%   endif -%}

{%   if n.type in bgp.community %}
{%     for comm in ['standard','extended'] %}
{%       if comm in bgp.community[n.type] %}
    send-community {{ comm }}
{%       endif %}
{%     endfor %}
{%   endif %}

{%   for _af in ['ipv4','ipv6'] %}
    address-family {{ _af }} unicast
{%     if n._activate[af][_af] is defined %}
{#
         In Dell OS10, next-hop-self is configured under AF
#}
{%       if if 'ibgp' in n.type and bgp.next_hop_self|default(False) %}
      next-hop-self
{%       endif %}
      soft-reconfiguration inbound
      activate
{%     else %}
      no activate
{%     endif %}
      exit
{% endfor %}
  
  {{ 'no ' if not n._shutdown[af]|default(False) else '' }}shutdown
  exit
{%- endmacro %}
