{% import "templates/routing/_redistribute.frr.j2" as redistribute with context %}
!
router bgp {{ bgp.as }}
  no bgp ebgp-requires-policy
  no bgp default ipv4-unicast
  bgp default show-hostname
  bgp default show-nexthop-hostname
{% if bgp.confederation is defined %}
  bgp confederation identifier {{ bgp.confederation.as }}
  bgp confederation peers {{ bgp.confederation.peers|join(' ') }}
{% endif %}
  ! Consider AS paths of same length but with different AS as ECMP candidates
  bgp bestpath as-path multipath-relax

{% if bgp.router_id|ipv4 %}
  bgp router-id {{ bgp.router_id }}
{% endif %}
{% if bgp.rr|default(False) and bgp.rr_cluster_id|default(False) %}
  bgp cluster-id {{ bgp.rr_cluster_id }}
{% endif %}
!
{#
    Create neighbors
#}
{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors if n[af] is defined and (n[af] is string or n.local_if is defined) %}
{%     set peer = n[af] if n[af] is string else n.local_if|default('?') %}
  neighbor {{ peer }}{{ ' interface' if peer!=n[af] else '' }} remote-as {{ n.as }}
  neighbor {{ peer }} description {{ n.name }}
{%     if n._source_intf is defined %}
  neighbor {{ peer }} update-source {{ n._source_intf.ifname }}
{%     endif %}
{%     if n.local_as is defined %}
  neighbor {{ peer }} local-as {{ n.local_as }} {{ 'no-prepend replace-as' if n.replace_global_as|default(True) else '' }}
{%     endif %}
{%     if af == 'ipv6' and n[af] is string and n.ipv4_rfc8950|default(False) %}
  neighbor {{ peer }} capability extended-nexthop
{%     endif %}
!
{%   endfor %}
{% endfor %}
{#
    Activate neighbors, set AF attributes
#}
{% for af in ['ipv4','ipv6'] if bgp[af] is defined %}
 address-family {{ af }} unicast
!
{{   redistribute.config(bgp,af=af) }}
{%   for l in netlab_interfaces if l.bgp.advertise|default("") and l[af] is defined and not 'vrf' in l %}
{%     if loop.first %}
!
! Originate networks from connected subnets
!
{%     endif %}
  network {{ l[af]|ipaddr(0) }}
{%   endfor %}
{%   for pfx in bgp.originate|default([]) if af == 'ipv4' %}
{%     if loop.first %}
!
! Originate networks from static routes
!
{%     endif %}
  network {{ pfx|ipaddr('0') }}
{%   endfor %}
!
{%   for n in bgp.neighbors if n.activate[af]|default(false) %}
{%     set peer = n[af] if n[af] is string 
                  else n.local_if if n.local_if is defined
                  else n.ipv6 if af == 'ipv4' and n.ipv4_rfc8950 
                  else False %}
{%     if peer %}
  neighbor {{ peer }} activate
{%       if n.next_hop_self|default(False) %}
  neighbor {{ peer }} next-hop-self{% if n.next_hop_self == 'all' %} force{% endif +%}
{%       endif %}
{%       if n.rr_client|default(False) %}
  neighbor {{ peer }} route-reflector-client
{%       endif %}
{%       if n.type in bgp.community|default({}) %}
  no neighbor {{ peer }} send-community all
{%         for c_type in bgp.community[n.type] %}
  neighbor {{ peer }} send-community {{ c_type }}
{%         endfor %}
{%       endif %}
{%     endif %}
!
{%   endfor %}
{% endfor %}
!
{#
    Advertise extra networks
#}
{% for pfx in bgp.originate|default([]) %}
ip route {{ pfx|ipaddr('0') }} Null0
{% endfor %}
!
do write
