!
{#
   Global BGP neighbor definition
#}
{% macro neighbor_global(n,ip) %}
  neighbor {{ ip }} remote-as {{ n.as }}
{% if n.local_as is defined %}
  neighbor {{ ip }} local-as {{ n.local_as }}{% 
    if n.replace_global_as|default(True) and n.type != 'localas_ibgp' %} no-prepend replace-as{% endif +%}
{% endif %}
  neighbor {{ ip }} description {{ n.name }}
{% if n.type == 'ibgp' %}
  neighbor {{ ip }} update-source Loopback0
{% endif %}
{%- endmacro %}
{#
   Address family BGP neighbor definition
#}
{% macro neighbor_af(n,ip,bgp) %}
  neighbor {{ ip }} activate
{% if 'ibgp' in n.type %}
{%   if bgp.next_hop_self is defined and bgp.next_hop_self %}
  neighbor {{ ip }} next-hop-self{% if n.type == 'localas_ibgp' %} all{% endif +%}
{%   endif %}
{%   if bgp.rr|default('') and (not n.rr|default('') or n.type == 'localas_ibgp') %}
  neighbor {{ ip }} route-reflector-client
{%   endif %}
{% endif %}
{% if n.type in bgp.community|default({}) %}
{%   for c_type in bgp.community[n.type] %}
  neighbor {{ ip }} send-community {{ c_type }}
{%   endfor %}
{% endif %}
{%- endmacro -%}
{#
   BGP network statement
#}
{% macro bgp_network(af,pfx) %}
{%   if af == 'ipv4' %}
  network {{ pfx|ipaddr('network') }} mask {{ pfx|ipaddr('netmask') }}
{%   else %}
  network {{ pfx|ipaddr('0') }}
{%   endif %}
{%- endmacro %}
