{% import "templates/routing/_redistribute.iosxr.j2" as redistribute with context %}
{% set ospf_pid=ospf.process|default(1) %}
{#
    Common BGP settings, including router ID and cluster ID
#}
{% macro bgp_common(bgp) %}
 bgp unsafe-ebgp-policy
 bgp scan-time 5
 bgp update-delay 5
{% if bgp.router_id is defined %}
 bgp router-id {{ bgp.router_id }}
{% endif %}
{% if bgp.rr_cluster_id|default(False) %}
 bgp cluster-id {{ bgp.rr_cluster_id }}
{% endif %}
{% endmacro %}
{#
    Define a BGP neighbor (within the BGP process) and activate address families
    for that neighbor, setting rr-client, next-hop-self and BGP community propagation
    for individual address families.
#}
{% macro bgp_neighbor(n,af,vrf=False) %}
!
 neighbor {{ n[af] }}
  remote-as {{ n.as }}
{% if n.local_as is defined %}
  local-as {{ n.local_as }}{%
    if n.replace_global_as|default(True) and n.type != 'localas_ibgp' %} no-prepend replace-as{% endif +%}
{% endif %}
  description {{ n.name }}
{%     if vrf and af == 'ipv6' %}
  session-open-mode both
{%     endif %}
{%     if '_source_intf' in n %}
  update-source {{ n._source_intf.ifname }}
{%     endif %}
{%     if n.activate[af]|default(False) %}
  address-family {{ af }} unicast
{%       if 'next_hop_self' in n %}
   next-hop-self
{%       endif %}
{%       if n.rr_client|default(False) %}
   route-reflector-client
{%       endif %}
{%       if 'ebgp' in n.type %}
{%         set csend=bgp.community[n.type]|default([]) %}
{%         if 'standard' in csend %}
   send-community-ebgp
{%         endif %}
{%         if 'extended' in csend %}
   send-extended-community-ebgp
{%         endif %}
{%       endif %}
{%     endif %}
{% endmacro -%}
!
{% if bgp.originate|default([]) %}
router static
 address-family ipv4 unicast
{%   for pfx in bgp.originate|default([]) %}
  {{ pfx|ansible.utils.ipaddr('0') }} Null0
{%   endfor %}
{% endif %}
!
router bgp {{ bgp.as }}
{{ bgp_common(bgp) }}
{% if bgp.confederation is defined %}
 bgp confederation identifier {{ bgp.confederation.as }}
 bgp confederation peers
{%   for p in bgp.confederation.peers %}
  {{ p }}
{%   endfor %}
{% endif %}
{% for af in ['ipv4','ipv6'] if bgp [af] is defined %}
!
 address-family {{ af }} unicast
  bgp scan-time 5
!
{%   for l in netlab_interfaces if l.bgp.advertise|default("") and l[af] is defined and not 'vrf' in l %}
  network {{ l[af]|ansible.utils.ipaddr(0) }}
{%   endfor %}
{%   if bgp.import is defined %}
{{  redistribute.config(bgp,af=af,ospf_pid=ospf_pid,t_proto='bgp')|indent(1,first=True) }}
{%   endif %}
!
{%   for pfx in bgp.originate|default([]) if af == 'ipv4' %}
  network {{ pfx|ansible.utils.ipaddr('0') }}
{%   endfor %}
{% endfor %}
{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors|default([]) if n[af] is defined %}
{{     bgp_neighbor(n,af) }}
{%   endfor %}
{% endfor %}
