{% import "junos.macro.j2" as bgpcfg with context %}
{% set JUNOS_AF = { 'ipv4': 'inet', 'ipv6': 'inet6' } %}

routing-options {
  autonomous-system {{ bgp.as }};
{% if bgp.router_id|ipv4 %}
  router-id {{ bgp.router_id }}
{% endif %}
{% if bgp.originate is defined %}
  static {
{% for pfx in bgp.originate|default([]) %}
    route {{ pfx|ipaddr('0') }} discard;
{% endfor %}
  }
{% endif %}
}

{% include "junos.policy.j2" with context %}

protocols {
  delete: bgp;
}
protocols {
  bgp {
{% for af in ['ipv4','ipv6'] if bgp[af] is defined and loopback[af] is defined %}
    group ibgp-peers-{{ af }} {
      type internal;
      export [ 
          {{ (bgp._junos_policy.ibgp|default([]) + bgp._junos_policy.export|default([]))|join(' ') }}
        ];
      advertise-inactive;
{% if bgp.rr|default(False) %}
      cluster {{ bgp.rr_cluster_id|default(False) or bgp.router_id }};
{% endif %}
{%   for n in bgp.neighbors if n[af] is defined and n.type == 'ibgp' %}
      neighbor {{ n[af] }} {
{#     apply per-neighbor policies, if defined #}
{{     bgpcfg.bgp_neighbor_policy(n) }}
{%     if n._source_intf[af] is defined %}
        local-address {{ n._source_intf[af]|ipaddr('address') }};
{%     endif %}
        description {{ n.name }};
{%     if n.activate[af]|default(false) %}
        family {{ JUNOS_AF[af] }} {
          unicast;
        }
{%     else %}
        shutdown;
{%     endif %}
      }
{%   endfor %}
    }
{% endfor %}
    group ebgp-peers {
      export [ 
          {{ (bgp._junos_policy.export|default([]))|join(' ') }}
        ];
      advertise-inactive;
{# treat localas_ibgp as ebgp session --> no usage of local address #}
{% for n in bgp.neighbors if (n.type == 'ebgp' or n.type == 'localas_ibgp') %}
{%   for af in ['ipv4','ipv6'] if n[af] is defined %}
      neighbor {{ n[af] }} {
{#     apply per-neighbor policies, if defined #}
{{     bgpcfg.bgp_neighbor_policy(n) }}
        peer-as {{ n.as }};
        description {{ n.name }};
{%     if n.local_as is defined %}
        local-as {{ n.local_as }}{% if n.replace_global_as|default(True) %} no-prepend-global-as{% endif +%};
{%     endif %}
{%     if n.rr_client is defined %}
        cluster {{ bgp.rr_cluster_id|default(False) or bgp.router_id }};
{%     endif %}
{%     if n.activate[af]|default(false) %}
        family {{ JUNOS_AF[af] }} {
          unicast;
        }
{%     else %}
        shutdown;
{%     endif %}
      }
{%   endfor %}
{% endfor %}
    }
  }
}
