{#
   Macro to create the common objects (mark community, bgp-final policy)
#}
{% macro common(vname) %}
  delete: policy-statement bgp-{{ vname }}-redistribute;
  delete: route-filter-list bgp-{{ vname }}-announce-ipv4;
  delete: route-filter-list bgp-{{ vname }}-announce-ipv6;

  community x-route-permit-mark members large:65535:0:65536;

  policy-statement bgp-final {
    term final-option {
      from community x-route-permit-mark;
      then {
        community delete x-route-permit-mark;
        accept;
      }
    }
    term default-reject {
      then reject;
    }
  }
{% endmacro %}
{#
   Macro for BGP neighbor policy application
   Uses custom neigh._junos_policy.xxx attributes
#}
{% macro bgp_neighbor_policy(n) %}
{%   for p_direction in ['import', 'export'] %}
{%     if n._junos_policy[p_direction]|default([]) %}
        {{p_direction}} [ {{ n._junos_policy[p_direction]|join(' ') }} ];
{%     endif %}
{%   endfor %}
{%- endmacro %}
{#
   Macro to create the per-routing-instance advertise prefix lists
#}
{% macro advertise_list(bgp,vname) %}
{%   for bgp_af in ['ipv4','ipv6'] %}
{%     for pfx in bgp.advertise|default([]) if bgp_af in pfx %}
{%       if loop.first %}
  route-filter-list bgp-{{ vname }}-announce-{{ bgp_af }} {
{%       endif %}
    {{ pfx[bgp_af] }} exact;
{%       if loop.last %}
  }
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endmacro +%}
{#
   Macro to create per-routing-instance advertise terms
#}
{% macro advertise_terms(bgp,vname) %}
{%   for bgp_af in af %}
{%     for pfx in bgp.advertise|default([]) if bgp_af in pfx %}
{%       if loop.first %}
    term advertise-{{ bgp_af }} {
      from {
        route-filter-list bgp-{{ vname }}-announce-{{ bgp_af }};
      }
      then {
        community add x-route-permit-mark;
        next policy;
      }
    }
{%      endif %}
{%     endfor %}
{%   endfor %}
{% endmacro +%}
{#
   Macro to create terms for route redistribution
#}
{% macro import_terms(pdata) %}
{%   set protomap = {
       'connected': 'direct'
     }
%}
{%   for proto in pdata.import|default({}) %}
    term redist_{{ proto }} {
      from {
        protocol {{ protomap[proto]|default(proto) }};
{%     if pdata.import[proto].policy is defined %}
        policy [ {{ pdata.import[proto].policy }} bgp-final ];
{%     endif %}
      }
      then {
        community add x-route-permit-mark;
        next policy;
      }
    }
{%   endfor %}
{% endmacro +%}
{#
   Macro to create per-routing-instance import/propagate/advertise policy
#}
{% macro redistribute(bgp,vname) %}
  policy-statement bgp-{{ vname }}-redistribute {
{{ advertise_terms(bgp,vname) }}
    term redis_bgp {
      from protocol bgp;
      then {
        community add x-route-permit-mark;
        next policy;
      }
    }
{{ import_terms(bgp) }}
    term default {
      then reject;
    }
  }
{% endmacro +%}