
{#
   Macro for BGP neighbor policy application
   Uses custom neigh._junos_policy.xxx attributes
#}
{% macro bgp_neighbor_policy(n) %}
{%   for p_direction in ['import', 'export'] %}
{%     if n._junos_policy[p_direction]|default([]) %}
        {{p_direction}} [ {{ n._junos_policy[p_direction]|join(' ') }} ];
{%     endif %}
{%   endfor %}
{%- endmacro %}
