{#
   BGP neighbor definition
#}
{% macro neighbor(n,ip,bgp,instance) %}
{%   set neigh_id = ip|replace('.', '_')|replace(':', '_') %}
/routing/bgp/connection add template={{ instance }} instance=main name={{ neigh_id }} remote.address={{ ip }} remote.as={{ n.as }} comment="{{ n.name }}" local.role=ebgp
/routing/bgp/connection set [/routing/bgp/connection find name={{ neigh_id }}] afi={{ 'ipv6' if ':' in ip else 'ip' }}

/routing/filter/rule add chain=filter_{{neigh_id}} rule="accept;"

/routing/bgp/connection set [/routing/bgp/connection find name={{ neigh_id }}] output.filter-chain=filter_{{neigh_id}}
{%   if n.type == 'ibgp' %}
{%     if bgp.rr|default('') and not n.rr|default('') %}
/routing/bgp/connection set [/routing/bgp/connection find name={{ neigh_id }}] local.role=ibgp-rr
{%     else %}
/routing/bgp/connection set [/routing/bgp/connection find name={{ neigh_id }}] local.role=ibgp local.address=loopback
{%     endif %}
{%     if bgp.next_hop_self is defined and bgp.next_hop_self %}
/routing/filter/rule add chain=filter_{{ neigh_id }} rule="jump filter_rr_self_ebgp;" place-before=0
{%     endif %}
{%   endif %}
{%- endmacro %}



{#
   BGP community propagation configuration
#}
{% macro neighbor_community(n,ip,bgp) %}
{%   set neigh_id = ip|replace('.', '_')|replace(':', '_') %}
{% if n.type in bgp.community|default({}) %}
{%   set c_list = bgp.community[n.type] %}
{# delete communities that should not be advertised #}
{% set all_c_types = ['standard', 'large', 'extended'] %}
{% set excl_list = all_c_types | reject('in', c_list) | list %}
{%     for c_type in excl_list %}
/routing/filter/rule/add chain=filter_{{neigh_id}} rule="jump rm_{{c_type}}_communities;" place-before=0
{%     endfor %}
{% endif %}
{%- endmacro -%}

{#
   BGP network statement
#}
{% macro bgp_network(af,pfx) %}
# BGP Network now is controlled by simple ACL
{%   set kw = af.replace('v4','') %}
/{{ kw }}/firewall/address-list add list=bgp-networks address={{ pfx|ansible.utils.ipaddr('0') }}
{%- endmacro %}
