{% import "routeros7.macro.j2" as bgpcfg %}

/routing/bgp/template add name=main as={{ bgp.as }} output.network=bgp-networks
/routing/bgp/instance add name=main as={{ bgp.as }}

{% if bgp.router_id is defined %}
/routing/id add name=bgp_id id={{ bgp.router_id }} select-dynamic-id=""

/routing/bgp/instance set [/routing/bgp/instance find name=main] router-id=bgp_id
{% endif %}

{%- if bgp.rr|default(False) and bgp.rr_cluster_id|default(False) %}
/routing/bgp/instance set [/routing/bgp/instance find name=main] cluster-id={{ bgp.rr_cluster_id }}
{% endif %}

{#
  Add route-map for next-hop-self
#}
{% for n in bgp.neighbors %}
{%   for af in ['ipv4','ipv6'] if n[af] is defined %}
{%     if n.type == 'ebgp' %}
/routing/filter/rule add chain=rr-out-bgp rule="if ( bgp-input-remote-addr == {{n[af]}} ) { set gw {{bgp.router_id}}; accept; }"
{%     endif %}
{%   endfor %}
{% endfor %}
/routing/filter/rule add chain=rr-out-bgp rule="accept;"

{% for n in bgp.neighbors %}
{%   for af in ['ipv4','ipv6'] if n[af] is defined %}
{{     bgpcfg.neighbor(n,n[af],bgp,'main') }}
{%   endfor %}
{% endfor %}

{# Set networks to announce #}
{% for af in ['ipv4','ipv6'] %}
{%   if bgp[af] is defined %}
{%     for l in netlab_interfaces if l.bgp.advertise|default("") and l[af] is defined and not 'vrf' in l %}
{{       bgpcfg.bgp_network(af,l[af]) }}
{%     endfor %}

{%     for pfx in bgp.originate|default([]) if af == 'ipv4' %}
{{       bgpcfg.bgp_network(af,pfx) }}
{%     endfor %}

{%   endif %}
{% endfor %}

{#
  Add extra IPv4 prefixes
#}
{% for pfx in bgp.originate|default([]) %}
/ip route add blackhole dst-address={{ pfx|ansible.utils.ipaddr('0') }}
{% endfor %}
