updates:

{#
  Define default import/export policies for iBGP and eBGP: accept all
#}
- path: routing-policy/policy[name=accept_all]
  val:
   default-action:
    accept: {}

{% from "srlinux.macro.j2" import bgp_config with context %}
{% set _add_interfaces = bgp.update( { 'interfaces': interfaces } ) %}
{{ bgp_config('default',bgp.as,bgp.router_id,bgp,{}) }}
