updates:
- path: openconfig-network-instance:network-instances/network-instance[name=Base]/protocols
  val:
   protocol:
   - identifier: "BGP"
     name: "0"
     config:
      identifier: "BGP"
      name: "0"
      enabled: True
     bgp:
      global:
       config:
        as: {{ bgp.as }}
