{% from "./sros.gnmi.macro.j2" import bgp_config with context %}

updates:

- path: configure/policy-options/policy-statement[name=accept_all]
  val:
   default-action:
    action-type: accept

{{ bgp_config(bgp,None) }}