---
sources:
- name: netlab_ssh
  hosts:
{% for nn,nd in nodes.items()
     if nd.ansible_connection|default('') in ['ssh','paramiko','network_cli']
       and ('ipv4' in nd.mgmt or 'ipv6' in nd.mgmt) %}
  - url: ssh://{{ nd.ansible_user }}:{{ nd.ansible_ssh_pass }}@{{ 
            nd.mgmt.ipv4|default(nd.mgmt.ipv6) }}:{{ nd.ansible_ssh_port or '22' }}/
{% endfor %}

devices:
- name: ignore-known-hosts
  ignore-known-hosts: true
  transport: ssh

namespaces:
- name: netlab_ssh
  source: netlab_ssh
  device: ignore-known-hosts
