# Ignore Vagrant directories
.vagrant
.DS_Store

# Ignore editor files
.vscode/
.idea/

# Ignore python virtual envs
.venv/
venv/

# Ignore text files
!requirements.txt
*.txt

# Ignore everything that should be ignored ;)
*.ignore.*
x/

# Ignore Ansible retry and log files
*.retry
ansible.log

# Ignore Python cache
__pycache__
*.pyc

# Ignore Sphinx build directory
_build
build/

# Don't publish SFTP configuration
sftp-config.json

# Ignore Python packaging directories
dist/
.eggs/
*.egg-info
.vscode/launch.json
