# Ignore Vagrant directories
.vagrant
.DS_Store

# Ignore text files
*.txt

# Ignore everything that should be ignored ;)
*.ignore.*

# Ignore Ansible retry and log files
*.retry
ansible.log

# Ignore Python cache
__pycache__
*.pyc

# Ignore Sphinx build directory
_build

# Don't publish SFTP configuration
sftp-config.json
