# Ignore Vagrant directories
.vagrant
.DS_Store

# Ignore editor files
.vscode/**
.idea/

# Ignore python virtual envs
.venv/
venv/

# Ignore text files, unless they're in the installation
# or documentation directory
#
!requirements.txt
*.txt
!netsim/install/**/*.txt
!docs/labs/*.txt

# Ignore everything that should be ignored ;)
*.ignore.*
x/
publish-pypi.sh

# Ignore Ansible retry and log files
*.retry
ansible.log

# Ignore Python cache
__pycache__
*.pyc

# Ignore Sphinx build directory
_build
build/

# Don't publish SFTP configuration
sftp-config.json

# Ignore Python packaging directories
dist/
.eggs/
*.egg-info

# Ignore netlab-created topology files
group_vars/
host_vars/
hosts.yml
ansible.cfg
Vagrantfile
