recursive-include netsim/ansible *
recursive-include netsim/extra *
recursive-include netsim/daemons *
recursive-include netsim/install *
recursive-include netsim/reports *
recursive-include netsim/templates *
recursive-include netsim/tools *
recursive-include netsim *.yml
recursive-include netsim/cli *.txt
include requirements.txt
