recursive-include netsim/ansible *
recursive-include netsim/extra *
recursive-include netsim/templates *
recursive-include netsim/daemons *
recursive-include netsim/install *
recursive-include netsim/tools *
recursive-include netsim *.yml
include requirements.txt
include netsim/cli/usage.txt
include netsim/cli/show-usage.txt
include netsim/cli/alias.txt
