#
# Python library requirements for netsim-tools
#
Jinja2 >= 3.1.4
PyYAML >= 5.0.0
netaddr >= 0.8.0
python-box ~= 7.2,!=7.3.1
importlib_resources
typing-extensions>=4.3.0
filelock >= 3.16.1
packaging
requests
rich
