!
! Dell OS10 only supports a single global configuration, not different timer intervals per interface
!
bfd interval {{ bfd.min_tx|default(500) }} min_rx {{ bfd.min_rx|default(500) }} multiplier {{ bfd.multiplier|default(3) }} role active
bfd enable
