auto lo
iface lo inet loopback

auto mgmt
iface mgmt
    vrf-table auto

auto eth0
iface eth0 inet static
    address {{ mgmt.ipv4 }}/{{ addressing.mgmt.prefix }}
    gateway {{ addressing.mgmt.ipv4 | ipv4(1) | ipaddr('address') }}
    vrf mgmt

source /etc/network/interfaces.d/*.intf
