#
# Missing config deployment functionality
#
# This task list is executed if a device cannot be configured
#
- debug:
    msg: |
      Configuration action {{netsim_action}} failed for device
      {{inventory_hostname}} device type {{ netlab_device_type|default(ansible_network_os) }} operating system {{ ansible_network_os }}.

      Cannot find action-specific or generic configuration task list.
