echo "Setting password for user Vagrant"
echo vagrant:{{ n.ansible_ssh_pass|default }} | chpasswd

echo "Enabling SSH password authentication"
sed -i -e "s#PasswordAuthentication no#PasswordAuthentication yes#" /etc/ssh/sshd_config
service sshd restart
