{% if _vagrant_scripts.cumulus_nvue is not defined %}
{%   set _vagrant_scripts.cumulus_nvue = True %}

    $cumulus_script = <<-SCRIPT

function set_cumulus_password(){
{% set _password = defaults.devices.cumulus_nvue.group_vars.ansible_ssh_pass %}
    echo "### Setting cumulus user password to '{{ _password }}' ###"
    echo "cumulus ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/10_cumulus
    echo "cumulus:{{ _password }}" | chpasswd
    mkdir /home/cumulus/.ssh/
    cat /home/vagrant/.ssh/authorized_keys >> /home/cumulus/.ssh/authorized_keys
    chown -R cumulus:cumulus /home/cumulus/.ssh/
    chmod 0700 /home/cumulus/.ssh/
    chmod 0600 /home/cumulus/.ssh/authorized_keys
}
function disable_ztp(){
    echo "### Disabling ZTP service..."
    systemctl stop ztp.service
    ztp -d 2>&1
}
if grep -q -i 'cumulus' /etc/lsb-release &> /dev/null; then
    echo "### RUNNING CUMULUS EXTRA CONFIG ###"
    set_cumulus_password
    disable_ztp
fi

    SCRIPT

{% endif %}
    {{ name }}.ssh.insert_key = false
    if VAGRANT_COMMAND == "ssh" or VAGRANT_COMMAND == "scp"
        {{ name }}.ssh.username = 'cumulus'
    end

    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 2
      domain.memory = 2048
    end

    # Run cumulus-specific Vagrant box configuration
    {{ name }}.vm.provision :shell , :inline => $cumulus_script