    {{ name }}.vm.box = "{{ box }}"
{% if 'box_version' in n  %}
    {{ name }}.vm.box_version = "{{ n.box_version }}"
{% endif %}
    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 2
      domain.memory = 768
    end
