    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true
    {{ name }}.ssh.insert_key = false
    {{ name }}.ssh.username = "{{ n.ansible_user }}"
    {{ name }}.ssh.password = "{{ n.ansible_ssh_pass }}"
    #{{ name }}.ssh.private_key_path = "~/.ssh/id_ed25519"

    {{ name }}.vm.provider :libvirt do |domain|
      domain.disk_bus = 'virtio'
      domain.cpus = 1
      domain.memory = 2048
      domain.graphics_type = "none"
      domain.video_type = "none"
    end
