{#
  Forwarded Libvirt Ports
#}

{% if defaults.providers.libvirt.forwarded is defined %}
    {{ name }}.vm.provider :libvirt do |libvirt|
      libvirt.forward_ssh_port = true
    end
{%   for port,base in defaults.providers.libvirt.forwarded.items() %}
    {{ name }}.vm.network "forwarded_port",
      guest: {{ defaults.ports[port] }}, host: {{ base + n.id }}, id: "{{ port }}"
{%   endfor %}
{% endif %}
