    {{ name }}.vm.box = "{{ box }}"
    {{ name }}.vm.guest = :freebsd
    {{ name }}.ssh.insert_key = false
    {{ name }}.ssh.shell = "/ip address print"
{% if 'box_version' in n  %}
    {{ name }}.vm.box_version = "{{ n.box_version }}"
{% endif %}
    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 1
      domain.memory = 256
    end
