    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true
    {{ name }}.ssh.insert_key = false
    {{ name }}.ssh.username = "admin"
    {{ name }}.ssh.password = "YourPaSsWoRd"

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 2
      domain.memory = 4096
      domain.nic_model_type = "virtio"
      domain.graphics_type = "none"
      domain.driver = "kvm"
    end
