VAGRANT_COMMAND = ARGV[0]

Vagrant.configure("2") do |config|
  config.vm.provider :libvirt do |libvirt|
{% if addressing.mgmt._network|default(False) %}
    libvirt.management_network_name = "{{ addressing.mgmt._network }}"
{% endif %}
{% if addressing.mgmt._permanent|default(False) %}
    libvirt.management_network_keep = true
{% endif %}
    libvirt.management_network_address = "{{ addressing.mgmt.ipv4 }}"
    libvirt.default_prefix = "{{ defaults.name }}_"
  end
{% for name,n in nodes.items() if not (n.unmanaged|default(False)) %}
{%   set name = name.split('.')[0] %}
{%   set box  = n.box %}
{%   include [ n.device ~ "-raw.j2","define-domain.j2" ] +%}
{% endfor %}
end

