    guest_name = "{{ name }}"
    {{ name }}.vm.guest = :tinycore
    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.ssh.insert_key = false

    {{ name }}.vm.boot_timeout = 6000

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 4
      domain.memory = 8192
      domain.disk_bus = "virtio"
      domain.driver = "kvm"
      domain.nic_model_type = "virtio"
      domain.graphics_type = "none"
      domain.nested = true
      domain.cpu_mode = "custom"
      domain.cpu_model = "qemu64"
      domain.cpu_feature :name => 'vmx', :policy => 'require'
      domain.sysinfo = {
        "bios": {
          "vendor": "Bochs",
          "version": "Bochs"
        },
        "system": {
            "manufacturer": "Bochs",
            "product": "Bochs",
            "serial": "chassis_no=0:slot=0:type=1:assembly_id=0x0D20:platform=251:master=0:channelized=no"
        },
        "chassis": {
          "manufacturer": "Bochs"
        }
      }

      {% if "amd" in defaults.processor|lower %}
      domain.cpu_mode = "custom"
      {% endif %}
    end
