    guest_name = "{{ name }}"
    {{ name }}.vm.guest = :tinycore
    {{ name }}.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true

    {{ name }}.ssh.insert_key = false

    # Limit CPU once Box has finished booting.
    {{ name }}.trigger.after :up do |trigger|
      trigger.name = "Finished Message"
      trigger.info = "Machine is up! : {{ defaults.name }}_{{ name }}"
      trigger.run = {inline: "virsh schedinfo {{ defaults.name }}_{{ name }} --set vcpu_quota=50000"}
    end

    {{ name }}.vm.provider :libvirt do |domain|
      domain.cpus = 2
      domain.memory = 4096
      domain.disk_bus = "ide"
      {% if "amd" in defaults.processor|lower %}
      domain.cpu_mode = "custom"
      {% endif %}
    end
