#!/bin/bash
source /pkg/bin/ztp_helper.sh
tail -n +2 $1 > /tmp/config.conf # strip first line since config is rejected when shebang is present
if grep -v -e '^!' /tmp/config.conf >/dev/null; then
  xrapply /tmp/config.conf
else
  echo "No configuration to apply"
fi
