---
# Find the temporary IP address
#
- name: "Get current IOS XR IP address from Vagrant"
  ansible.builtin.shell: "vagrant ssh-config {{ inventory_hostname }}|grep -i hostname|grep -o '[0-9.]*'"
  changed_when: false
  register: ssh_config

# Add secondary IP address to the IOS XR management interface if the DHCP server gave
# it an unexpected IP address due to its use of ASCII DHCP client ID
#
- block:
  - name: "Change ansible_hostname for IOS XR to temporary Vagrant-supplied IP address"
    ansible.builtin.set_fact:
      ansible_host: "{{ ssh_config.stdout }}"

  - name: "Configure secondary IP address on IOS XR management interface"
    cisco.iosxr.iosxr_config:
      parents:
      - interface {{ mgmt.ifname }}
      lines:
      - ip address {{ mgmt.ipv4 }} 255.255.255.0 secondary

  when: ssh_config is defined and ansible_host != ssh_config.stdout
