---
- name: Wait for first interface ({{ interfaces[0].junos_interface }})
  junipernetworks.junos.junos_command:
    commands:
    - show interfaces terse
    wait_for:
    - result[0] contains {{ interfaces[0].junos_interface }}
    interval: 5
    retries: 60
  when: interfaces
