#
# Use this task list to figure out when a VM in a container is started
#
---
- name: Check if 'sshpass' is installed
  shell:
    cmd: which sshpass
  delegate_to: localhost
  changed_when: false
  run_once: true
  any_errors_fatal: true

- name: Check for 'timeout' command
  shell:
    cmd: which timeout || echo "FAILED"
  delegate_to: localhost
  changed_when: false
  register: have_timeout

- name: Execute local ssh command to check {{ netlab_device_type|default(inventory_hostname) }} readiness
  shell:
    cmd: |
      {{ 'timeout -k 10s 10s' if "FAILED" not in have_timeout.stdout else '' }} sshpass -p '{{ ansible_ssh_pass }}' \
      ssh -o StrictHostKeyChecking=no {{ netlab_ssh_args|default('') }} \
          -o UserKnownHostsFile=/dev/null {{ ansible_user }}@{{ ansible_host }} \
          '{{ netlab_check_command | default("show version") }}'
  delegate_to: localhost
  changed_when: false
  register: command_out
  until: command_out.rc == 0
  retries: "{{ netlab_check_retries | default(20) }}"
  delay: "{{ netlab_check_delay | default(5) }}"

- name: Confirm {{ inventory_hostname }} SSH server works
  ansible.builtin.debug:
    msg: "Node {{ inventory_hostname }} is ready."
  when: command_out.rc == 0
