{#
  OcNOS ebgp.multihop plugin template.
  OKF-verified: `neighbor X ebgp-multihop <hops>` (router level). netlab sets
  neighbor.multihop = the TTL/hop count on the (loopback) eBGP session.
#}
{% if bgp.as is defined %}
router bgp {{ bgp.as }}
{% for n in bgp.neighbors|default([]) if n.multihop is defined %}
{% for af in ['ipv4'] if n[af] is defined and n[af] is string %}
 neighbor {{ n[af] }} ebgp-multihop {{ n.multihop }}
{% endfor %}
{% endfor %}
!
{% endif %}
