ipv6 access-list drop-ipv6
   10 deny ipv6 any any
!

ipv6 access-list drop-vrrp
   10 deny 112 any any
!

interface {{ interfaces[0].ifname }}
  {{ 'no ' if acl|default('allow') == 'allow' else '' }}ipv6 access-group drop-ipv6 in
  {{ 'no ' if acl|default('allow') == 'allow' else '' }}ipv6 access-group drop-vrrp out
