{% import "templates/routing/_default.ios.j2" as ospf_default %}
!
router ospf {{ pid }}
{% if ospf.router_id|ipv4 %}
    router-id {{ ospf.router_id }}
{% endif %}

{{ ospf_default.config(ospf,'ipv4') }}

{% if ospf.import is defined %}
{%   for s_proto,s_data in ospf.import.items() %}
 redistribute {{ s_proto }}{% if 'policy' in s_data %} route-map {{ s_data.policy }}-ipv4{% endif +%}
{%   endfor %}
{% endif %}

{% if ospf.reference_bandwidth is defined %}
    reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}

{# need to define all areas in advance #}
    area {{ ospf.area }}
{% for l in interfaces|default([]) if 'ospf' in l and 'ipv4' in l %}
    area {{ l.ospf.area }}
{% endfor %}

!
interface loopback 0
    ip ospf {{ pid }} area {{ ospf.area }}
!
{% for l in interfaces|default([]) if 'ospf' in l and 'ipv4' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
    ip ospf {{ pid }} area {{ l.ospf.area }}
{%   if l.ospf.network_type|default("") in ["broadcast","point-to-point"] %}
    ip ospf network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
    ip ospf cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
    ip ospf bfd
{%   endif %}
{%   if l.ospf.passive|default(False) and not l.ifname.startswith('loopback') %}
    ip ospf passive
{%   endif %}
{%   if l.ospf.timers.hello is defined %}
    ip ospf hello-interval {{ l.ospf.timers.hello }}
{%   endif %}
{%   if l.ospf.timers.dead is defined %}
    ip ospf dead-interval {{ l.ospf.timers.dead }}
{%   endif %}
{%   if l.ospf.priority is defined %}
    ip ospf priority {{ l.ospf.priority }}
{%   endif %}
{%   if l.ospf.password is defined %}
    ip ospf authentication simple-text
    ip ospf authentication-key plaintext {{ l.ospf.password }}
{%   endif %}
!
{% endfor %}
