- set:
    router:
      ospf:
        enable: on
    vrf:
      default:
        router:
          ospf:
            enable: on
{% if ospf.reference_bandwidth is defined %}
            reference-bandwidth: {{ ospf.reference_bandwidth }}
{% endif %}
{% if 'router_id' in ospf %}
            router-id: {{ ospf.router_id }}
{% endif %}
{% set node_area = ospf.area|default('0.0.0.0') %}
            area:
{% for o_area in interfaces|json_query('[*].ospf.area')|union([node_area])|unique %}
              '{{ o_area }}':
                network:
{%   if o_area == node_area and 'ipv4' in loopback %}
                  {{ loopback.ipv4 }}: {}
{%   endif %}
{%   for l in interfaces if 'ipv4' in l and l.ipv4 is string and l.ospf.area|default('') == o_area %}
                  {{ l.ipv4 }}: {}
{%   endfor %}
{% endfor %}
{% for l in interfaces|default([]) if 'ospf' in l %}
{%   if loop.first %}
    interface:
{%   endif %}
      {{ l.ifname }}:
        router:
          ospf:
{%   if l.ospf.cost is defined %}
            cost: {{ l.ospf.cost }}
{%   endif %}
            network-type: {{ l.ospf.network_type|default('broadcast') }}
{%   if l.ospf.passive | default(False) %}
            passive: on
{%   endif %}
{% endfor %}
