{% set pid = ospf.process|default(1) %}
router ospf {{ pid }}
{% if ospf.router_id|ipv4 %}
 ospf router-id {{ ospf.router_id }}
{% endif %}
{% for l in interfaces|default([]) if l.ospf.passive|default(False) %}
 passive-interface {{ l.ifname }}
{% endfor %}
{% if ospf.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}
!
interface lo
 ip ospf {{ pid }} area {{ ospf.area }}
!
{% for l in interfaces|default([]) if 'ospf' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 ip ospf {{ pid }} area {{ l.ospf.area }}
{%   if l.ospf.network_type is defined %}
 ip ospf network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
 ip ospf cost {{ l.ospf.cost }}
{%   endif %}
!
{% endfor %}
do write
