{% from "dellos10.macro.j2" import configure_ospf_interface,configure_ospf_default %}
{% import "templates/routing/_redistribute.dellos10.j2" as redistribute with context %}

router ospf {{ pid }}
{% if ospf.router_id|ipv4 %}
 router-id {{ ospf.router_id }}
{% endif %}
{% if ospf.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}
{{ redistribute.config(ospf,af='ipv4') }}
{{ configure_ospf_default(ospf) }}

 timers lsa arrival 100
 timers spf 10 50 500
 timers throttle lsa all 100
!
interface loopback0
 ip ospf {{ pid }} area {{ ospf.area }}
 ip ospf passive
!
{% for l in interfaces|default([]) if 'ospf' in l and 'ipv4' in l %}
{{   configure_ospf_interface(l,pid) }}
{% endfor %}
