{% macro configure_ospf_interface(l,ospf_pid,af="ip") %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 {{ af }} ospf {{ ospf_pid }} area {{ l.ospf.area }}
{%   if l.ospf.network_type|default("") in ["broadcast","point-to-point"] %}
 {{ af }} ospf network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
 {{ af }} ospf cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
 {{ af }} ospf bfd all-neighbors
{%   endif %}
{%   if l.ospf.passive|default(False) %}
 {{ af }} ospf passive
{%   endif %}
{%   if l.ospf.priority is defined %}
 {{ af }} ospf priority {{ l.ospf.priority }}
{%   endif %}
{%   if l.ospf.timers.hello is defined %}
 {{ af }} ospf hello-interval {{ l.ospf.timers.hello }}
{%   endif %}
{%   if l.ospf.timers.dead is defined %}
 {{ af }} ospf dead-interval {{ l.ospf.timers.dead }}
{%   endif %}
{%   if l.ospf.password is defined %}
 {{ af }} ospf authentication-key {{ l.ospf.password }}
{%   endif %}
!
{% endmacro %}

{% macro configure_ospf_default(ospf_data) %}
{% if ospf_data.default is defined %}
{%   set dfd = ospf_data.default %}
 default-information originate{%
     if dfd.always|default(False) %} always{% endif %}
{% endif %}
{% endmacro %}
