{% macro config(ospf_pid,ospf_vrf,ospf_data,intf_data,bgp={}) %}
!
! OSPFv2 configuration
!
{% if ospf_vrf %}
router ospf {{ ospf_pid }} vrf {{ ospf_vrf }}
{% else %}
router ospf {{ ospf_pid }}
{% endif %}
{#
  Get local- or global OSPF router ID. Global is always set
#}
{% if ospf_data.router_id|ipv4 %}
 router-id {{ ospf_data.router_id }}
{% endif %}
 interface unnumbered hello mask tx 0.0.0.0
 timers spf delay initial 100 200 500
 timers lsa rx min interval 100
 timers lsa tx delay initial 100 200 500
{% if ospf_vrf %}
{%   if bgp.as is defined %}
 redistribute bgp include leaked
{%   endif %}
 redistribute connected
{% endif %}
{% if ospf_data.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf_data.reference_bandwidth }}
{% endif %}
{% for l in intf_data if l.ospf.passive|default(False) %}
 passive-interface {{ l.ifname }}
{% endfor %}
!
{% for l in intf_data if 'ospf' in l and 'ipv4' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 ip ospf area {{ l.ospf.area }}
{%   if l.ospf.network_type|default("") in ["broadcast","point-to-point"] %}
{%     if l.ospf.network_type == "broadcast" %}
 no ip ospf network
{%     else %}
 ip ospf network {{ l.ospf.network_type }}
{%     endif %}
{%   endif %}
{%   if l.ospf.cost is defined %}
 ip ospf cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
 ip ospf neighbor bfd
{%   endif %}
!
{% endfor %}
{% endmacro %}