{% import "eos.ospfv2.j2" as ospfv2 %}
{% import "eos.ospfv3.j2" as ospfv3 %}
{% set ospf_pid = ospf.process|default(1) %}
{% if ospf.af.ipv4 is defined %}
{{   ospfv2.config(ospf_pid,False,ospf,netlab_interfaces) }}
{% endif %}
{% if ospf.af.ipv6 is defined %}
{{   ospfv3.config(ospf_pid,False,ospf,netlab_interfaces) }}
{% endif %}
