{% set ospf_pid = ospf.process|default(1) %}
{% set ospf_data = ospf %}
{% set intf_data = interfaces|default([]) %}
{% set ospf_vrf = False %}
{% if ospf.af.ipv4 is defined %}
{% include 'eos.ospfv2.j2' %}
{% endif %}
{% if ospf.af.ipv6 is defined %}
{% include 'eos.ospfv3.j2' %}
{% endif %}
