{% set vdom_traffic = netlab_vdom|default(vdom) %}
{% set multi_vdom = vdom_traffic != vdom %}

{% if multi_vdom %}
config vdom
    edit {{ vdom_traffic }}
{% endif %}

config router ospf
    set router-id {{ ospf.router_id }}
{%  if ospf.reference_bandwidth is defined %}
    set auto-cost-ref-bandwidth {{ ospf.reference_bandwidth }}
{%  endif %}
{%  set passive_intfs = netlab_interfaces|selectattr('ospf', 'defined')|selectattr('ospf.passive', 'defined')|selectattr('ospf.passive')|map(attribute='ifname')|list %}
{%  if passive_intfs|length > 0 %}
    set passive-interface {{ passive_intfs|join(' ') }}
{%  endif %}
{%  if netlab_interfaces|selectattr('ospf', 'defined')|list|length > 0 %}

    config ospf-interface
{%  for intf in netlab_interfaces if 'ospf' in intf %}
        edit "{{ intf.ifname }}"
            set interface "{{ intf.ifname }}"
{%          if intf.ospf.network_type is defined %}
            set network-type {{ intf.ospf.network_type }}
{%          endif %}
{%          if intf.ospf.cost is defined %}
            set cost {{ intf.ospf.cost }}
{%          endif %}
{%          if intf.ospf.timers.hello is defined %}
            set hello-interval {{ intf.ospf.timers.hello }}
{%          endif %}
{%          if intf.ospf.timers.dead is defined %}
            set dead-interval {{ intf.ospf.timers.dead }}
{%          endif %}
{%          if intf.ospf.priority is defined %}
            set priority {{ intf.ospf.priority }}
{%          endif %}
{%          if intf.ospf.password is defined %}
            set authentication text
            set authentication-key {{ intf.ospf.password }}
{%          endif %}
            set status enable
        next
{%  endfor %}
    end
{%  endif %}

    config area
{%  for area_data in ospf.areas|default([]) %}
        edit {{ area_data.area }}
        next
{%  endfor %}
    end

    config network
{%  for intf in netlab_interfaces if intf.ospf.area is defined %}
        edit {{ intf.ifindex }}
            set prefix {{ intf.ipv4|ansible.utils.ipaddr('subnet') }}
            set area {{ intf.ospf.area }}
        next
{%  endfor %}
    end
end

{% if multi_vdom %}
end
{% endif %}
