{% if ospf_data.gr is defined %}
{%   if ospf_data.gr.restart is defined %}
 graceful-restart
{%     if ospf_data.gr.restart.grace_period is defined %}
 graceful-restart grace-period {{ ospf_data.gr.restart.grace_period }}
{%     endif %}
{%   endif %}
{%   if ospf_data.gr.helper is defined %}
 graceful-restart helper enable
{%     if ospf_data.gr.helper.grace_period is defined %}
 graceful-restart helper supported-grace-time {{ ospf_data.gr.helper.grace_period }}
{%     endif %}
{%   endif %}
{% endif %}
