{% set pid = ospf.process|default(1) %}
router ospf {{ pid }}
{% if ospf.router_id|ipv4 %}
 router-id {{ ospf.router_id }}
{% endif %}
{% if ospf.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}
{% for l in interfaces|default([]) if l.ospf.passive|default(False) %}
 passive-interface {{ l.ifname }}
{% endfor %}
!
{% if 'ipv4' in loopback %}
interface Loopback0
 ip ospf {{ pid }} area {{ ospf.area }}
{% endif %}
!
{% for l in interfaces|default([]) if 'ospf' in l and ('ipv4' in l or 'ipv4' in l.dhcp.client|default({})) %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 ip ospf {{ pid }} area {{ l.ospf.area }}
{%   if l.ospf.network_type is defined %}
 ip ospf network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
 ip ospf cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
 ip ospf bfd
{%   endif %}
!
{% endfor %}
