{% set pid = ospf.process|default(1) %}
feature ospfv3
{% if ospf.bfd|default(False) %}
feature bfd
{% endif %}
!
router ospfv3 {{ pid }}
{% if ospf.router_id|ipv4 %}
 router-id {{ ospf.router_id }}
{% endif %}
{% if ospf.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf.reference_bandwidth }} Mbps
{% endif %}
!
{% if 'ipv6' in loopback %}
interface loopback0
 ipv6 router ospfv3 {{ pid }} area {{ ospf.area }}
!
{% endif %}
{% for l in interfaces|default([]) if 'ospf' in l and 'ipv6' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 ipv6 router ospfv3 {{ pid }} area {{ l.ospf.area }}
{%   if l.ospf.network_type|default("") in ["broadcast","point-to-point"] %}
 ospfv3 network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
 ospfv3 cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.passive|default(False) %}
 ospfv3 passive-interface
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
 ospfv3 bfd
{%   endif %}
!
{% endfor %}
