{% import "openbsd.ospfv2.j2" as ospfv2 %}
{% import "openbsd.ospfv3.j2" as ospfv3 %}
#!/bin/sh
{% if ospf.af.ipv4 is defined %}
{{   ospfv2.config(False,ospf,netlab_interfaces) }}
{% endif %}
{% if ospf.af.ipv6 is defined %}
{{   ospfv3.config(False,ospf,netlab_interfaces) }}
{% endif %}
