{% set pid = ospf.process|default(0) %}
{% set area = ospf.area|default("0.0.0.0") %}
updates:
- path: network-instance[name=default]
  val:
   router-id: {{ loopback['ipv4']|ipaddr('address') }}
   protocols:
    ospf:
     instance:
     - name: "{{ pid }}"
       version: ospf-v2
       admin-state: enable
       max-ecmp-paths: 64
{%     if ospf.reference_bandwidth is defined %}
       reference-bandwidth: {{ ospf.reference_bandwidth * 1000 }} # in kbps
{%     endif %}
       area:
       - area-id: {{ area }}
         interface:
         - interface-name: lo0.0
           passive: True
{%     for l in links|default([]) if l.type|default("") == "stub" or l.role|default("NONE") in ["stub","passive"] %}
       - area-id: {{ l.ospf.area|default(area) }}
         interface:
          interface-name: {{ l.ifname }}.0
          passive: True
{%     endfor %}

{%     for l in links|default([]) %}
{%     if "external" in l.role|default("") %}
       # OSPF not configured on external interface {{ l.ifname }}
       - area-id: {{ l.ospf.area|default(area) }}
         interface:
         - interface-name: {{ l.ifname }}.0
           admin-state: disable
           _annotate_admin_state: "Disabled due to external interface"
{%     else %}
       - area-id: {{ l.ospf.area|default(area) }}
         interface:
         - interface-name: {{ l.ifname }}.0
{%         if l.type|default("") == "p2p" %}
           interface-type: point-to-point
{%         endif %}
{%         if l.ospf.cost is defined %}
           metric: {{ l.ospf.cost }}
{%         endif %}
{%     endif %}
{%     endfor %}
