{% set pid = ospf.process|default(0) %}
{% set area = ospf.area|default("0.0.0.0") %}
updates:
- path: network-instance[name=default]
  val:
   router-id: {{ loopback['ipv4']|ipaddr('address') }}
   protocols:
    ospf:
     instance:
     - name: "{{ pid }}"
       version: ospf-v2
       admin-state: enable
       max-ecmp-paths: 64
       area:
       - area-id: {{ area }}
{%       if ospf.reference_bandwidth is defined %}
         # auto-cost reference-bandwidth {{ ospf.reference_bandwidth }}
{%       endif %}

         interface:
         - interface-name: lo0.0
           passive: True
{% for l in links|default([]) if l.type|default("") == "stub" or l.role|default("NONE") in ["stub","passive"] %}
       - area-id: {{ l.ospf.area|default(area) }}
         interface:
          interface-name: {{ l.ifname }}.0
          passive: True
{% endfor %}

{% for l in links|default([]) %}
{%   if "external" in l.role|default("") %}
       # OSPF not configured on external interface {{ l.ifname }}
{%   else %}
       - area-id: {{ l.ospf.area|default(area) }}
         interface:
         - interface-name: {{ l.ifname }}.0
{%         if l.type|default("") == "p2p" %}
           interface-type: point-to-point
{%         endif %}
{%         if l.ospf.cost is defined %}
           # ip ospf cost {{ l.ospf.cost }}
{%         endif %}
{%   endif %}
{% endfor %}
