- delegate_to: localhost
  block:
  - set_fact:
      config_template: "{{ lookup('first_found',params,errors='ignore') }}"
    vars:
      params:
        paths: "{{ paths }}"
        files:
        - "{{item}}/{{netlab_device_type}}-{{netlab_provider}}.j2"
        - "{{item}}/{{netlab_device_type}}.j2"
        - "{{item}}.{{netlab_device_type}}.j2"
        - "{{item}}/{{ansible_network_os}}-{{netlab_provider}}.j2"
        - "{{item}}/{{ansible_network_os}}.j2"
        - "{{item}}.{{ansible_network_os}}.j2"
        - "{{item if '.' in item else item ~ '.j2' }}"

  - template:
      src: "{{ config_template }}"
      dest: "{{config_dir}}/{{inventory_hostname}}.{{item}}.cfg"
