#
# Deploy module-specific configuration (specified in "item") to a device
#
- set_fact:
    config_template: "{{ lookup('first_found',params,errors='ignore') }}"
  tags: [ always ]
  vars:
    node_provider: "{{ provider|default(netlab_provider) }}"
    params:
      paths:
      - "{{ lookup('env','PWD') }}"
      - "../../extra"
      files:
      - "{{ custom_config + '/' + inventory_hostname + '.' + netlab_device_type + '-' + node_provider + '.j2' }}"
      - "{{ custom_config + '/' + inventory_hostname + '.' + netlab_device_type + '.j2' }}"
      - "{{ custom_config + '/' + inventory_hostname + '.j2' }}"
      - "{{ custom_config + '/' + netlab_device_type + '-' + node_provider + '.j2' }}"
      - "{{ custom_config + '/' + netlab_device_type + '.j2' }}"
      - "{{ custom_config + '/' + ansible_network_os + '-' + node_provider + '.j2' }}"
      - "{{ custom_config + '/' + ansible_network_os + '.j2' }}"
      - "{{ custom_config + '.' + inventory_hostname + '.' + netlab_device_type + '.j2' }}"
      - "{{ custom_config + '.' + inventory_hostname + '.' + ansible_network_os + '.j2' }}"
      - "{{ custom_config + '.' + inventory_hostname + '.j2' }}"
      - "{{ custom_config + '.' + netlab_device_type + '.j2' }}"
      - "{{ custom_config + '.' + ansible_network_os + '.j2' }}"
      - "{{ custom_config }}"
      - "{{ custom_config + '.j2' }}"

- fail: msg="Cannot find configuration template {{ custom_config }} for device {{ inventory_hostname }}"
  when: config_template == ''
  tags: [ always ]

- name: "Process template {{ config_template }} for {{ inventory_hostname }}"
  debug:
    msg: |
      {{ config_template }} configuration for {{ inventory_hostname }}
      =========================================
      {{ lookup('template',config_template) }}
    verbosity: 1
  tags: [ test,custom ]

- include_tasks: "{{ item }}"
  tags: [ custom ]
  vars:
    node_provider: "{{ provider|default(netlab_provider) }}"
  with_first_found:
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy-{{ inventory_hostname }}.yml"
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy.{{ netlab_device_type }}-{{ node_provider }}.yml"
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy.{{ netlab_device_type }}.yml"
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy.{{ ansible_network_os }}-{{ node_provider }}.yml"
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy.{{ ansible_network_os }}.yml"
  - "{{ lookup('env','PWD') }}/{{ custom_config }}/deploy.yml"
  - "../../extra/{{ custom_config }}/deploy.{{ netlab_device_type }}-{{ node_provider }}.yml"
  - "../../extra/{{ custom_config }}/deploy.{{ netlab_device_type }}.yml"
  - "deploy-config/{{netlab_device_type}}-{{ node_provider }}.yml"
  - "deploy-config/{{netlab_device_type}}.yml"
  - "../../extra/{{ custom_config }}/deploy.{{ ansible_network_os }}-{{ node_provider }}.yml"
  - "../../extra/{{ custom_config }}/deploy.{{ ansible_network_os }}.yml"
  - "deploy-config/{{ansible_network_os}}-{{ node_provider }}.yml"
  - "deploy-config/{{ansible_network_os}}.yml"
  - "../missing.yml"
  args:
    apply:
      vars:
        netsim_action: "{{ custom_config }}"
      tags: [ always ]
