#
# Deploy initial configuration
#
# Uses 'deploy module' task list but sets the module to 'initial'
#
---
- name: Normalize config on bridge-like devices
  ansible.builtin.include_tasks: "tasks/deploy-module.yml"
  args:
    apply:
      vars:
        config_module: normalize
        module: [normalize]
        netlab_skip_missing_template: true
        paths: "{{ search_path }}"
      tags: [always]
  tags: [initial]

- name: Deploy initial configuration
  ansible.builtin.include_tasks: "tasks/deploy-module.yml"
  args:
    apply:
      vars:
        config_module: initial
        paths: "{{ search_path }}"
      tags: [always]
  tags: [initial]
