#
# Initial device readiness check
#
---
- block:
  - name: "Generic readiness tests"
    include_tasks: "{{ ready_script }}"
    vars:
      netlab_device_type: "{{ item }}"
      params:
        paths: "{{ paths_ready.dirs }}"
        files: "{{ paths_ready.files }}"
      ready_script: "{{ lookup('first_found',params,errors='ignore') }}"
    when: ready_script is string and ready_script != ''
    loop: "{{ netlab_ready|default([])}}"

  - name: Find device readiness script
    set_fact:
      ready_script: "{{ lookup('first_found',params,errors='ignore') }}"
    vars:
      params:
        paths: "{{ paths_ready.dirs }}"
        files: "{{ paths_ready.files }}"

  - name: Wait for device to become ready
    include_tasks: "{{ ready_script }}"
    when: ready_script is string and ready_script != ''
    args:
      apply:
        tags: [ always ]

  tags: [ always ]
