{% macro enable_debugging(debug,limit='',prefix='do debug') %}
{%   for dbg in debug|default([]) if dbg and (limit == '' or limit in dbg) %}
{%     if loop.first %}
!
! Enable debugging
{%     endif %}
{{ prefix }} {{ dbg }}
{%   endfor %}
{% endmacro %}
