{% macro enable_debugging(debug,prefix) %}
{%   for dbg in debug|default([]) if dbg %}
{%     if loop.first %}
!
! Enable debugging
{%     endif %}
{{ prefix }} {{ dbg }}
{%   endfor %}
{% endmacro %}
