hostname {{ inventory_hostname }}
domain-name lab.local
!
{% if not netlab_initial_reload|default(False) %}
{%   for k,v in hostvars.items() if k != inventory_hostname and v.af.ipv4|default(False) %}
{%     if v.loopback.ipv4 is defined %}
name {{ v.loopback.ipv4|ansible.utils.ipaddr('address') }} {{ k }}
{%     endif %}
{%   endfor %}
{% endif %}
!
{% for l in interfaces|default([]) %}
interface {{ l.ifname }}
{%   if l.shutdown|default(False) %}
 shutdown
{%   else %}
 no shutdown
{%   endif %}
{%   if not netlab_initial_reload|default(False) %}
 nameif {{ l.ifname }}
{%     if l.name is defined %}
 description {{ l.name }}{{ " ["+l.role+"]" if l.role is defined else "" }}
{%     elif l.type|default("") == "stub" %}
 description Stub interface
{%     endif %}
{#
    Set interface addresses: IPv4
#}
{%     if 'ipv4' in l %}
 ip address {{ l.ipv4|ansible.utils.ipaddr('address') }} {{ l.ipv4|ansible.utils.ipaddr('netmask') }}
{%     endif %}
{#
    Set interface addresses: IPv6
#}
{%     if 'ipv6' in l %}
{%       if l.ipv6 == True %}
 ipv6 enable
{%       else %}
 ipv6 address {{ l.ipv6|upper }}
{%       endif %}
{%     endif %}
!
{#
    Set MTU
#}
{%     if l.mtu is defined %}
mtu {{ l.ifname }} {{ l.mtu }}
{%     endif %}
!
{%   endif %}
{% endfor %}
