#!/bin/sh
set -x
{% include 'linux-clab.j2' +%}
#
{% if loopback.ipv6 is defined %}
set +e
ip addr add fe80::1/64 dev lo scope link
{% endif %}

docker exec {{ ansible_host }} touch /var/run/initial.done
exit 0
