#!/bin/sh
set -x
{% include 'linux-clab.j2' +%}
#
{% if loopback.ipv6 is defined %}
set +e
ip addr add fe80::1/64 dev lo scope link
{% endif %}
{% for m in module|default([]) %}
{%   include m + '/bird-clab.j2' ignore missing %}
{% endfor %}
docker exec {{ ansible_host }} touch /var/run/netlab-config-done
exit 0
