{% include 'linux-clab.j2' +%}
#
set -e
ip addr add fe80::1/64 dev lo scope link

# Configure ipv4 unnumbered interfaces, if any
{% for intf in interfaces if intf._bird_unnumbered_peer is defined %}
ip addr add {{ intf._parent_ipv4 }} peer {{ intf._bird_unnumbered_peer }} dev {{ intf.ifname }}
{% endfor %}
