interfaces {
{% for l in netlab_interfaces|default([]) %}
  {{ l.ifname }} {
{%   if l.mtu is defined %}
    mtu {{ l.mtu }};
{%   endif %}
{%   if l.name is defined %}
    description "{{ l.name }}{{ " ["+l.role+"]" if l.role is defined else "" }}";
{%   elif l.type|default("") == "stub" %}
    description "Stub interface"
{%   endif %}
    unit 0 {
{#
    IPv4 addresses
#}
{%   if 'ipv4' in l %}
      family inet {
{%     if l.ipv4 == True %}
        unnumbered-address lo0.0;
{%     elif l.ipv4|ansible.utils.ipv4 %}
        address {{ l.ipv4 }};
{%     else %}
! Invalid IPv4 address {{ l.ipv4 }}
{%     endif %}
      }
{%   endif %}
{#
    IPv6 addresses
#}
{%   if 'ipv6' in l %}
      family inet6 {
{%     if l.ipv6 is string %}
        address {{ l.ipv6 }};
{%     endif %}
      }
{%   endif %}
    }
  }
{% endfor %}
}
protocols {
  lldp {
    interface {{ mgmt.ifname|default('fxp0') }} {
      disable;
    }
    interface all;
  }
{% for l in interfaces if 'ipv6' in l and l.type != 'loopback' %}
{%   if loop.first %}
  router-advertisement {
{%   endif %}
    interface {{ l.ifname }};
{%   if loop.last %}
  }
{%   endif %}
{% endfor %}
}
