{% macro decl_interface(i) %}
      {{ i.ifname }}:
        type: {{ 'svi' if i.type=='svi' else 'bond' if i.type=='lag' else 'swp' }}
        link:
{%  if i.mtu is defined %}
          mtu: {{ i.mtu }}
{%  endif %}
          state:
            up: {}
{%  if i.name is defined %}
        description: "{{ i.name }}{{ " ["+i.role+"]" if i.role is defined else "" }}"
{%  elif i.type|default("") == "stub" %}
        description: Stub interface
{%  endif %}
{%  if i.ipv4 is defined or i.ipv6 is defined %}
        ip:
{%    if i.vrf is defined %}
          vrf: {{ i.vrf }}
{%    endif %}
          address:
{%    if i.ipv4 is defined %}
{%      if i.ipv4 == True %}
            {{ loopback.ipv4 }}: {}
{%      else %}
            {{ i.ipv4 }}: {}
{%      endif %}
{%    endif %}
{%    if i.ipv6 is defined %}
{%      if i.ipv6 is string and i.ipv6|ipv6 %}
            {{ i.ipv6 }}: {}
          ipv6:
            forward: on
{%        if 'ipv6' not in i.dhcp.client|default({}) %}
          neighbor-discovery:
            enable: on
            router-advertisement:
              enable: off # Major bug in NVUE - any non-"on" value will *enable* (no suppress) RA...
              interval: 5000
{%        endif %}
{%      endif %}
{%    else %}
          ipv6:
            enable: off
{%    endif %}            
{%  elif i.type=='lag' %}
        bridge:
          domain:
            br_default: {}
{%  endif %}
{% endmacro %}

- set:
    system:
      hostname: {{ inventory_hostname }}
    interface:
      eth0:
        ip:
          vrf: mgmt
          address:
            dhcp: {}
        type: eth
{% for l in interfaces|default([]) if l.type!='loopback' %}
{{      decl_interface(l) }}
{% endfor %}

{% for lb in netlab_interfaces if lb.type=='loopback' %}
- set:
{%   if lb.vrf is not defined %}
    interface:
      lo:
        type: loopback
{%     if lb.mtu is defined %}
        link:
          mtu: {{ lb.mtu }}
{%     endif %}
        ip:
          address:
{%     if 'ipv4' in lb %}
            {{ lb.ipv4 }}: {}
{%     else %}
            127.0.0.1/8: {}
{%     endif %}
{%     if 'ipv6' in lb %}
            {{ lb.ipv6 }}: {}
{%     else %}
          ipv6:
            enable: off
{%     endif %}
{%   else %}
    vrf:
      {{ lb.vrf }}:
        loopback:
          ip:
            address:
{%     if 'ipv4' in lb %}
              {{ lb.ipv4 }}: {}
{%     else %}
              127.0.0.1/8: {}
{%     endif %}
{%     if 'ipv6' in lb %}
              {{ lb.ipv6 }}: {}
{%     endif %}
{%   endif %}
{% endfor %}
