{% for vname,vdata in vrfs.items() %}
ip vrf {{ vname }}
{% for lb in interfaces if lb.type=='loopback' and lb.vrf|default(None)==vname %}
{%  if loop.first %}
 update-source-ip {{ lb.ifname }}
{%  endif %}
{% endfor %}
exit
{% endfor %}
