{% for vname,vdata in vrfs.items() %}
ip vrf {{ vname }}
{% for lb in interfaces if lb.type=='loopback' and l.vrf|default(None)==vname %}
{%  if loop.first %}
 update-source {{ lb.ifname }}
{%  endif %}
{% endfor %}
exit
{% endfor %}
