hostname {{ inventory_hostname.replace("_","-") }}
!
logging monitor debugging
!
lldp run
{% if af.ipv4|default(False) %}
ip routing
{% endif %}
{% if af.ipv6|default(False) %}
ipv6 unicast-routing
{% endif %}
!
{% if vrfs is defined %}
{% include 'eos.vrf.j2' %}
{% endif %}
!
{% for hname,hdata in hosts.items() if 'ipv4' in hdata and hname != inventory_hostname %}
ip host {{ hname|replace('_','') }} {{ hdata.ipv4|join (' ') }}
{% endfor %}
{% for hname,hdata in hosts.items() if 'ipv6' in hdata and hname != inventory_hostname %}
ipv6 host {{ hname|replace('_','') }} {{ hdata.ipv6[0] }}
{% endfor %}
{% if mtu is defined %}
!
interface defaults
 mtu {{ mtu }}
{% endif %}
!
{% if loopback is defined %}
interface {{ loopback.ifname }}
{%   if 'ipv4' in loopback %}
 ip address {{ loopback.ipv4 }}
{%   endif %}
{%   if 'ipv6' in loopback %}
 ipv6 address {{ loopback.ipv6 }}
{%   endif %}
{% endif %}
!
interface {{ mgmt.ifname|default('Management1') }}
 no lldp transmit
 no lldp receive
!
{% for l in interfaces|default([]) %}
interface {{ l.ifname }}
 no shutdown
{% if l.virtual_interface is not defined %}
 no switchport
{% endif %}
{% if l.vrf is defined %}
 vrf {{ l.vrf }}
{% endif %}
{% if l.mtu is defined %}
 mtu {{ l.mtu }}
{% endif %}
{% if l.name is defined %}
 description {{ l.name }}{{ " ["+l.role+"]" if l.role is defined else "" }}
{% elif l.type|default("") == "stub" %}
 description Stub interface
{% endif %}
{#
    Set interface IPv4 addresses
#}
{% if 'ipv4' in l %}
{%   if l.ipv4 == True %}
 ip address unnumbered {{ l._parent_intf }}
{%   elif l.ipv4|ipv4 %}
 ip address {{ l.ipv4 }}
{%   else %}
! Invalid IPv4 address {{ l.ipv4 }}
{%   endif %}
{% endif %}
{#
    Set interface IPv6 addresses
#}
{% if 'ipv6' in l %}
{%   if l.ipv6 == True %}
 ipv6 enable
{%   elif l.ipv6|ipv6 %}
 ipv6 address {{ l.ipv6 }}
{%   else %}
! Invalid IPv6 address {{ l.ipv6 }}
{%   endif %}
{% endif %}
{% if l.virtual_interface is not defined %}
!
 mac-address {{ '52dc.cafe.%02d%02d' % ( id,l.ifindex ) }}
{% endif %}
!
{% endfor %}
