{% set vdom_traffic = netlab_vdom|default(vdom) %}
{% set multi_vdom = vdom_traffic != vdom %}

{% if multi_vdom %}
config global
{% endif %}
config system global
    set hostname {{ inventory_hostname.replace("_","-") }}
end

config system interface
    edit "{{ mgmt_if }}"
        set vdom "{{ vdom }}"
        set lldp-transmission disable
        set lldp-reception disable
        set allowaccess ping https ssh http fgfm
    next
{%  if loopback is defined %}
    edit "{{ loopback.ifname }}"
        set vdom "{{ vdom_traffic }}"
        set status up
        set type loopback
{%      if loopback.ipv4 is defined %}
        set ip {{ loopback.ipv4 }}
        set allowaccess ping https ssh http fgfm
{%      endif %}
{%      if loopback.ipv6 is defined %}
        config ipv6
            set ip6-address {{ loopback.ipv6|upper }}
            set ip6-mode static
            set ip6-allowaccess ping https ssh http fgfm
        end
{%      endif %}
    next
{%  endif %}
{%  for interface in interfaces %}
{%  if interface.ifname != mgmt_if %}
    edit "{{ interface.ifname }}"
        set vdom "{{ vdom_traffic }}"
        set status up
        set lldp-reception enable
        set lldp-transmission enable
        set allowaccess ping
#        set macaddr "52:dc:ca:fe:{{ id }}:{{ interface.ifindex }}"
        set mode static
{%      if interface.ipv4 is defined %}
        set ip {{ interface.ipv4 }}
{%      endif %}
{%      if interface.mtu is defined %}
        set mtu-override enable
        set mtu {{ interface.mtu }}
{%      elif mtu is defined %}
        set mtu-override enable
        set mtu {{ mtu }}
{%      endif %}
{%      if interface.ipv6 is defined %}
        config ipv6
            set ip6-address {{ interface.ipv6|upper }}
            set ip6-mode static
            set ip6-allowaccess ping
            set ip6-send-adv enable
        end
{%      endif %}
    next
{%  endif %}
{%  endfor %}
end

{% if multi_vdom %}
end
{% endif %}
