{% include "ios.j2" %}
{% if netlab_config_mode == "startup" %}
!
event manager applet ReloadIfstate
 event syslog occurs 1 pattern "%SYS-5-RESTART: System restarted"
 action 1.0 cli command "enable"
 action 2.0 cli command "copy unix:ifstate.cfg running-config" pattern "running"
 action 2.1 cli command ""
{% endif %}
