hostname {{ inventory_hostname }}
!
no ip domain lookup
!
lldp run
!
{% for hname,hdata in hosts.items() if hname != inventory_hostname %}
{%   set addr_list = hdata.ipv4|default([]) + hdata.ipv6|default([]) %}
ip host {{ hname }} {{ addr_list|join (' ') }}
{% endfor %}
!
{% if af.ipv6|default(False) %}
ipv6 unicast-routing
!
{% endif %}
{% if vrfs is defined %}
{% include 'ios.vrf.j2' +%}
!
{% endif %}
{% if vlans is defined %}
{% include netlab_device_type ~ '.vlan.j2' +%}
!
{% endif %}
!
{% if loopback is defined %}
interface {{ loopback.ifname }}
{%   if 'ipv4' in loopback %}
 ip address {{ loopback.ipv4|ipaddr('address') }} {{ loopback.ipv4|ipaddr('netmask') }}
{%   endif %}
{%   if 'ipv6' in loopback %}
 ipv6 address {{ loopback.ipv6|upper }}
{%   endif %}
{% endif %}
!
interface {{ mgmt.ifname|default('GigabitEthernet0/0') }}
 no lldp transmit
 no lldp receive
!
{% for l in interfaces|default([]) %}
interface {{ l.ifname }}
 no shutdown
{% if l.type == 'vlan_member' and l.vlan.access_id is defined %}
 encapsulation dot1Q {{ l.vlan.access_id }}
{% endif %}
{% if l.vrf is defined %}
 vrf forwarding {{ l.vrf }}
{% endif %}
{% if l.name is defined %}
 description {{ l.name }}{{ " ["+l.role+"]" if l.role is defined else "" }}
{% elif l.type|default("") == "stub" %}
 description Stub interface
{% endif %}
{% if l.bandwidth is defined %}
 bandwidth {{ l.bandwidth  }}
{% endif %}
{% if l.mtu is defined %}
{%   if min_mtu is defined and min_mtu > l.mtu %}
 ip mtu {{ l.mtu }}
{%   else %}
 mtu {{ l.mtu }}
{%   endif %}
{% endif %}
{#
    Set interface addresses: IPv4
#}
{% if 'ipv4' in l %}
{%   if l.ipv4 == True %}
 ip unnumbered {{ l._parent_intf }} poll
{%   elif l.ipv4|ipv4 %}
 ip address {{ l.ipv4|ipaddr('address') }} {{ l.ipv4|ipaddr('netmask') }}
{%   else %}
! Invalid IPv4 address {{ l.ipv4 }}
{%   endif %}
{% endif %}
{#
    Set interface addresses: IPv6
#}
{% if 'ipv6' in l %}
{%   if l.ipv6 == True %}
 ipv6 enable
{%   elif l.ipv6|ipv6 %}
 ipv6 address {{ l.ipv6|upper }}
{%   else %}
! Invalid IPv6 address {{ l.ipv6 }}
{%   endif %}
{% endif %}
!
{% endfor %}
no banner exec
no banner login
no banner incoming
