{#
  Linux container setup is totally different from VM setup, but we
  don't have the functionality to select one or the other based on
  node provider (yet), so a hack will have to do.
#}
{% if clab.kind is defined %}
{%   include 'linux/clab.j2' %}
{% else %}
{%   include 'linux/vm.j2' %}
{% endif %}
