set ns hostName {{ inventory_hostname.replace("_","-") }}

{% for l in interfaces|default([]) %}
set interface {{ l.ifname }} -ifAlias "{{ l.name }}{{ " ["+l.role+"]" if l.role is defined else "" }}" -ifnum {{ l.ifname }} -lldpmode TRANSCEIVER
{% endfor %}
