{#
  This script configures an OpenBSD host
#}
#!/bin/sh
#
set -e
set -x

hostname {{ inventory_hostname | replace("_","-") }}
{% include 'linux/hosts.j2' +%}

{% if role == 'router' %}
#
# Enable forwarding
#
sysctl net.inet.ip.forwarding=1
sysctl net.inet6.ip6.forwarding=1
echo -n > /etc/rad.conf
{% endif %}

{% from "initial/openbsd-ifconfig.j2" import ifconfig %}
#
# Interface configuration
#
{% if loopback is defined %}
{{   ifconfig(loopback,role,alias='alias') }}
{% endif %}
{% for intf in interfaces %}
{# 
   OpenBSD does not like configuring IPs on devices like 
   VLANs that need parent inteface first, skip and come back
   to assigning those in the VLAN module
#}
{%   if not intf.vlan is defined %}
{{      ifconfig(intf,role) }}
{%   endif %}
{% endfor %}

{% if role == 'router' %}
#
# (re-)start RA daemon
#
pkill -q rad || true
rad
{% endif %}

