{% macro ifconfig(intf,alias='') %}
{%   if not alias %}
ifconfig {{ intf.ifname }} -inet
ifconfig {{ intf.ifname }} -inet6
{%   endif %}
{% if intf.ipv4 is defined and intf.ipv4 is string %}
ifconfig {{ intf.ifname }} inet {{ intf.ipv4 }} {{ alias }}
{% endif %}
{% if intf.ipv6 is defined %}
{%   set is_host = role == 'host' %}
{%   if role == 'router' %}
echo interface {{ intf.ifname }} >> /etc/rad.conf
{%   endif %}
{%   if intf.ipv6 is string %}
ifconfig {{ intf.ifname }} inet6 {{ intf.ipv6 }}{% if is_host %} autoconf{% endif +%}
{%   else %}
ifconfig {{ intf.ifname }} inet6 eui64{% if is_host %} autoconf{% endif +%}
{%   endif %}
{% endif %}
{% if intf.mtu is defined %}
ifconfig {{ intf.ifname }} mtu {{ intf.mtu }}
{% endif %}
{% if intf.name is defined %}
ifconfig {{ intf.ifname }} description "{{ intf.name }}"
{% endif %}
{% if intf.shutdown|default(False) %}
ifconfig {{ intf.ifname }} down
{% else %}
ifconfig {{ intf.ifname }} up
{% endif %}
{%   if 'ipv6' in intf and intf.tunnel.mode|default('') in ['wireguard'] %}
# OpenBSD Wireguard does not automatically create IPv6 LLA make it ourselves
{% set _last = range(1, 65536) | random %}
{% set _lla = 'fe80::%x/64' | format(_last) %}
ifconfig {{ intf.ifname }} inet6 {{ _lla }}
{%   endif %}
{% endmacro %}
