{#
  This script configures an OpenBSD host
#}
#!/bin/sh
#
set -e
set -x

hostname {{ inventory_hostname.replace("_","-") }}
{% include 'linux/hosts.j2' +%}

{% if role == 'router' %}
#
# Enable forwarding
#
sysctl net.inet.ip.forwarding=1
sysctl net.inet6.ip6.forwarding=1
echo -n > /etc/rad.conf
{% endif %}

{% macro ifconfig(intf,alias='') %}
{%   if not alias %}
ifconfig {{ intf.ifname }} -inet
ifconfig {{ intf.ifname }} -inet6
{%   endif %}
{% if intf.ipv4 is defined and intf.ipv4 is string %}
ifconfig {{ intf.ifname }} inet {{ intf.ipv4 }} {{ alias }}
{% endif %}
{% if intf.ipv6 is defined %}
{%   set is_host = role == 'host' %}
{%   if role == 'router' %}
echo interface {{ intf.ifname }} >> /etc/rad.conf
{%   endif %}
{%   if intf.ipv6 is string %}
ifconfig {{ intf.ifname }} inet6 {{ intf.ipv6 }}{% if is_host %} autoconf{% endif +%}
{%   else %}
ifconfig {{ intf.ifname }} inet6 eui64{% if is_host %} autoconf{% endif +%}
{%   endif %}
{% endif %}
{% if intf.mtu is defined %}
ifconfig {{ intf.ifname }} mtu {{ intf.mtu }}
{% endif %}
{% if intf.name is defined %}
ifconfig {{ intf.ifname }} description "{{ intf.name }}"
{% endif %}
{% endmacro %}
#
# Interface configuration
#
{% if loopback is defined %}
{{   ifconfig(loopback,alias='alias') }}
{% endif %}
{% for intf in interfaces %}
{{   ifconfig(intf) }}
{% endfor %}

{% if role == 'router' %}
#
# (re-)start RA daemon
#
pkill -q rad || true
rad
{% endif %}

