{#
# Define Bridge (BVI) for non-routed VLANs
#}
{% for vname,vdata in vlans.items() if vdata.mode is defined and vdata.mode != 'route' %}
/interface bridge add name=bridge{{ vdata.id }} protocol-mode=none
{% endfor +%}

{#
# Create VLAN subinterfaces
#}
{% for ifdata in interfaces if ifdata.vlan is defined %}
{%   if ifdata.type == 'vlan_member' and ifdata.vlan.access_id is defined %}
{#
# Split ifname to get parent interface name
#}
{%     set ifnamedata = ifdata.ifname.split('-') %}
{%     if ifnamedata|length > 1 %}
/interface vlan add name={{ ifdata.ifname }} vlan-id={{ ifdata.vlan.access_id }} interface={{ ifnamedata[0] }} disabled=no
{%     endif %}
{%   endif %}
{% endfor %}
