{#
   We convert any host entry that has '_' to the valid '-' for naming
#}
{% set underscores = {} %}
{% for hname in hostvars.keys()|sort %}
{%   set hdata = hostvars[hname] %}
{%   set intf_list = hdata.interfaces|default([]) %}
{%   if hdata.loopback is defined %}
{%     set intf_list = [ hdata.loopback ] + intf_list %}
{%   endif %}
{%   for intf in intf_list %}
{%     set hname = hname.replace('_','-') %}
{%     set h_entry = hname %}
{%     if intf.vrf is defined %}
{%       set h_entry = intf.vrf + '.' + h_entry %}
{%     endif %}
{%     if intf.type|default('loopback') != 'loopback' %}
{%       set h_entry = intf.ifname.replace('/','-') + '.' + h_entry %}
{%     endif %}
{%     if intf.ipv4|default(False) is string %}
/ip/dns/static add address={{ intf.ipv4|ansible.utils.ipaddr('address') }} name={{ h_entry }}
{%     endif %}
{%     if intf.ipv6|default(False) is string %}
/ip/dns/static add address={{ intf.ipv6|ansible.utils.ipaddr('address') }} name={{ h_entry }}
{%     endif %}
{%   endfor %}
{% endfor %}
