{% macro ip_addr(v,ip,ifname) %}
{% set _ip = ip|ipaddr('address') %}
{% set _pre = ip|ipaddr('prefix') %}
   ipv{{v}}:
    # TODO: unnumbered
{% if v=='4' %}
    primary:
     address: "{{ _ip }}"
     prefix-length: {{ _pre }}
{% else %}
    address:
    - ipv6-address: "{{ _ip }}"
      prefix-length: {{ 128 if ifname=='system' else _pre }}
{% endif %}
{% endmacro %}

{% macro interface(name,desc,ip_v4,ip_v6,port) -%}
- path: configure/router[router-name=Base]/interface[interface-name={{name}}]
  val:
   admin-state: enable
   description: "{{desc}}"
{% if port %}
   port: "{{port}}"
{% elif name!='system' %}
   loopback: [null]
{% endif %}
{% if ip_v4|ipv4 %}
{{ ip_addr('4',ip_v4,name) }}
{% endif %}
{% if ip_v6|ipv6 %}
{{ ip_addr('6',ip_v6,name) }}
{% endif %}
{%- endmacro -%}

updates:
{# Enable ECMP=64 by default #}
- path: configure/router[router-name=Base]
  val:
   ecmp: 64
{% if 'ipv4' in loopback or 'ipv6' in loopback %}
{% set v4 = loopback.ipv4|default('') %}
{% set v6 = loopback.ipv6|default('') %}
{# The interface name 'system' is special, use generic loopback here instead #}
{{ interface("system" if 'sr' in module else "Loopback0","loopback interface",v4,v6,'') }}
{% endif %}
{% for l in links|default([]) %}
{% set v4 = l.ipv4|default('') %}
{% set v6 = l.ipv6|default('') %}
{% if l.name is defined %}
{% set desc = l.name|replace('->','~') + " (" + l.role|default('') + ")" %}
{% elif l.type|default("") == "stub" %}
{% set desc = "Stub interface" %}
{% endif %}
- path: configure/port[port-id={{l.ifname}}]
  val: { connector: { "breakout": "c1-100g" } }
{{ interface('i'+l.ifname,desc,v4,v6,l.ifname+'/1') }}
{% endfor %}
