{#
  Create VPP VLAN objects before interface addressing / L2 port membership.
  Bridge-domains, trunk subinterfaces, and BVIs must exist first (same role as
  initial/*.vlan.j2 on IOS and similar platforms). Access-port bridge assignment
  lives in vlan/vpp.j2. BVI must be attached to its BD immediately after create.
#}
{% for vname,vdata in vlans|default({})|dictsort
     if vdata.mode|default('irb') != 'route' %}
create bridge-domain {{ vdata.id }}
{% endfor %}
{% for ifdata in interfaces if ifdata.type|default('') == 'vlan_member'
     and ifdata.vlan.access_id is defined
     and ifdata.parent_ifname is defined %}
{%   set vpp_if = 'host-' ~ ifdata.ifname %}
create sub-interfaces host-{{ ifdata.parent_ifname }} {{ ifdata.vlan.access_id }}
{%   if ifdata.mtu is defined %}
set interface mtu {{ ifdata.mtu }} {{ vpp_if }}
{%   endif %}
set interface state {{ vpp_if }} up
{%   if ifdata.vlan.mode|default('irb') == 'route' %}
{%     if ifdata.ipv4 is defined and ifdata.ipv4 is string %}
set interface ip address {{ vpp_if }} {{ ifdata.ipv4 }}
{%     endif %}
{%     if ifdata.ipv6 is defined and ifdata.ipv6 is string and ifdata.ipv6|ansible.utils.ipv6 %}
set interface ip address {{ vpp_if }} {{ ifdata.ipv6 }}
{%       if role == 'router' %}
{%         if ifdata.ra.disable|default(false) is true %}
ip6 nd {{ vpp_if }} ra-suppress
{%         else %}
ip6 nd {{ vpp_if }} ra-interval 5
{%           set nd_prefix = ifdata.ipv6|ansible.utils.ipaddr(0) %}
ip6 nd {{ vpp_if }} prefix {{ nd_prefix }} default
{%         endif %}
{%       endif %}
{%     endif %}
lcp create {{ vpp_if }} host-if {{ ifdata.ifname }}
{%   endif %}
{% endfor %}
{% for ifdata in interfaces if ifdata.type|default('') == 'svi'
     and ((ifdata.ipv4 is defined and ifdata.ipv4 is string)
          or (ifdata.ipv6 is defined and ifdata.ipv6 is string)) %}
{%   set bd = vlans[ifdata.vlan.name].id %}
bvi create instance {{ bd }}
set interface l2 bridge bvi{{ bd }} {{ bd }} bvi
set interface state bvi{{ bd }} up
{%   if ifdata.ipv4 is defined and ifdata.ipv4 is string %}
set interface ip address bvi{{ bd }} {{ ifdata.ipv4 }}
{%   endif %}
{%   if ifdata.ipv6 is defined and ifdata.ipv6 is string and ifdata.ipv6|ansible.utils.ipv6 %}
set interface ip address bvi{{ bd }} {{ ifdata.ipv6 }}
{%     if role == 'router' %}
{%       if ifdata.ra.disable|default(false) is true %}
ip6 nd bvi{{ bd }} ra-suppress
{%       else %}
ip6 nd bvi{{ bd }} ra-interval 5
{%         set nd_prefix = ifdata.ipv6|ansible.utils.ipaddr(0) %}
ip6 nd bvi{{ bd }} prefix {{ nd_prefix }} default
{%       endif %}
{%     endif %}
{%   endif %}
lcp create bvi{{ bd }} host-if {{ ifdata.ifname }}
{% endfor %}
