#!/bin/bash
#
set -e
set -x
{% if clab is not defined %}
cat <<SCRIPT >.bash_profile
#!/bin/bash
#
export PS1="\h(bash)#"
echo "Use sudo vtysh to connect to FRR daemon"
echo
SCRIPT
{% include 'linux/hosts.j2' +%}
#
# Configure system defaults on Ubuntu
#
hostnamectl set-hostname {{ inventory_hostname }}
{% else %}
cat <<SCRIPT >/root/.bash_profile
#!/bin/bash
#
export PS1="\h(bash)#"
echo "Use vtysh to connect to FRR daemon"
echo
SCRIPT
{%   if netlab_mgmt_vrf|default(False) %}
#
# Get the current next hop for the default route
#
def_nh=$(ip route list default|awk '{ print $3 }')
#
# Create the management VRF and add eth0 to it
#
if [ ! -e /sys/devices/virtual/net/mgmt ]; then
  ip link add mgmt type vrf table 42
fi
ip link set mgmt up
sysctl -qw net.ipv6.conf.eth0.keep_addr_on_down=1
ip link set eth0 master mgmt
#
# Reinstall the default route if we had it before
#
if [[ -n "$def_nh" ]]; then
  ip route add 0.0.0.0/0 vrf mgmt via $def_nh
fi
{%   endif %}
{% endif %}
