---
- name: Check if 'sshpass' is installed
  shell:
    cmd: which sshpass
  delegate_to: localhost
  changed_when: false
  run_once: true
  any_errors_fatal: true

- name: Copy replacement configuration to the device
  command:
    cmd: >-
      sshpass -p '{{ ansible_ssh_pass }}'
      scp -O -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ netlab_ssh_args|default('') }}
      {{ config_template }} {{ ansible_user }}@{{ ansible_host }}:{{ netlab_device_disk }}replace-config
  delegate_to: localhost
