---
- name: "Config SCP server on Cisco IOS"
  cisco.ios.ios_config:
    lines:
    - ip scp server enable

- name: Copy replacement configuration to Cisco IOS device
  ansible.builtin.include_tasks: _copy_config.yml
  vars:
    netlab_device_disk: "nvram:"

- name: Replace running configuration
  cisco.ios.ios_command:
    commands: "configure replace nvram:replace-config force"
