{% for af in ('ipv4','ipv6') if af in routing._prefix|default({}) %}
{%   for p_name,p_value in routing._prefix[af].items() %}
!
{%     for p_entry in p_value %}
{{ 'ip' if af == 'ipv4' else af }} prefix-list {{ p_name 
  }} seq {{ p_entry.sequence }} {{ p_entry.action 
  }} {{ p_entry[af] }}
{%     endfor %}
{%   endfor %}
{% endfor %}
