{# WARNING: JunOS prefix-list does not support entries with ge/le - a quirk will warn the user #}

policy-options {

{% for pf_af in af if pf_af in routing._prefix|default({}) %}
{%   for p_name,p_value in routing._prefix[pf_af].items() %}

  prefix-list {{ p_name }}-{{ pf_af }} {

{%     for p_entry in p_value %}
    {{ p_entry[pf_af] }};
{%     endfor %}

  }

{%   endfor %}
{% endfor %}

}
