{% macro policy(sp_data,af) -%}
  {% if 'policy' in sp_data %} route-map {{ sp_data.policy }}-{{ af }}{% endif +%}
{%- endmacro %}
{% macro config(pdata,af='ipv4',t_proto='',ospf_pid=1,vrf='default') -%}
{%   set r_append = ' subnets' if t_proto == 'ospf' else '' %}
{%   for s_proto,s_data in pdata.import.items() %}
{%     set sp_config = s_proto %}
{%     if s_proto == 'bgp' %}
{%       set sp_config = sp_config + ' ' + bgp.as|string %}
{%     elif s_proto == 'isis' %}
{%       set sp_config = sp_config + ' ' + isis.instance + ' level-1-2' %}
{%     elif s_proto == 'ospf' %}
{%       set sp_config = sp_config + ' ' + ospf_pid|string + ' match internal external' %}
{%     elif s_proto == 'rip' and af == 'ipv6' %}
{%       set sp_config = sp_config + ' default' %}
{%     endif %}
 redistribute {{ sp_config }}{{ policy(s_data,af) }}
{%   endfor %}
{%- endmacro %}
