{% macro import_protocols(import,start_entry=100) %}
{%   set cnt = namespace(start=start_entry) %}
{%   for s_proto in import %}
{%     for sros_proto in netlab_match_protomap[s_proto] %}
- entry-id: {{ cnt.start }}
  from:
    protocol:
      name: [ {{ sros_proto }} ]
  action:
    action-type: accept
{%       set cnt.start = cnt.start + 10 %}
{%     endfor %}
{%   endfor %}
{% endmacro %}
