{% macro config(pdata,af) -%}
{%   if pdata.import is defined %}
{%     for s_proto,s_data in pdata.import.items() %}
{%       if loop.first %}
redistribute:
{%       endif %}
  {{ s_proto }}:
    enable: on
{%       if 'policy' in s_data %}
    route-map: {{ s_data.policy }}-{{ af }}
{%       endif %}
{%     endfor %}
{%   endif %}
{%- endmacro %}
