{# prefix lists must be generated before route maps #}
{% if routing.prefix|default({}) %}
{%   include '_prefix_list_ios.j2' %}
{% endif %}
!
{% if routing.aspath|default({}) %}
{%   for asp_name,asp_list in routing.aspath.items() %}
{%     for asp_line in asp_list %}
ip aspath-list {{ asp_name }} {{ asp_line.action }} {{ asp_line.path }}
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% if routing.community|default({}) %}
{%   for c_name,c_value in routing.community.items() %}
{%     for c_line in c_value.value %}
ip community-list {{ c_value.type }} {{ c_name }} {{ c_line.action }} {{ c_line._value }}
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry,af_list) routemap.create_route_maps(routing.policy) -%}
{{     routemap.common_route_map_entry(p_entry,af_list) }}
{%-  endcall %} 
{% endif %}
!
! Static routes
!
{% for sr_data in routing.static|default([]) %}
{%   set cmd_vrf = 'vrf ' + sr_data.vrf + ' ' if 'vrf' in sr_data else '' %}
{%   set cmd_intf = sr_data.nexthop.intf + ' ' if 'intf' in sr_data.nexthop else '' %}
{%   if 'ipv4' in sr_data %}
{%   set nh_ipv4 = 'nullroute' if 'discard' in sr_data.nexthop else sr_data.nexthop.ipv4 %}
ip route {{ 
    sr_data.ipv4|ipaddr('network') }} {{
    sr_data.ipv4|ipaddr('netmask') }} {{ cmd_intf }}{{ nh_ipv4 }} {{ cmd_vrf }}
{%   endif %}
{%   if 'ipv6' in sr_data %}
{%   set nh_ipv6 = 'nullroute' if 'discard' in sr_data.nexthop else sr_data.nexthop.ipv6 %}
{%   set cmd_nh_v6 = sr_data.nexthop.intf 
                        if 'vrf' in sr_data.nexthop
                          and 'intf' in sr_data.nexthop
                        else nh_ipv6 %}
ipv6 route {{ sr_data.ipv6 }} {{ cmd_nh_v6 }} {{ cmd_vrf }}
{%   endif %}
{% endfor %}
