{% if routing.static is defined %}
{% for sr_data in routing.static %}
{#   recursive lookup is triggered by a route without the intf parameter #}
{%   set route_resolve = ' resolve' if not 'intf' in sr_data.nexthop else '' %}
    routing-options {
{%   if 'ipv4' in sr_data %}
      static route {{sr_data.ipv4}} {
{%     if 'discard' in sr_data.nexthop %}
        discard;
{%     else %}
        next-hop {{sr_data.nexthop.ipv4}}{{route_resolve}};
{%     endif %}
      }
{%   endif %}
{%   if 'ipv6' in sr_data %}
        rib inet6.0 static route {{sr_data.ipv6}} {
{%     if 'discard' in sr_data.nexthop %}
          discard;
{%     else %}
          next-hop {{sr_data.nexthop.ipv6}}{{route_resolve}};
{%     endif %}
        }
{%   endif %}
    }
{% endfor %}
{% endif %}
