{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry,af_list) routemap.create_route_maps(routing.policy) -%}
{{     routemap.common_route_map_entry(p_entry,af_list) }}
{%-  endcall %} 
{% endif %}
{% if routing.prefix|default({}) %}
{%   include '_prefix_list_ios.j2' %}
{% endif %}
!
! AS-path access lists
!
{% if routing.aspath|default({}) %}
{%   for asp_name,asp_list in routing.aspath.items() %}
!
{%     for asp_line in asp_list %}
ip as-path access-list {{ asp_name }} {{ asp_line.action }} {{ asp_line.path }}
{%     endfor %}
{%   endfor %}
{% endif %}
{% if routing.community|default({}) %}
{%   for c_name,c_value in routing.community.items() %}
!
{%     for c_line in c_value.value %}
! Ignoring '{{ c_value.type }}' if not 'standard'
ip community-list standard {{ c_name }} {{ c_line.action }} {{ c_line._value }}
{%     endfor %}
{%   endfor %}
{% endif %}
!
! Static routes (dual routes for each entry, in entry VRF and next hop VRF)
!
{% for sr_data in routing.static|default([]) %}
{%   set _vrf = sr_data.vrf|default(None) %}
{%   set _vrf_str = 'vrf ' + _vrf + ' ' if _vrf else '' %}
{%   set _nh_vrf = sr_data.nexthop.vrf|default(None) %}
{%   set _nh_vrf_str = 'vrf ' + _nh_vrf + ' ' if _nh_vrf else '' %}
{%   set cmd_intf = 'interface ' + sr_data.nexthop.intf + ' ' if 'intf' in sr_data.nexthop else '' %}
{%   for _vrf in [ _vrf_str, _nh_vrf_str ] %}
{%     if 'ipv4' in sr_data %}
{%       set _nh = 'interface null0' if 'discard' in sr_data.nexthop else sr_data.nexthop.ipv4 %}
ip route {{ _vrf }}{{
    sr_data.ipv4|ipaddr('network') }}/{{ sr_data.ipv4|ipaddr('prefix') }} {{ cmd_intf }}{{ _nh }}
{%     endif %}
{%     if 'ipv6' in sr_data %}
{%       set _nh = 'interface null0' if 'discard' in sr_data.nexthop else sr_data.nexthop.ipv6 %}
ipv6 route {{ _vrf }}{{ sr_data.ipv6 }} {{ cmd_intf }}{{ _nh }}
{%     endif %}
{%   endfor %}
{% endfor %}
