{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry) routemap.create_route_maps(routing.policy) -%}
{%     if 'bandwidth' in p_entry.set %}
  set extcommunity lbw {{ p_entry.set.bandwidth }}M
{%     endif %}
{{     routemap.common_route_map_entry(p_entry) }}
{%-   endcall %}
{% endif %}
