{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry) routemap.create_route_maps(routing.policy) -%}
{%     if 'bandwidth' in p_entry.set %}
  set extcommunity lbw {{ p_entry.set.bandwidth }}M
{%     endif %}
{{     routemap.common_route_map_entry(p_entry) }}
{%-   endcall %}
{% endif %}
{% if routing._prefix.ipv4|default(False) %}
!
! IPv4 prefix lists
!
{%   for p_name,p_value in routing._prefix.ipv4.items() %}
!
{%     for p_entry in p_value %}
ip prefix-list {{ p_name }} seq {{ p_entry.sequence }} {{ p_entry.action }} {{ p_entry.ipv4 }}
{%     endfor %}
{%   endfor %}
{% endif %}
{% if routing._prefix.ipv6|default(False) %}
!
! IPv6 prefix lists
!
{%   for p_name,p_value in routing._prefix.ipv6.items() %}
ipv6 prefix-list {{ p_name }}
{%     for p_entry in p_value %}
  seq {{ p_entry.sequence }} {{ p_entry.action }} {{ p_entry.ipv6 }}
{%     endfor %}
{%   endfor %}
{% endif %}
