{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry,af_list) routemap.create_route_maps(routing.policy) -%}
{%     if 'set' in p_entry %}
{%       if 'bandwidth' in p_entry.set %}
  set extcommunity bandwidth {{ p_entry.set.bandwidth }}
{%       endif %}
{%       if p_entry.set.community.delete_list|default(False) %}
  set comm-list {{ p_entry.set.community.delete_list }} delete
{%       endif %}
{%     endif %}
{{     routemap.common_route_map_entry(p_entry,af_list) }}
{%-   endcall %}
{% endif %}
{% if routing.prefix|default({}) %}
{%   include '_prefix_list_ios.j2' %}
{% endif %}
{% if routing.aspath|default({}) %}
{%   for asp_name,asp_list in routing.aspath.items() %}
!
{%     for asp_line in asp_list %}
bgp as-path access-list {{ asp_name }} {{ asp_line.action }} {{ asp_line.path }}
{%     endfor %}
{%   endfor %}
{% endif %}
{% if routing.community|default({}) %}
{%   for c_name,c_value in routing.community.items() %}
!
{%     for c_line in c_value.value %}
bgp community-list {{ c_value.type }} {{ c_name }} {{ c_line.action }} {{ c_line._value }}
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% if routing.static|default([]) %}
!
{% macro config_sr(sr_data,af) %}
{%   set cmd_af = 'ip' if af == 'ipv4' else af %}
{%   set e_vrf = ' nexthop-vrf '+(sr_data.nexthop.vrf or 'default') if 'vrf' in sr_data.nexthop else '' %}
{%   set sr_nh = 'Null0' if 'discard' in sr_data.nexthop else sr_data.nexthop[af] %}
{{ cmd_af }} route {{ sr_data[af] }} {{ sr_nh }} {{ sr_data.nexthop.intf|default('') }}{{ e_vrf }}
{% endmacro -%}
!
! Global static routes
!
{%   for sr_data in routing.static if 'vrf' not in sr_data %}
{%     for sr_af in ['ipv4','ipv6'] if sr_af in sr_data %}
{{       config_sr(sr_data,sr_af) -}}
{%     endfor %}
{%   endfor %}
{%   for r_vrf in routing.static|map(attribute='vrf',default=False)|unique if r_vrf %}
{%     if loop.first %}
!
! VRF static routes
{%     endif %}
!
vrf {{ r_vrf }}
{%     for sr_data in routing.static if sr_data.vrf|default('') == r_vrf %}
{%       for sr_af in ['ipv4','ipv6'] if sr_af in sr_data %}
{{         config_sr(sr_data,sr_af) -}}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}
