{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry,af_list) routemap.create_route_maps(routing.policy) -%}
{{     routemap.common_route_map_entry(p_entry,af_list) }}
{%-  endcall %} 
{% endif %}
{% if routing.prefix|default({}) %}
{%   include '_prefix_list_ios.j2' %}
{% endif %}
!
! AS-path access lists
!
{% if routing.aspath|default({}) %}
{%   for asp_name,asp_list in routing.aspath.items() %}
!
{%     for asp_line in asp_list %}
ip as-path access-list {{ routing._numobj.aspath[asp_name] }} {{ asp_line.action }} {{ asp_line.path }}
{%     endfor %}
{%   endfor %}
{% endif %}
{% if routing.community|default({}) %}
{%   for c_name,c_value in routing.community.items() %}
!
{%     for c_line in c_value.value %}
ip community-list {{ c_value.type }} {{ c_name }} {{ c_line.action }} {{ c_line._value }}
{%     endfor %}
{%   endfor %}
{% endif %}
