{% import '_route_map_ios.j2' as routemap with context %}
!
{% if routing.policy|default({}) %}
{%   call(p_entry,af_list) routemap.create_route_maps(routing.policy) -%}
{{     routemap.common_route_map_entry(p_entry,af_list) }}
{%-  endcall %} 
{% endif %}
{% if routing.prefix|default({}) %}
{%   include '_prefix_list_ios.j2' %}
{% endif %}
