{#
   Prefix sets
#}
{% if routing.prefix is defined %}
{%   include 'iosxr/prefix.j2' %}
{% endif %}
{#
   Routing policies
#}
{% if routing.policy is defined %}
{%   include 'iosxr/policy.j2' %}
{% endif %}
{#
   Static routes
#}
{% if routing.static is defined %}
{%   include 'iosxr/static.j2' %}
{% endif %}
