#!/bin/bash
{#
    We need a separate linux-clab.j2 template to tell the deployment script
    the commands should be executed on the host (in the network namespace
    context) and not within the container
#}
{% include 'linux/vanilla.j2' +%}
