updates:
{% if routing.prefix is defined %}
{%   include 'srlinux/prefix.j2' %}
{% endif %}
{% if routing.policy is defined %}
{%   include 'srlinux/policy.j2' %}
{% endif %}
{% if routing.static is defined %}
{%   include 'srlinux/static.j2' %}
{% endif %}
