updates:
{% for rp_name,rp_list in routing.policy|default({})|items %}
- path: routing-policy/policy[name={{ rp_name }}]
  val:
   statement:
{%  for entry in rp_list %}
   - name: rpe_{{ entry.sequence }}
     action:
      bgp:
{%    if 'locpref' in entry.set %}
       local-preference:
        set: {{ entry.set.locpref }}
{%    endif %}
{%    if 'med' in entry.set %}
       med:
        set: {{ entry.set.med }}
{%    endif %}
{%  endfor %}
{% endfor %}
