updates:
{% for rp_name,rp_list in routing.policy|default({})|items %}
- path: /configure/policy-options/policy-statement[name={{ rp_name }}]
  val:
    entry:
{%  for entry in rp_list %}
    - entry-id: {{ entry.sequence }}
      action:
        action-type: accept
{%    if 'locpref' in entry.set %}
        local-preference: "{{ entry.set.locpref }}"
{%    endif %}
{%    if 'med' in entry.set %}
        bgp-med:
          set: "{{ entry.set.med }}"
{%    endif %}
{%  endfor %}
{% endfor %}
