{% for sr_data in routing.static|default([]) if 'ipv4' in sr_data and 'ipv4' in sr_data.nexthop %}
ip route {{ sr_data.ipv4|ansible.utils.ipaddr('network') }} {{ sr_data.ipv4|ansible.utils.ipaddr('netmask') }} {{ sr_data.nexthop.ipv4 }} weight 1
{% endfor %}
