#!/bin/vbash
source /opt/vyatta/etc/functions/script-template

if [ "$(id -g -n)" != 'vyattacfg' ] ; then
    exec sg vyattacfg -c "/bin/vbash $(readlink -f $0) $@"
fi

# Configuration items start here

configure

{% if routing.prefix|default({}) %}
{%   include '_prefix_list_vyos.j2' %}
{% endif %}

{% if routing.aspath|default({}) %}
{%   for asp_name,asp_list in routing.aspath.items() %}
{%     for asp_line in asp_list %}
set policy as-path-list {{ asp_name }} rule {{ asp_line.sequence }} action {{ asp_line.action }}
set policy as-path-list {{ asp_name }} rule {{ asp_line.sequence }} regex "{{ asp_line.path }}"
{%     endfor %}
{%   endfor %}
{% endif %}

{% if routing.community|default({}) %}
{%   for c_name,c_value in routing.community.items() %}
{%     for c_line in c_value.value %}
set policy community-list {{ c_name }} rule {{ c_line.sequence }} action {{ c_line.action }}
set policy community-list {{ c_name }} rule {{ c_line.sequence }} regex "{{ c_line._value }}"
{%     endfor %}
{%   endfor %}
{% endif %}

{% if routing.policy|default({}) %}
{%   import '_route_policy_vyos.j2' as routemap with context %}
{{   routemap.create_route_maps(routing.policy) }}
{% endif %}

commit
save
exit
