### Custom template
Vagrant.configure("2") do |config|
{% for name,n in nodes.items() if not (n.unmanaged|default(False)) %}
{%   set name = name.split('.')[0] %}
{%   set box  = n.box %}
{%   include "define-domain.j2" +%}
{% endfor %}
#
# The rest of the file intentionally left blank ;)
#
