!
router bgp {{ bgp.as }}
!
 address-family ipv6 unicast
  allocate-label all
!
{% for n in bgp.neighbors if n.ipv4 is defined and n['6pe']|default(False) %}
 neighbor {{ n.ipv4 }}
  address-family ipv6 labeled-unicast
{% endfor %}
