!
mpls ldp
  router-id {{ ldp.router_id }}
  log neighbor
  log hello-adjacency
  !
{% for l in netlab_interfaces if ('ldp' in l) and not l.ldp.passive %}
  interface {{ l.ifname }}
{% endfor %}
{% for ldp_af in ldp.af %}
  !
  address-family {{ ldp_af }}
{%   if ldp.explicit_null|default(False) %}
    label local advertise explicit-null
{%   endif %}
{% endfor %}
