- name: "Load MPLS kernel modules"
  shell: |
    modprobe mpls-router mpls-iptunnel
  become: true
  delegate_to: localhost
  run_once: true
  tags: [ print_action, always ]

- import_tasks: deploy-config.yml
  tags: [ print_action, always ]
