/* Overall changes */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: Verdana,sans-serif;
    font-style: normal;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: .05em;
    line-height: 1.4;
}

h1:first-child, h2:first-child, h3:first-child {
    margin-top: 0;
}

h1 {
    color: #d26400;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

body, p {
    font-family: Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #372f2d;
    font-size: 14px;
    line-height: 1.6;    
}

html[data-theme="dark"] body, html[data-theme="dark"] p {
    color: #d1bfab !important;
}

html[data-theme="dark"] hr {
    border-top: 1px solid #e1e4e5;
}

aside.footnote, aside.footnote p {
    line-height: 1.6 !important;
    font-size: 90% !important;
}

a, a:visited {
    color: #d26400;
}

html[data-theme="dark"] a, html[data-theme="dark"] a:visited {
    color: #fba002 !important;
}

.rst-content code.literal, .rst-content tt.literal {
    font-size: 90%;
    color: #d26400;
}

.rst-content table.docutils th {
    background-color: #e3e3e3;
}

html[data-theme="dark"] .rst-content table.docutils th {
    background-color: #372f2d;
}

html[data-theme="dark"] .rst-content div[class^="highlight"] {
    border-color: rgba(55,47,45) !important;
}

html[data-theme="dark"] .highlight {
    background-color: rgba(55,47,45,0.5) !important;
}

.rst-content table.docutils p {
    line-height: 1.6 !important;
}

/* Page title */
.wy-nav-top {
    background-color: #d1bfab;
}

.wy-nav-content {
    padding-top: 1.5em;
}

html[data-theme="dark"] .wy-nav-content a, html[data-theme="dark"] .wy-nav-content a:visited {
    color: #fba002 !important;
}

h1.title {
    margin-bottom: 0.3em;
}

.wy-breadcrumbs {
    font-size: 90%;
}

.breadcrumb-item:first-child:before {
    content: "";
    padding: 0 0;
}

div[role*="navigation"] hr {
    display: none;
}

div[role*="navigation"] {
    margin-bottom: 1.8em;
}

div.document h1:first-of-type {
    display: none;
}

/* Navigation sidebar */

.wy-menu-vertical a, .wy-menu-vertical a:visited {
    color: #372f2d !important;
}

html[data-theme="dark"] .wy-menu-vertical a, html[data-theme="dark"] .wy-menu-vertical a:visited {
    color: #d1bfab !important;
}

.wy-menu-vertical a:hover {
    background-color: rgba(205,205,205,.4);
}

.wy-nav-side {
    background-color: rgba(205,205,205,.16);
}

.wy-side-nav-search {
    padding-top: 1.5em;
    background-color: #f7f7f7;
    text-align: left;
    color: inherit !important;
}

html[data-theme="dark"] .wy-side-nav-search {
    background-color: rgba(55,47,45) !important;
}

.wy-side-nav-search>a {
    color: #d26400;
}

.icon-home::before { 
    content: "";
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #d26400;
}

/* Admonitions */
.rst-content .admonition.tip, .rst-content .admonition.note {
    background-color: #e3e3e3;
}

.rst-content .admonition.tip .admonition-title, .rst-content .admonition.note .admonition-title {
    background-color: #d1bfab;
}

.rst-content .admonition.warning {
    background-color: #e3e3e3;
}

.rst-content .admonition.warning .admonition-title {
    background-color: #d26400;
}

html[data-theme="dark"] .rst-content .admonition.tip,
html[data-theme="dark"] .rst-content .admonition.note  {
    background-color: #613913;
}

html[data-theme="dark"] .rst-content .admonition.tip .admonition-title,
html[data-theme="dark"] .rst-content .admonition.note .admonition-title {
    background-color: #9b652f;
}

html[data-theme="dark"] .rst-content .admonition.warning {
    background-color: #613913;
}

html[data-theme="dark"] .rst-content .admonition.warning .admonition-title {
    background-color: #d26400;
}

/* Footer */
footer div[role*="contentinfo"] p {
    font-size: 80%;
    display: block;
}

footer, html[data-theme="dark"] footer, footer>a, footer>a:visited, 
html[data-theme="dark"] .wy-nav-content footer>a, html[data-theme="dark"] .wy-nav-content footer>a:visited {
    color: transparent !important;
}

/* Convenience styles */
.text-center { 
    text-align: center;
}

.text-right { 
    text-align: right;
}
