#!/bin/bash
{% for intf in interfaces
     if neighbor in intf.neighbors|map(attribute='node',default='')
       and intf.vlan.access_id is defined %}
ip link set {{ intf.ifname }} {{ ifstate|default('down') }}
{% endfor %}
