{% if services.dns._server_list is defined %}
{#
    Define at most six DNS server addresses
#}
{%   for srv_ip in services.dns._server_list[:6] %}
ip dns server-address {{ srv_ip }}
{%   endfor %}
{% endif %}
{% if services.dns.domain|default(False) %}
ip dns domain-list {{ services.dns.domain }}
{% endif %}
{% for syslog_host in services.syslog._server_list|default([]) %}

logging {{ syslog_host }}{%
   if services.syslog.transport_vrf is defined %} vrf {{ services.syslog.transport_vrf }}{% endif +%}
{% endfor %}
