{% if services.dns._server_list is defined %}
{#
    Define at most six DNS server addresses
#}
{%   for srv_ip in services.dns._server_list[:6] %}
ip dns server-address {{ srv_ip }} {% if services.dns.transport_vrf is defined
 %}vrf {{ services.dns.transport_vrf }} {% endif +%}
{%   endfor %}
{% endif %}
{% if services.dns.domain|default(False) %}
ip dns domain-list {{ services.dns.domain }} {% if services.dns.transport_vrf is defined
 %}vrf {{ services.dns.transport_vrf }} {% endif %}
{% endif %}

{# {% for syslog_host in services.syslog._server_list|default([]) %}
{%   if loop.first %}
{% endif %} #}


{# 
switch(config)# ip dns domain-list domain1.com vrf mainvrf
switch(config)# ip dns domain-list domain2.com vrf mainvrf
switch(config)# ip dns domain-list domain3.com vrf mainvrf
switch(config)# ip dns server-address c::13
switch(config)# ip dns host myhost 3.3.3.3 vrf mainvrf
 #}
{# "logging {{ SPLUNK_IP }} tcp 5514 vrf mgmt" #}