{% if services.dns._server_list is defined %}
{#
    Define at most six DNS server addresses
#}
ip name-server {% if services.dns.transport_vrf is defined
  %}vrf {{ services.dns.transport_vrf }} {% endif
  %}{{ services.dns._server_list[:6]|join(' ') }}
{% endif %}
{% if services.dns.domain|default(False) %}
ip domain-list {{ services.dns.domain }}
{% endif %}
