#!/bin/bash
{#
    If the node uses a DNS client, we have to create the /etc/resolv.conf file on FRR VMs
#}
{% if clab is not defined %}
{%   if services.dns._server_list is defined %}
cat <<'CONFIG' >/etc/resolv.conf
{%     include 'initial/linux/resolv.j2' +%}
CONFIG
{%   endif %}
{% endif %}
# Syslog configuration comes here (eventually)
