{% if services.dns._server_list is defined %}
{#
    Use at most six DNS server addresses
#}
ip domain lookup
ip name-server {% if services.dns.transport_vrf is defined
  %}vrf {{ services.dns.transport_vrf }} {% endif
  %}{{ services.dns._server_list[:6]|join(' ') }}
{% endif %}
{% if services.dns.domain|default(False) %}
ip domain name {{ services.dns.domain }}
{% endif %}
