{% if services.dns._server_list is defined %}
{#
    Use at most six DNS server addresses
#}
ip domain lookup
{%   if services.dns.transport_vrf is defined %}
ip dns view default
{%     for srv_ip in services.dns._server_list[:6] %}
 domain name-server vrf {{ services.dns.transport_vrf }} {{ srv_ip }}
{%     endfor %}
{%     if services.dns.domain|default(False) %}
 domain name {{ services.dns.domain }}
{%     endif %}
{%   else %}{# DNS client in global routing table #}
ip name-server {{ services.dns._server_list[:6]|join(' ') }}
{%     if services.dns.domain|default(False) %}
ip domain name {{ services.dns.domain }}
{%     endif %}
{%   endif %}
{% endif %}
{% for syslog_host in services.syslog._server_list|default([]) %}
logging host {{ "ipv6 " if ':' in syslog_host else "" }}{{ syslog_host }}{%
   if services.syslog.transport_vrf is defined %} vrf {{ services.syslog.transport_vrf }}{% endif +%}
{% endfor %}
