{% if services.dns._server_list is defined %}
{#
    Define at most six DNS server addresses
#}
no domain lookup disable
{%   for srv_ip in services.dns._server_list[:6] %}
domain name-server {{ srv_ip }}
{%   endfor %}
{% endif %}
{% if services.dns.domain|default(False) %}
domain name {{ services.dns.domain }}
{% endif %}
{% for syslog_host in services.syslog._server_list|default([]) %}
{%   if loop.first %}
!
logging trap informational
!
{%   endif %}
logging {{ syslog_host }} port default{%
   if services.syslog.transport_vrf is defined %} vrf {{ services.syslog.transport_vrf }}{% endif +%}
{% endfor %}
