{% if services.dns._server_list is defined %}
{#
    Define at most six DNS server addresses
#}
no domain lookup disable
{%   for srv_ip in services.dns._server_list[:6] %}
domain name-server {{ srv_ip }}
{%   endfor %}
{% endif %}
{% if services.dns.domain|default(False) %}
domain name {{ services.dns.domain }}
{% endif %}
