{#
    Define at most three DNS server addresses
#}
system {
{% if services.dns.domain|default(False) %}
  domain-name {{ services.dns.domain }};
{% endif %}
{% if services.dns._server_list is defined %}
  name-server {
{%   for srv_ip in services.dns._server_list[:3] %}
    {{ srv_ip }}{% 
      if services.dns.transport_vrf is defined %} routing-instance {{ services.dns.transport_vrf }}{%
      endif %};
{%   endfor %}
  }
{% endif %}
}
