{% if services.dns._server_list is defined %}
ip domain-lookup
!
{#
    Define at most six DNS server addresses
#}
ip name-server {{ services.dns._server_list[:6]|join(' ') }}{%
    if services.dns.transport_vrf is defined %} use-vrf {{ services.dns.transport_vrf }}{% endif +%}
{% endif %}
{% if services.dns.domain|default(False) %}
ip domain-name {{ services.dns.domain }}
{% endif %}
