updates:
{% if services.dns._server_list is defined %}
- path: /system/dns-instance[name=default]
  value:
    network-instance: default
{%   if services.dns.domain|default(False) %}
    search-list: [ {{ services.dns.domain }} ]
{%   endif %}
    server-list: {{ services.dns._server_list[:6] }}
{% endif %}
{% for syslog_host in services.syslog._server_list|default([]) %}
{%   if loop.first %}
- path: /system/logging
  value:
    remote-server:
{%   endif %}
    - host: {{ syslog_host }}
      network-instance: {{ services.syslog.transport_vrf|default('default') }}
      transport: udp
      facility:
      - facility-name: all
        priority:
          match-above: informational
{% endfor %}
