updates:
{% if services.dns._server_list is defined %}
- path: /system/dns-instance[name=default]
  value:
    network-instance: default
{%   if services.dns.domain|default(False) %}
    search-list: [ {{ services.dns.domain }} ]
{%   endif %}
    server-list: {{ services.dns._server_list[:6] }}
{% endif %}
