{% if services.dns._server_list is defined %}
{%   for d_srv in services.dns._server_list %}
set system name-server {{ d_srv }}
{%   endfor %}
{%   if services.dns.domain|default(False) %}
set system domain-search {{ services.dns.domain }}
{%   endif %}
{% endif %}

{% for syslog_host in services.syslog._server_list|default([]) %}
set system syslog remote {{ syslog_host }} {%
   if services.syslog.transport_vrf is defined %} vrf {{ services.syslog.transport_vrf }}{% endif +%}
set system syslog remote {{ syslog_host }} facility all level info 
{% endfor %}
