{% if vlans is defined %}
{%  for vname,vdata in vlans.items() %}
{%   if loop.first %}
- set:
    bridge:
      domain:
        br_default:
          vlan:
{%   endif %}
            '{{ vdata.id }}': {}
{%  endfor %}
{% endif %}

{# Note: interface.xyz.vlan is only used for SVI interfaces in case of multiple bridges #}

{% for i in interfaces if i.vlan is defined and (i.virtual_interface is not defined or i.type=="lag") %}
{%   if loop.first %}
    interface:
{%   endif %}
     {{ i.ifname }}:
       bridge:
         domain:
           br_default:
{%   if i.vlan.trunk_id is defined +%}
             vlan:
{%     for v in i.vlan.trunk_id|sort %}
               '{{ v }}': {}
{%     endfor %}
             untagged: {{ i.vlan.access_id if 'native' in i.vlan else 'none' }}
{%   elif i.vlan.access_id is defined %}
             access: {{ i.vlan.access_id }}
{%   endif %}
{% endfor %}
