{% if vlans is defined %}
{%   for vname,vdata in vlans.items() if vdata.mode!='route' %}
{%     if loop.first %}
- set:
    bridge:
      domain:
        br_default:
          type: vlan-aware
          vlan:
{%     endif %}
            '{{ vdata.id }}': {}
{%   endfor %}
{% endif %}

{# Note: interface.xyz.vlan is only used for SVI interfaces in case of multiple bridges #}

{% for i in interfaces if (i.vlan.access_id is defined or i.subif_index is defined) and
                          i.vlan.mode|default(None) != 'route' and
                          (i.virtual_interface is not defined or i.type in ["vlan_member","lag"]) %}
- set:
    interface:
     {{ i.parent_ifname if i.type=='vlan_member' else i.ifname }}:
       bridge:
         domain:
           br_default:
{%   if i.type=='vlan_member' %}
             vlan:
               '{{ i.vlan.access_id }}': {}
{%   elif i.subif_index is defined %}
{%     if i.vlan.access_id is defined %}
             vlan:
               '{{ i.vlan.access_id }}': {}
{%     endif %}
             untagged: {{ i.vlan.access_id if i.vlan.native is defined else 'none' }}
{%   else %}
             access: {{ i.vlan.access_id }}
{%   endif %}
{% endfor %}
