{% for ifdata in interfaces|default([]) if ifdata.vlan is defined %}
!
interface {{ ifdata.ifname }}
{% if ifdata.vlan.access_id is defined %}
 switchport
 switchport access vlan {{ ifdata.vlan.access_id }}
{% endif %}
{% endfor %}