#!/bin/bash
#
set -e # Exit immediately when any command fails
#
{# Create VLAN subinterfaces. No need to set IP addresses, FRR can handle that #}
{% for i in interfaces if i.type == 'vlan_member' %}
if [ ! -e /sys/devices/virtual/net/{{ i.ifname }} ]; then
  ip link add link {{ i.parent_ifname }} name {{ i.ifname }} type vlan id {{ i.vlan.access_id }}
  ip link set dev {{ i.ifname }} up
fi
{% endfor %}
{% for i in interfaces if i.type == 'svi' %}
if [ ! -e /sys/devices/virtual/net/{{ i.ifname }} ]; then
  ip link add {{ i.ifname }} type bridge
  ip link set dev {{ i.ifname }} address {{ i.mac_address|hwaddr('linux') }}
{# If STP is required, enable it before bringing up the bridge device to avoid any forwarding loops #}
{%  if 'stp' in module|default([]) and (i.stp|default(stp)).enable|default(True) %}
  ip link set {{ i.ifname }} type bridge stp_state 1
{%  endif %}

{%   if i.mtu is defined %}
  ip link set dev {{ i.ifname }} mtu {{ i.mtu }}
{%   endif %}
  ip addr flush dev {{ i.ifname }}
{%   if 'ipv4' in i and (i.ipv4 is string or 'ipv4' in loopback) %}
  ip addr add {{ i.ipv4 if i.ipv4 is string else loopback.ipv4 }} dev {{ i.ifname }}
{%   endif %}
{%   if 'ipv6' in i %}
  sysctl -w net.ipv6.conf.{{ i.ifname }}.addr_gen_mode=3
{%     if i.ipv6 is string %}
  ip addr add {{ i.ipv6 }} dev {{ i.ifname }}
{%     elif not i.ipv6 %}
  sysctl -w net.ipv6.conf.{{ i.ifname }}.disable_ipv6=1
{%     endif %}
{%   endif %}
fi
{% endfor %}

{# Add interfaces to VLAN bridges #}
{% for i in interfaces if i.vlan.access_id is defined and i.vlan.mode|default('') != 'route' %}
ip link set dev {{ i.ifname }} master vlan{{ i.vlan.access_id }}
{% endfor %}

{% for i in interfaces if i.type == 'svi' %}
ip link set dev {{ i.ifname }} up
{% endfor %}
