{% for ifdata in interfaces|default([]) if ifdata.vlan is defined %}
!
interface {{ ifdata.ifname }}
{% if ifdata.vlan.access is defined %}
 bridge-group {{ vlans[ifdata.vlan.access].bridge_group }}
{% endif %}
{% endfor %}