{% include 'frr.j2' +%}
{% from "initial/linux/vanilla-ifconfig.j2" import ifconfig %}
{% for intf in interfaces if intf.type == 'svi' or intf.vlan.mode|default('') == 'route' %}
{{   ifconfig(intf) }}
{% endfor %}
