#!/bin/sh

set -e # Exit immediately when any command fails
set -x # Track commands for troubleshooting

{% for ifdata in interfaces if ifdata.vlan is defined %}
{%   if ifdata.type == 'vlan_member' %}
ifconfig {{ ifdata.ifname }} parent {{ ifdata.parent_ifname }} vnetid {{ ifdata.vlan.access_id }}
{%   endif %}
{% endfor %}

