#!/bin/sh

set -e # Exit immediately when any command fails
set -x # Track commands for troubleshooting

{% for ifdata in interfaces if ifdata.vlan is defined %}
{%   if ifdata.vlan.access is defined %}
ifconfig veb{{ ifdata.vlan.access_id }} add {{ ifdata.ifname }} up
{%   endif %}
{%   if ifdata.vlan.native is defined %}
ifconfig veb{{ ifdata.vlan.access_id }} add {{ ifdata.ifname }} up
{%   endif %}
{%   if ifdata.type=='svi' %}
{%     for vname,vdata in (vlans|default({})).items() %}
{%       if ifdata.vlan.name == vname %}
ifconfig veb{{ vdata.id }} add {{ ifdata.ifname }} up
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
