{% from "templates/initial/srlinux.j2" import ip_addresses with context %}

updates:
{# Create mac-vrfs for L2 VLANs, add IRB interface if any #}
{% if vlans is defined %}
{% for vname,vdata in vlans.items() if vdata.mode|default('irb') != 'route' %}
{# Use only vlan.id in name, such that svi interfaces can be associated #}
- path: network-instance[name=vlan{{ vdata.id }}]
  val:
   type: mac-vrf
   description: "VLAN {{ vname }}"
{% endfor %}
{% endif %}

{% macro add_interface(macvrf,ifname,vlan,i) %}
{% if i.vlan.trunk_id is defined %}
{%  set native = i.vlan.native|default('not set') %}
{%  for v in i.vlan.trunk %}
{%   set type = 'bridged' if v==native or vlans[v].mode=='bridge' else 'routed' %}
- path: interface[name={{ifname}}]
  val:
   vlan-tagging: True
   description: "Trunk port native={{native}}"
   subinterface:
   - index: {{ vlans[v].id }}
     type: {{ type }}
     vlan:
      encap:
{%     if v != native %}
       single-tagged:
        vlan-id: "{{ vlans[v].id }}"
{%     else %}
       {# Untagged only allowed for bridged vlans, routing via irb interface #}
       untagged: { }
{%     endif %}

{% if type == 'bridged' %}
- path: network-instance[name={{ macvrf }}]
  val:
   interface:
   - name: {{ ifname }}.{{ vlan }}
{% endif %}
{%  endfor %}

{% else %}
- path: interface[name={{ifname}}]
  val:
   subinterface:
   - index: {{ vlan }}
     description: {{ i.name|default("not provided")|replace('->','~')|regex_replace('[\\[\\]]','') }}
{%   if ifname!="irb0" and i.parent_ifname is not defined %}
     type: {{ 'bridged' if i.vlan.mode|default('irb')=='bridge' else 'routed' }}
{%   endif %}

{% if i.vlan.mode|default('irb') == 'bridge' or ifname=="irb0" %}
- path: network-instance[name={{ macvrf }}]
  val:
   interface:
   - name: {{ ifname }}.{{ vlan }}
{% endif %}
{% if i.vlan.mode|default('irb') != 'bridge' %}
{{  ip_addresses(ifname,vlan,i) }}

{%  if ifname=="irb0" %}
- path: network-instance[name={{ i.vrf|default('default') }}]
  val:
   type: {{ 'default' if i.vrf|default('default')=='default' else 'ip-vrf' }}
   interface:
   - name: {{ ifname }}.{{ vlan }}
{%  endif %}
{% endif %}
{% endif %}
{% endmacro %}

{% for l in interfaces|default([]) if l.vlan is defined %}
{%  if l.type in ['svi'] and l.vlan.mode|default('irb') == 'irb' %}
{%    set vlan = l.ifname[4:]|int %}
{{    add_interface( l.ifname, "irb0", vlan, l ) }}
{%  elif l.type in ['lan','vlan_member'] %}
{%    set vlan = l.vlan.access_id %}
{{    add_interface( "vlan" + vlan|string, l.parent_ifname|default(l.ifname), vlan, l ) }}
{%  endif %}
{% endfor %}
