{% from "templates/initial/srlinux.j2" import ip_addresses with context %}

updates:
{# Create mac-vrfs for L2 VLANs, add IRB interface if any #}
{% if vlans is defined %}
{% for vname,vdata in vlans.items() if vdata.mode|default('irb') != 'route' %}
{# Use only vlan.id in name, such that svi interfaces can be associated #}
- path: network-instance[name=vlan{{ vdata.id }}]
  val:
   type: mac-vrf
   description: "VLAN {{ vname }}"
{% endfor %}
{% endif %}

{% macro add_interface(macvrf,ifname,vlan,i) %}
{% set is_l2 = i.vlan.mode|default('irb') == 'bridge' %}
- path: interface[name={{ifname}}]
  val:
{% if i.type in ["vlan_member"] %}
   vlan-tagging: True
{% endif %}
   subinterface:
   - index: {{ vlan }}
{%   if ifname!="irb0" %}
     type: {{ 'bridged' if is_l2 else 'routed' }}
{%    if i.type in ["vlan_member"] %}
     vlan:
      encap:
{%     if i.vlan.access_id is defined %}
       single-tagged:
        vlan-id: "{{ i.vlan.access_id }}"
{%     else %}
       untagged: { }
{%     endif %}
{%    endif %}
{% endif %}

{% if is_l2 %}
- path: network-instance[name={{ macvrf }}]
  val:
   interface:
   - name: {{ ifname }}.{{ vlan }}
{% else %}
{{  ip_addresses(ifname,vlan,i) }}

{%  if ifname=="irb0" %}
- path: network-instance[name={{ i.vrf|default('default') }}]
  val:
   type: {{ 'default' if i.vrf|default('default')=='default' else 'ip-vrf' }}
   interface:
   - name: {{ ifname }}.{{ vlan }}
{%  endif %}
{% endif %}

{% endmacro %}

{% for l in interfaces|default([]) if l.vlan is defined %}
{%  if l.type in ['svi'] and l.vlan.mode|default('irb') == 'irb' %}
{%    set vlan = l.ifname[4:]|int %}
{{    add_interface( l.ifname, "irb0", vlan, l ) }}
{%  elif l.type in ['lan','vlan_member'] %}
{%    set vlan = l.vlan.access_id %}
{{    add_interface( "vlan" + vlan|string, l.parent_ifname|default(l.ifname), vlan, l ) }}
{%  endif %}
{% endfor %}
