{#
  VPP L2 bridging uses bridge-domains (router VLAN model). Linux bridges on LCP
  taps do not forward between host-interfaces; put access ports into VPP BDs.
#}
{% for vname,vdata in vlans|default({})|dictsort %}
create bridge-domain {{ vdata.id }}
{% endfor %}
{% for ifdata in interfaces if ifdata.vlan is defined and ifdata.type|default('') != 'svi' %}
{%   set vname = ifdata.vlan.access|default(ifdata.vlan.native) %}
{%   if vname is defined and vlans[vname].mode|default('irb') != 'route' %}
set interface l2 bridge host-{{ ifdata.ifname }} {{ vlans[vname].id }}
{%   endif %}
{% endfor %}
