{#

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
need to use ethernet switching family
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

EXAMPLE:

set interfaces et-0/0/0 unit 0 family ethernet-switching vlan members v1000
set interfaces et-0/0/1 unit 0 family ethernet-switching vlan members v1001
set interfaces et-0/0/2 unit 0 family ethernet-switching vlan members v1002
set interfaces et-0/0/3 unit 0 family ethernet-switching vlan members v1002
set interfaces irb unit 1000 description "VLAN red (1000) -> [h1] [stub]"
set interfaces irb unit 1000 family inet address 172.16.0.2/24
set interfaces irb unit 1001 description "VLAN blue (1001) -> [h2] [stub]"
set interfaces irb unit 1001 family inet address 172.16.1.2/24
set interfaces irb unit 1002 description "VLAN green (1002) -> [h3,h4] [stub]"
set interfaces irb unit 1002 family inet address 172.16.2.2/24
set interfaces lo0 unit 0 family inet address 10.0.0.2/32
set interfaces re0:mgmt-0 unit 0 family inet dhcp
set routing-instances mgmt_junos description Out-Of-Band
set protocols lldp interface re0:mgmt-0 disable
set protocols lldp interface all
set vlans v1000 vlan-id 1000
set vlans v1000 l3-interface irb.1000
set vlans v1001 vlan-id 1001
set vlans v1001 l3-interface irb.1001
set vlans v1002 vlan-id 1002
set vlans v1002 l3-interface irb.1002

#}

{# for any vlan != route, define it #}
vlans {
{% for vlan,vdata in vlans.items() if vdata.mode != 'route' %}
  {{ vlan }} {
    vlan-id {{ vdata.id }};

{%   if vdata.mode == 'irb' %}
    l3-interface irb.{{ vdata.id }};
{%   endif %}

  }
{% endfor %}
}

{# for any interface in switched mode, set family eth switching & appropriate params #}
interfaces {

{% for ifdata in interfaces if ifdata.vlan is defined and ifdata._vlan_master is defined %}

  {{ ifdata.ifname }} {
    family ethernet-switching {

{%   if ifdata.vlan.trunk_id is defined %}
      interface-mode trunk;
      vlan {
        members [ {{ ifdata.vlan.trunk.keys()|sort|join(" ") }} ];
      }
{%   elif ifdata.vlan.access_id is defined and ifdata.type != 'vlan_member' %}
      vlan {
        members {{ ifdata.vlan.access }};
      }
{%   endif %}

    }
  }

{%   if ifdata.vlan.trunk_id is defined and ifdata.vlan.native is defined %}
  {{ ifdata.junos_interface }} {
    native-vlan-id {{ ifdata.vlan.access_id }};
  }
{%   endif %}

{% endfor %}
}
