#!/bin/bash
cat <<CONFIG | cli | tee /tmp/cli-status
configure
load merge $0
CONFIG
if grep -i error /tmp/cli-status >/dev/null; then
  echo "Configuration load failed, aborting"
  exit 1
else
  cat <<CONFIG | cli | tee /tmp/cli-status
configure
commit and-quit
CONFIG
  if grep -i error /tmp/cli-status >/dev/null; then
    echo "Commit failed, aborting"
    exit 1
  fi
fi
