{#

Configure IPv4 EIGRP

#}
{% if eigrp.af.ipv4 is defined %}
router eigrp {{ eigrp.as }}
{% if eigrp.router_id|ipv4 %}
 eigrp router-id {{ eigrp.router_id }}
{% endif %}
{% for l in netlab_interfaces|default([]) if 'eigrp' in l and 'ipv4' in l  and l.ipv4 is string %}
 network {{ l.ipv4|ipaddr('address') }} 0.0.0.0
{% endfor %}
{% for l in interfaces|default([]) if 'eigrp' in l and l.eigrp.passive %}
 passive-interface {{ l.ifname }}
{% endfor %}
{% if mgmt.ifname|default("") %}
 passive-interface {{ mgmt.ifname }}
{% endif %}
!
{% endif %}
{#

Configure IPv6 EIGRP - totally separate configuration

#}
{% if eigrp.af.ipv6 is defined %}
ipv6 router eigrp {{ eigrp.as }}
{% if eigrp.router_id|ipv4 %}
 eigrp router-id {{ eigrp.router_id }}
{% endif %}

{% for l in netlab_interfaces|default([]) if 'eigrp' in l and l.eigrp.passive %}
 passive-interface {{ l.ifname }}
{% endfor %}
!
{% for l in netlab_interfaces|default([]) if 'eigrp' in l and 'ipv6' in l %}
interface {{ l.ifname }}
 ipv6 eigrp {{ eigrp.as }}
!
{% endfor %}
{% endif %}
