feature eigrp
!
router eigrp {{ eigrp.as }}
{% if eigrp.ipv6 is defined %}
 address-family ipv6 unicast
{% endif %}
!
interface loopback0
{% if loopback.ipv4|default('')|ipv4 %}
 ip router eigrp {{ eigrp.as }}
{% endif %}
{% if loopback.ipv6|default('')|ipv6 %}
 ipv6 router eigrp {{ eigrp.as }}
{% endif %}
!
{% for l in links|default([]) %}
{%   if "external" in l.role|default("") %}
! EIGRP not configured on external interface {{ l.ifname }}
{%   else %}
interface {{ l.ifname }}
{%     if l.ipv4|default('')|ipv4 %}
 ip router eigrp {{ eigrp.as }}
{%     endif %}
{%     if l.ipv6|default('')|ipv6 %}
 ipv6 router eigrp {{ eigrp.as }}
{%     endif %}
{%     if l.type|default("") == "stub"
          or l.role|default("NONE") in ["stub","passive"]
          or l.eigrp.passive|default("") %}
{%       if l.ipv4|default('')|ipv4 %}
 ip passive-interface eigrp {{ eigrp.as }}
{%       endif %}
{%       if l.ipv6|default('')|ipv6 %}
 ipv6 passive-interface eigrp {{ eigrp.as }}
{%       endif %}
{%     endif %}
{%   endif %}
!
{% endfor %}
