!
interface vxlan 1
  source ip {{ vxlan.vtep }}
  no shutdown
{% if vxlan.vlans is defined %}
{%   for vname in vxlan.vlans if vlans[vname].vni is defined %}
{%     set vlan = vlans[vname] %}
  vni {{ vlan.vni }}
    vlan {{ vlan.id }}
{%     if vlan.vtep_list is defined %}
{%       for vtep in vlan.vtep_list %}
    vtep-peer {{ vtep }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
