{#
    We only need data-plane VXLAN configuration. Bird configuration is thus (almost)
    identical to the FRR one; we just need to set the "we're done" flag.
#}
{% include 'frr.j2' +%}
touch /var/run/vxlan.done
