! First of all, create association VLAN<->Virtual-Network
{% if vlans is defined %}
{%   for vlan_name, vlan in vlans.items() if vlan.vni is defined %}
virtual-network {{ vlan.id }}
 exit
clear virtual-network {{ vlan.id }} counters
!
interface vlan {{ vlan.id }}
 description "VLAN {{ vlan_name }}"
 virtual-network {{ vlan.id }}
 exit
{%   endfor %}
{% endif %}

nve
  source-interface {{ vxlan.vtep_interface|default('loopback 0') }}

{% if vxlan.vlans is defined and vlans is defined %}
{%   for vname in vxlan.vlans if vlans[vname].vni is defined %}
{%     set vlan = vlans[vname] %}
virtual-network {{ vlan.id }}
  vxlan-vni {{ vlan.vni }}
{%     if vlan.vtep_list is defined %}
{%       for remote_vtep in vlan.vtep_list %}
  remote-vtep {{remote_vtep}}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
