interface vxlan 1
  vxlan source-interface loopback 0
{% if vlans is defined %}
{%   for vlan in vlans.values() if vlan.vni is defined %}
  vxlan vlan {{ vlan.id }} vni {{ vlan.vni }}
{%     if vlan.vtep_list is defined %}
  vxlan vlan {{ vlan.id }} flood vtep {{ vlan.vtep_list|join(' ') }}
{%     endif %}
{%   endfor %}
{% endif %}
