{% macro vxlan_interface(vrf,index,type,vni,evi,rd,rts) %}
- path: tunnel-interface[name=vxlan0]/vxlan-interface[index={{index}}]
  val:
   type: {{ type }}
   ingress:
    vni: {{ vni }}
   egress:
    source-ip: use-system-ipv4-address
    
- path: network-instance[name={{vrf}}]
  val:
   type: {{ 'mac-vrf' if type=='bridged' else 'ip-vrf' }}
   vxlan-interface:
   - name: vxlan0.{{ index }}
   protocols:
    bgp-vpn:
     bgp-instance:
     - id: 1
       # route-distinguisher:
       # rd: "{{ rd }}"
       _annotate: "RD left as <auto> for EVPN services and ECMP to work as expected, not '{{ rd }}'"
       route-target:
        _annotate: "For compatibility with frr, override auto-derived RT based on EVI {{evi}} with VNI {{vni}}"
        import-rt: "target:{{ rts.import[0] }}"
        export-rt: "target:{{ rts.export[0] }}"
    bgp-evpn:
     bgp-instance:
     - id: 1
       evi: {{ evi }}
       ecmp: 8
       vxlan-interface: vxlan0.{{ index }}
{% endmacro %}

updates:
{% if vlans is defined and vxlan.vlans is defined %}
{%   for vname in vxlan.vlans if vlans[vname].vni is defined %}
{%     set vlan = vlans[vname] %}
{{ vxlan_interface('vlan'+vlan.id|string,vlan.id,'bridged',vlan.vni,vlan.evpn.evi,vlan.evpn.rd,vlan.evpn) }}
{%   endfor %}
{% endif %}

{# Symmetric IRB interfaces, note using VRF ID as transit EVI value #}
{% if vrfs is defined %}
{% for vname,vdata in vrfs.items() if 'evpn' in vdata and 'transit_vni' in vdata.evpn %}
{{ vxlan_interface(vname,vdata.vrfidx,'routed',vdata.evpn.transit_vni,vdata.vrfidx,vdata.rd,vdata) }}

{# Enable RT5 host routes for all irb interfaces in these vrfs, to deal with silent hosts and avoid suboptimal routing #}
{% for i in interfaces if i.vrf|default('')==vname and i.type=='svi' and i.vlan.mode|default('irb')=='irb' %}
- path: /interface[name=irb0]/subinterface[index={{ i.ifname.split('.')[1] }}]
  val:
{% for ip,arpnd in [('ipv4','arp'),('ipv6','neighbor-discovery')] %}
{%  if ip in i %}
   {{ ip }}:
     {{ arpnd }}:
       learn-unsolicited: True
       evpn:
        advertise: # Type of ARP/ND entries to be advertised
        - route-type: dynamic
        # - route-type: static
       host-route: # Creation of host routes in ip-vrf route table
        populate:
        - route-type: dynamic
        # - route-type: static
        # - route-type: evpn # not for entries learned through EVPN
{%  endif %}
{% endfor %}
{% endfor %}

{% endfor %}
{% endif %}
