{#
  vPTX (Junos EVO) VXLAN configuration

  On EVO, 'protocols evpn encapsulation vxlan' at the global level is NOT supported.
  The encapsulation is set inside each mac-vrf routing-instance by the evpn template.
#}
forwarding-options {
    tunnel-termination;
}
{# Common Junos VXLAN configuration (ECMP, switch-options, vlans, flooding) #}
{% include 'junos-common.j2' %}
