- test_class: TestNapalmInterfaces
  test_data:
{% for nn,nd in nodes.items()
     if nd.ansible_connection|default('') in ['ssh','paramiko','network_cli']
       and ('ipv4' in nd.mgmt or 'ipv6' in nd.mgmt) %}
    - host: {{ nn }}
      name: ToDo
      is_enabled: true
      is_up: true
      # mtu: 9232
      # speed: 10.0
{% endfor %}