- test_class: TestNapalmInterfaces
  test_data:
{% for nn,nd in nodes.items()
     if nd.ansible_connection|default('') in ['ssh','paramiko','network_cli'] 
     and nd.device in defaults.tools.nuts.test_creation.interface %}
{%    for interface in nd.interfaces %}
    - host: {{ nn }}
      name: {{ interface.ifname }}
      is_enabled: true
      is_up: true
      # mtu: 9232
      # speed: 10.0
{%    endfor %}
{% endfor %}
