{% set netlab_domain=services.dns.domain|default('lab.local') %}
dhcp-authoritative
enable-ra
domain={{ netlab_domain }}
log-facility=/var/log/dnsmasq
log-dhcp
{% if services.server.dns is defined %}
domain-needed
expand-hosts
log-queries=extra
local=/{{ netlab_domain }}/
local=//
{%   if services.server.dns.forwarder is defined %}
{%     for r_ip in services.server.dns.forwarder.ipv4|default([]) + services.server.dns.forwarder.ipv6|default([]) %}
server={{ r_ip }}
{%     endfor %}
{%   endif %}
{% else %}
port=0
{% endif %}
ra-param=*,10
#except-interface=lo

{% for pool in dhcp.pools|default([]) %}
{%   set pool_idx = loop.index %}
{%   for af in ('ipv4','ipv6') if af in pool %}
dhcp-range=set:{{ af }}_{{ pool.clean_name }},{{ 
  pool[af]|ipaddr(1)|ipaddr('address') }},{{ 
  pool[af]|ipaddr(-2 if af == 'ipv4' else 1024)|ipaddr('address') }},{{
  pool[af]|ipaddr('netmask') if af == 'ipv4' else pool[af]|ipaddr('prefix') }},2m
{%     if af == 'ipv4' and 'gateway' in pool and af in pool.gateway %}
dhcp-option=tag:{{ af }}_{{ pool.clean_name }},option:router,{{ pool.gateway[af]|ipaddr('address') }}
{%     endif %}
{%     for xa in pool.excluded[af]|default([]) %}
dhcp-host=ff:00:00:00:{{ pool_idx }}:{{ loop.index + 1 }},{{ xa }}
{%     endfor %}
{%   endfor %}
#
{% endfor %}
