#!/bin/sh
{% if dhcp.server|default(False) or services.server.dns|default(False) %}
echo "Starting dnsmasq DNS/DHCP server"
/usr/sbin/dnsmasq -R -C /etc/dnsmasq.conf --no-daemon &
{% endif %}
{% if services.server.syslog|default(False) %}
echo "Starting rsyslog syslog server"
/usr/sbin/rsyslogd -n &
{% endif %}
echo
echo "======================================================="
echo "Startup script completed, sleeping until the Big Freeze"
echo "======================================================="
sleep infinity
