{% for l in interfaces %}
create host-interface name {{ l.ifname }}
set interface state host-{{ l.ifname }} up
{% if l.ipv4 is defined and (l.ipv4 is string or l._parent_ipv4 is defined) %}
set interface ip address host-{{ l.ifname }} {{ l.ipv4 if l.ipv4 is string else l._parent_ipv4 }}
{% endfor %}
