- set:
    bridge:
      domain:
        br_default:
          stp:
            mode: {{ 'pvrst' if stp.protocol=='pvrst' else 'rstp' }}
            state:
              {{ 'up' if stp.enable|default(True) else 'down' }}: {}
{% if 'priority' in stp %}
            priority: {{ stp.priority }}
{% endif %}
{% if vlans is defined and stp.protocol=='pvrst' %}
{%  for vname,vdata in vlans.items() if (vdata.stp.priority is defined or stp.priority is defined) and vdata.stp.enable|default(True) and vdata.mode|default('irb')!='route' %}
{%   if loop.first %}
            vlan:
{%   endif %}
             '{{ vdata.id }}':
               bridge-priority: {{ vdata.stp.priority|default(stp.priority) }}
{%  endfor %}
{% endif %}

{% for ifdata in interfaces if 'stp' in ifdata or ifdata.vlan.trunk|default({})|dict2items|map(attribute='value')|selectattr('stp','defined') %}
{%  if loop.first %}
    interface:
{%  endif %}
      {{ ifdata.ifname }}:
        bridge:
          domain:
            br_default:
              stp:
{%  if 'stp' in ifdata %}
{%   if not ifdata.stp.enable|default(True) %}
                bpdu-filter: on
{%   elif 'port_priority' in ifdata.stp %}
                vlan:
                  '{{ ifdata.vlan.access_id|default(1) }}':
                    priority: {{ ifdata.stp.port_priority * 16 }}
{%   endif %}
{%   if ifdata.stp.port_type is defined %}
{%     set port_type = ifdata.stp.port_type %}
                admin-edge: {{ 'on' if port_type=='edge' else 'off' }}
                auto-edge: {{ 'on' if port_type in ['normal','auto'] else 'off' }}
{%   endif %}
{%  elif ifdata.vlan.trunk_id is defined %}
{%   for id in ifdata.vlan.trunk_id %}
{%    if loop.first %}
                vlan:
{%    endif %}
{%    for vname,vdata in vlans.items() if vdata.id==id %}
{%     if vname in ifdata.vlan.trunk and ifdata.vlan.trunk[vname].stp.port_priority is defined %}
                  '{{ id }}':
                    priority: {{ ifdata.vlan.trunk[vname].stp.port_priority * 16 }}
{%     endif %}
{%    endfor %}
{%   endfor %}
{%  endif %}
{% endfor %}
