#!/bin/bash
#
set -e # Exit immediately when any command fails
#

#
# Configure STP on the multi-vlan bridge
#
cat >/etc/network/interfaces.d/53-stp.intf <<CONFIG

auto bridge
iface bridge
 bridge-stp {{ 'on' if stp.enable|default(True) else 'off' }}
 mstpctl-forcevers {{ 'rstp' if stp.protocol=='pvrst' else stp.protocol }} {# options are stp, rstp or mstp +#}
 #
 # Newer versions 5.x support 'mstpctl-pvrst-mode yes' to enable PVRST
 #
{% if 'priority' in stp %}
 mstpctl-treeprio {{ stp.priority }}
{% endif %}

{#
 # Disable STP on specific interfaces if requested, configure port priority
 #}
{% for ifdata in interfaces if 'stp' in ifdata  %}
iface {{ ifdata.ifname }}
{%  if not ifdata.stp.enable|default(True) %}
 mstpctl-portbpdufilter yes   # Disable STP on this port
{%  elif 'port_priority' in ifdata.stp %}
#
# Use 16x port_priority to get the correct 4-bit value on the wire
#
{%     set restart_mstpd=True %}
 mstpctl-treeportprio {{ ifdata.stp.port_priority * 16 }}
#
# Newer versions 5.x support mstpctl-port-vlan-priority <vlan id>={{ ifdata.stp.port_priority }}
#
{%  endif %}
{%  if ifdata.stp.port_type is defined %}
{%    set port_type = ifdata.stp.port_type %}
 mstpctl-portadminedge {{ 'yes' if port_type=='edge' else 'no' }}
 mstpctl-portautoedge {{ 'yes' if port_type in ['normal','auto'] else 'no' }}
{%  endif %}
{% endfor %}
CONFIG

ifreload -a

#
# If STP port priority was changed, the system sends duplicate BDPUs with both the old and new port priority
# This causes peers to remain in 'listening' state forever
# Restart mstpd to fix that
{% if restart_mstpd is defined %}
service mstpd restart
{% endif %}
