- set:
    system:
      config:
        snippet:
          frr.conf: |
           !
           router bgp {{ bgp.as }}
             bgp confederation identifier {{ bgp.confederation.as }}
             bgp confederation peers {{ bgp.confederation.peers|join(' ') }}
