system {
  host-name {{ inventory_hostname }};
  static-host-mapping {
{% for k,v in hostvars.items() if k != inventory_hostname %}
{%   if v.loopback.ipv4 is defined %}
    {{ k|replace('_','') }} inet {{ v.loopback.ipv4|ansible.utils.ipaddr('address') }};
{%   elif v.interfaces|default([]) and v.interfaces[0].ipv4|default(False) is string %}
    {{ k|replace('_','') }} inet {{ v.interfaces[0].ipv4|ansible.utils.ipaddr('address') }};
{%   endif %}
{% endfor %}
  }
}
