name: {{ name }}

topology:
  nodes:
{% for n in nodes|default([]) %}
    {{ n.name }}:
      kind: {{ n.kind | default(n.device) }}
{%    if 'type' in n %}
      type: {{ n.type }}
{%    endif %}
      image: {{ n.clab['image'] if 'image' in n.clab|default({}) else n.box }}
{%    if groups is defined %}
      group: {% for g in groups if n.name in groups[g].members %}{{'' if loop.first else ','}}{{g}}{% endfor %}
{%    endif %}
{% if 'srl-agents' in n.clab %}
      extras:
        srl-agents: {{ n.clab['srl-agents'] }}
{% endif %}

{% if n.binds %}
      binds:
{% for b in n.binds %}
      - {{ b }}
{% endfor %}
{% endif %}
{% if 'runtime' in n %}
      runtime: {{ n.runtime }}
{% endif %}
{% if 'license' in n %}
      license: {{ n.license }}
{% endif %}
{% endfor %}
{% if links %}
  links:
{% for l in links if l.type|default("") != "stub" %}
  - endpoints:
{%   for n in nodes %}
{%     for nl in n.links if nl.linkindex == l.linkindex %}
    - "{{ n.name }}:{{ nl.provider_ifname if 'provider_ifname' in nl else nl.ifname }}"
{%      endfor %}
{%    endfor %}
{% endfor %}
{% endif %}
