{% if eos is defined %}
{%  if 'serialnumber' in eos %}
SERIALNUMBER={{ eos.serialnumber }}
{%  else %}
# SERIALNUMBER=  (define 'eos.serialnumber' to set)
{%  endif %}
{%  if 'systemmacaddr' in eos %}
SYSTEMMACADDR={{ eos.systemmacaddr|hwaddr('cisco') }}
{%  else %}
# SYSTEMMACADDR=  (define 'eos.systemmacaddr' to set)
{%  endif %}
{% endif %}