#!/bin/bash
#
# Disable IPv6 RA on DHCPv6 client interfaces
#
{% for l in interfaces if l.type in ['lan','p2p','stub'] and l.dhcp.client.ipv6 is defined %}
{%   if loop.first %}
echo "Disable IPv6 RA"
cat >/tmp/config <<CONFIG
{%   endif %}
interface {{ l.ifname }}
  ipv6 nd suppress-ra
  no ipv6 nd ra-interval
!
{%   if loop.last %}
CONFIG
vtysh -f /tmp/config
{%   endif %}
{% endfor %}
#
# Configure DHCP clients on interfaces
#
set -e
#
{% for l in interfaces if l.type in ['lan','p2p','stub'] and l.dhcp.client is defined %}
{%   if loop.first %}
echo "DHCP: set IP addresses on interfaces"
cat >/etc/network/interfaces.d/12-dhcp.intf <<CONFIG
{%   endif %}
{%   if l.dhcp.client.ipv4 is defined %}
iface {{ l.ifname }} inet dhcp
{%   endif %}
{%   if l.dhcp.client.ipv6 is defined %}
iface {{ l.ifname }} inet6 dhcp
{%   endif %}
{%   if loop.last %}
CONFIG
{%   endif %}
{% endfor %}
#
{% for l in interfaces if l.type in ['lan','p2p','stub'] and l.dhcp.client is defined %}
{%   if loop.first %}
echo "DHCP: executing ifup"
{%   endif %}
nohup ifup {{ l.ifname }} &
{% endfor %}
