dhcp-authoritative
enable-ra
domain=lab.local
ra-param=*,10
except-interface=lo
port=0

{% for pool in dhcp.pools|default([]) %}
{%   set pool_idx = loop.index %}
{%   for af in ('ipv4','ipv6') if af in pool %}
dhcp-range=set:{{ af }}_{{ pool.clean_name }},{{ 
  pool[af]|ipaddr(1)|ipaddr('address') }},{{ 
  pool[af]|ipaddr(-2 if af == 'ipv4' else 1024)|ipaddr('address') }},{{
  pool[af]|ipaddr('netmask') if af == 'ipv4' else pool[af]|ipaddr('prefix') }},2m
{%     if af == 'ipv4' and 'gateway' in pool and af in pool.gateway %}
dhcp-option=tag:{{ af }}_{{ pool.clean_name }},option:router,{{ pool.gateway[af]|ipaddr('address') }}
{%     endif %}
{%     for xa in pool.excluded[af]|default([]) %}
dhcp-host=ff:00:00:00:{{ pool_idx }}:{{ loop.index + 1 }},{{ xa }}
{%     endfor %}
{%   endfor %}
#
{% endfor %}
