{% if 'server' in dhcp|default({}) %}
{%   include 'ios.server.j2' %}
!
{% endif %}
{% for intf in interfaces if intf.dhcp is defined %}
interface {{ intf.ifname }}
{%   if intf.dhcp.client.ipv4 is defined %}
  ip address dhcp
{%   endif %}
{%   if intf.dhcp.client.ipv6 is defined %}
  ipv6 enable
  ipv6 address dhcp
{%   endif %}
{% endfor %}
