{% for intf in interfaces if intf.dhcp.client is defined %}
interface {{ intf.ifname }}
{%   if intf.dhcp.client.ipv4 is defined %}
{%     if intf.dhcp.client.default|default(True) is sameas false %}
 no ip dhcp client request router
{%     endif %}
 ip address dhcp
{%   endif %}
{%   if intf.dhcp.client.ipv6 is defined %}
 ipv6 enable
 ipv6 address dhcp
{%   endif %}
{% endfor %}
