#
# VirtualBox vagrantfile template
#
Vagrant.configure("2") do |config|
{% for n in nodes %}
{%   set name = n.name.split('.')[0] %}
{%   set box  = n.box %}
  config.vm.define "{{ name }}" do |{{name}}|
{%  include n.device ~ "-domain.j2" %}

{%   for l in n.links %}
{%     include "virtualbox-network.j2" %}
{%   endfor %}
{%   include "virtualbox-ports.j2" %}

  end
{% endfor %}
end
