#
# Create bash profile script
#
cat <<SCRIPT >/root/.bash_profile
#!/bin/bash
#
export PS1="\h(bash)# "
echo "Use vtysh to connect to FRR daemon"
echo
SCRIPT
{% if clab is not defined %}
cat <<SCRIPT >.bash_profile
#!/bin/bash
#
export PS1="\h(bash)$ "
echo "Use sudo vtysh to connect to FRR daemon"
echo
SCRIPT
{% endif %}
