{#
  This template generates the 'ip' commands needed to setup up container
  interfaces and route table. It's executed on the container host.

  /etc/hosts file is generated as a clab bind.
#}
#!/bin/bash
#
set -e
{% include 'linux/vanilla.j2' +%}

