#
# This macro is used by the initial script to create bond devices
# (which needs to be done early such that IP addresses can be assigned and/or VLAN interfaces created)
#
{% macro create_bond_dev(l,node_provider) %}
{%   if l.type in ['lag','bond'] %}
{%     set _m = "802.3ad" if 'lag' in l else l.bonding.mode|default("active-backup") %}
{%     if _m=="802.3ad" %}
{%       set _lacp = l.lag.lacp|default('fast') %}
{%       set lacp_act = 'off' if _lacp=='off' else 'on' %}
{%       set lacp_rate = (' lacp_rate ' + _lacp) if _lacp!='off' else '' %}
{%       set _m = _m + lacp_rate %}
{%       if node_provider == 'clab' %}
{%         set _m = _m + " lacp_active " + lacp_act %}
{%       endif %}
{%     elif l.bonding.primary is defined %}
{%       set _m = _m + " primary " + l.bonding.primary %}
{%     endif %}
{%     if _m in ["802.3ad","balance-xor","balance-alb","balance-tlb"] %}
{%       set _m = _m + " xmit_hash_policy encap3+4" %}
{%     endif -%}

{%     if node_provider!='clab' %}
#
# Make sure 'bonding' module is loaded
#
if [ ! -e /sys/module/bonding ]; then
modprobe bonding miimon=100 mode=802.3ad lacp_rate=fast
fi
{%     endif -%}

if [ ! -e /sys/class/net/{{l.ifname}} ]; then
ip link add dev {{l.ifname}} type bond mode {{ _m }}
fi
{%   endif %}
{% endmacro -%}
