{% for hname,hdata in hostvars.items() %}
{%   set intf_list = hdata.interfaces|default([]) %}
{%   if hdata.loopback is defined %}
{%     set intf_list = [ hdata.loopback ] + intf_list %}
{%   endif %}
{%   for intf in intf_list %}
{%     set h_entry = hname %}
{%     if netlab_intf_hosts|default(False) and intf.type != 'loopback' %}
{%       set h_entry = h_entry + '-' + intf.ifname.replace('/','-') %}
{%     endif %}
{%     if intf.vrf is defined %}
{%       set h_entry = h_entry + '-' + intf.vrf %}
{%     endif %}
{%     set need_host = hdata.loopback is not defined and netlab_intf_hosts|default(False) %}
{%     if intf.ipv4|default(False) is string %}
{{ intf.ipv4|ipaddr('address') }} {{ h_entry }}{% if need_host %} {{ hname }}{% endif +%}
{%     endif %}
{%     if intf.ipv6|default(False) is string %}
{{ intf.ipv6|ipaddr('address') }} {{ h_entry }}{% if need_host %} {{ hname }}{% endif +%}
{%     endif %}
{%   endfor %}
{% endfor %}
