#
# Build hosts file
#
{% if clab.kind is defined %}
{# ... running in containerlab, have to rewrite /etc/hosts from scratch #}
cat <<HOSTS >/etc/hosts
#
# Created by netlab (containerlab Linux host)
#
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
HOSTS
{% endif %}
#
cat <<SCRIPT >/tmp/hosts
#
# Created by netlab initial
#
{% include 'linux/hosts-common.j2' %}
SCRIPT
grep "Created by netlab" /etc/hosts || uniq /tmp/hosts >>/etc/hosts
