{% from "initial/linux/create-bond.j2" import create_bond_dev %}
{% from "initial/linux/vanilla-ifconfig.j2" import ifconfig %}

### One-Shot configuration (non-Ubuntu VM or container)
#
# Send ARP requests from a sane source IP address
sysctl -w net.ipv4.conf.all.arp_announce=2

#
# Disable IPv4 and IPv6 forwarding
#
{% set pkt_fwd = "1" if role|default("host") == "router" else "0" %}
sysctl -w net.ipv4.ip_forward={{ pkt_fwd }}
sysctl -w net.ipv6.conf.all.forwarding={{ pkt_fwd }}
{% if loopback is defined %}
{{ ifconfig(loopback) }}
{% endif %}

#
# Interface addressing, create any bond devices
#
{% for intf in interfaces if intf.type in ['lan','p2p','stub','loopback','lag','bond'] %}
{%   if intf.type in ['loopback','stub','lag','bond'] %}
if [ ! -e /sys/class/net/{{ intf.ifname }} ]; then
  if [ ! -e /sys/devices/virtual/net/{{ intf.ifname }} ]; then
{%   if intf.type in ['lag','bond'] %}
{{     create_bond_dev(intf,node_provider) }}
{%   else %}
    ip link add {{ intf.ifname }} type dummy
{%   endif %}
  fi
fi
{%   endif %}
ip link set dev {{ intf.ifname }} up
{{ ifconfig(intf) }}
{% endfor %}
