{% macro ifconfig(intf) %}
{% if intf.ipv4 is defined %}
{%   if intf.ipv4 is string %}
set +e
ip addr del {{ intf.ipv4 }} dev {{ intf.ifname }} 2>/dev/null
set -e
ip addr add {{ intf.ipv4 }} dev {{ intf.ifname }}
{%   elif '_unnumbered_peer' in intf %}
ip addr add {{ intf._parent_ipv4 }} peer {{ intf._unnumbered_peer }} dev {{ intf.ifname }}
{%   endif %}
{% endif %}
sysctl -w net.ipv6.conf.{{ intf.ifname.replace('.','/') }}.disable_ipv6={{ '0' if intf.ipv6 is defined else '1' }}
{% if intf.ipv6|default(false) is string %}
set +e
ip -6 addr del {{ intf.ipv6 }} dev {{ intf.ifname }} 2>/dev/null
set -e
ip -6 addr add {{ intf.ipv6 }} dev {{ intf.ifname }}
{% endif %}
{% if intf.mtu is defined %}
ip link set dev {{ intf.ifname }} mtu {{ intf.mtu }}
{% endif %}
{% endmacro %}
