
interfaces {

{% for intf in interfaces if intf.evpn._esi is defined %}
  {{ intf.junos_interface }} {
    esi {
      all-active;
{%   if intf.evpn._esi.auto|default(false) %}
      auto-derive lacp;
{%   else %}
      {{intf.evpn._esi.id}};
{%   endif %}
    }
  }

{% endfor %}

}
