{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['wireguard'] %}
if [ ! -e /sys/class/net/{{ intf.ifname }} ]; then
  if [ ! -e /sys/devices/virtual/net/{{ intf.ifname }} ]; then
    ip link add {{ intf.ifname }} type wireguard
  fi
fi
{% endfor %}
