# wireguard tunnel setup
{% for l in interfaces if l.type == 'tunnel' and l.tunnel.mode == 'wireguard' %}
{%   set vrf_str = 'vrf=' + l.tunnel.vrf if l.tunnel.vrf|default('') else '' %}
/interface/wireguard add name={{ l.ifname }} listen-port={{ l.tunnel.listen_port }} {{ vrf_str }} private-key="{{ l.tunnel.private_key }}"
{% endfor %}
