{# Initial VyOS Wireguard tunnel implementation #}
{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['wireguard'] %}
set interface wireguard {{ intf.ifname }} private-key '{{ intf.tunnel.private_key }}'
{% endfor %}
