{% for intf in interfaces if intf.gateway is defined and intf.gateway.protocol=='vrrp' %}
- set:
    interface:
      {{ intf.ifname }}:
        ip:
          vrrp:
            virtual-router:
              '{{ intf.gateway.vrrp.group }}':
                version: {{ gateway.vrrp.version|default(2) }}
{% endfor %}
