{### STILL NOT WORKING - TO BE UPDATED WITH NEW PLUGIN DATA ###}

interfaces {

{% for intf in interfaces if intf.type == 'lag' %}
  {{ intf.junos_interface }} {
{%   if intf.lag.esi is defined %}
    esi {
      all-active;
{%     if intf.lag._esi_auto_derive|default(false) %}
      auto-derive lacp;
{%     else %}
      {{intf.lag.esi}};
{%     endif %}
    }
{%   endif %}
  }

{% endfor %}

}
