{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}
!
interface {{ intf.ifname }}
  tunnel mode {{ intf.tunnel.mode }}
{%   if intf.tunnel.vrf is defined %}
  tunnel underlay vrf {{ intf.tunnel.vrf }}
{%   endif %}
  tunnel source {{ intf.tunnel._source[intf.tunnel.af] }}
  tunnel destination {{ intf.tunnel._destination[intf.tunnel.af] }}
  tunnel path-mtu-discovery
  tunnel ttl 255
{% endfor %}
