{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}
!
interface {{ intf.ifname }}
  tunnel mode {{ intf.tunnel.mode }} {{ intf.tunnel.af.replace('ipv4','ip') }}
{%   if intf.tunnel.vrf is defined %}
  tunnel vrf {{ intf.tunnel.vrf }}
{%   endif %}
  tunnel source {{ intf.tunnel._source.ifname }}
  tunnel destination {{ intf.tunnel._destination[intf.tunnel.af] }}
{% endfor %}
