
{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}
{%   set t_type = 'gre6' if intf.tunnel.af == 'ipv6' else 'gre' %}
{%   if intf.tunnel.vrf is defined %}
/interface/{{ t_type }} set [find where interface={{ intf.ifname }}] remote-address={{ intf.tunnel._destination[intf.tunnel.af] }}@{{ intf.tunnel.vrf }}
{%   endif %}
{%  endfor %}
