{% for l in interfaces if l.type == 'tunnel' and l.tunnel.mode == 'gre' %}
{%   set t_type = 'gre6' if l.tunnel.af == 'ipv6' else 'gre' %}
/interface/{{ t_type }} add name={{ l.ifname }} local-address={{ l.tunnel._source[l.tunnel.af] }} remote-address={{ l.tunnel._destination[l.tunnel.af] }}
{% endfor %}
