{% macro area_config(adata,af,abr) %}
area {{ adata.area }} {

{%   if adata.kind == 'stub' %}
  stub {
{%     if not adata.inter_area %}
    no-summaries;
{%     endif %}
{# Junos needs to be forced to generate a default in stub/nssa (even with a default metric of i.e., 10) #}
{# "You must configure the default-metric option on the ABR before it advertises a default route." #}
{#  See: https://www.juniper.net/documentation/us/en/software/junos/ospf/topics/topic-map/configuring-ospf-areas.html#id-understanding-ospf-stub-areas-totally-stubby-areas-and-not-so-stubby-areas #}
{%     if abr and adata.default|default(true) %}
    default-metric {{ adata.default.cost|default(10) }};
{%     endif %}
  }
{%   elif adata.kind == 'nssa' %}
  nssa {
{%     if not adata.inter_area %}
    no-summaries;
{%     endif %}
{# Junos needs to be forced to generate a default in stub/nssa (even with a default metric of i.e., 10) #}
{# "You must configure the default-metric option on the ABR before it advertises a default route." #}
{#  See: https://www.juniper.net/documentation/us/en/software/junos/ospf/topics/topic-map/configuring-ospf-areas.html#id-understanding-ospf-stub-areas-totally-stubby-areas-and-not-so-stubby-areas #}
{%     if abr and adata.default|default(true) %}
    default-lsa {
      default-metric {{ adata.default.cost|default(10) }};
    }
{%     endif %}
{%     for range in adata.external_range|default([]) if range[af] is defined %}
    area-range {{ range[af] }}{% if range.cost is defined 
      %} override-metric {{ range.cost }} metric-type {{ range.type|default('e2')|replace('e','') }}{% endif -%};
{%     endfor %}
{%     for range in adata.external_filter|default([]) if range[af] is defined %}
    area-range {{ range[af] }} restrict;
{%     endfor %}
  }
{%   endif %}

{%   if abr %}
{%     for range in adata.range|default([]) if range[af] is defined %}
  area-range {{ range[af] }}{% if range.cost is defined %} override-metric {{ range.cost }}{% endif -%};
{%     endfor %}
{%     for range in adata.filter|default([]) if range[af] is defined %}
  area-range {{ range[af] }} restrict;
{%     endfor %}
{%   endif %}

}
{% endmacro %}

{% macro ospf_area_config(odata) %}
{%   for af in ['ipv4','ipv6'] if odata.af[af] is defined %}
{%     set ospf_proto = 'ospf' if af == 'ipv4' else 'ospf3' %}
protocols {
  {{ ospf_proto }} {
{%     for adata in odata.areas %}
{{       area_config(adata,af,odata._abr|default(false)) -}}
{%     endfor %}
  }
}
{%   endfor %}
{% endmacro %}

{% if ospf.areas is defined %}
{{   ospf_area_config(ospf) }}
{% endif %}
{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.ospf.areas is defined %}
routing-instances {
  {{ vname }} {
{{     ospf_area_config(vdata.ospf) }}
  }
}
{%   endfor %}
{% endif %}
