---
updates:
{% macro area_config(adata,af,abr) %}
          - area-id: {{ adata.area }}
{%   if adata.kind == 'stub' %}
            stub:
              summaries: {{ adata.inter_area }}
{%     if adata.default.cost is defined %}
              default-metric: {{ adata.default.cost }}
{%     endif %}
{%   elif adata.kind == 'nssa' %}
            nssa:
              summaries: {{ adata.inter_area }}
{# Note: 'default-metric' missing here, cannot set cost for NSSA area #}
{%     if abr %}
{# Note: SR Linux won't automatically insert a default route when 'summaries' is False #}
{%       if adata.default|default(not adata.inter_area) %}
              originate-default-route: { }
{%       endif %}
{%       for range in adata.external_range|default([])+adata.external_filter|default([]) if range[af] is defined %}
{%         if loop.first %}
              area-range:
{%         endif %}
              - ip-prefix-mask: {{ range[af] }}
                advertise: {{ range in adata.external_range|default([]) }}
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if abr %}
{%     for range in adata.range|default([])+adata.filter|default([]) if range[af] is defined %}
{%       if loop.first %}
            area-range:
{%       endif %}
            - ip-prefix-mask: {{ range[af] }}
              advertise: {{ range in adata.range|default([]) }}
{%     endfor %}
{%   endif %}
{% endmacro %}

{% macro ospf_area_config(odata,vrf='default') %}
{%   for af in ['ipv4','ipv6'] if odata.af[af] is defined %}
- path: /network-instance[name={{ vrf }}]
  value:
    protocols:
      ospf:
        instance:
        - name: "{{ ospf.process|default(0) + (1 if af=='ipv6' else 0) }}"
{%     for adata in odata.areas %}
{%       if loop.first %}
          area:
{%       endif %}
{{        area_config(adata,af,odata._abr|default(false)) -}}
{%     endfor %}
{%   endfor %}
{% endmacro %}

{% if ospf.areas is defined %}
{{   ospf_area_config(ospf) }}
{% endif %}
{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.ospf.areas is defined %}
{{     ospf_area_config(vdata.ospf,vname) }}
{%   endfor %}
{% endif %}