{#
  ArcOS first-hop redundancy -- VRRP. Config path hangs off the interface PRIMARY
  address: interface <if> subinterface 0 ipv4 address <primary> vrrp vrrp-group <vrid>
  virtual-address <vip> | priority <p> | preempt ... | advertisement-interval ...
  Anycast gateway is not declared -- untested on this image.
#}
{% for l in interfaces|default([]) if l.gateway is defined and l.gateway.protocol|default('') == 'vrrp' and l.ipv4 is defined and l.ipv4 is string %}
interface {{ l.ifname }} subinterface 0 ipv4 address {{ l.ipv4 | ansible.utils.ipaddr('address') }} vrrp vrrp-group {{ l.gateway.vrrp.group }} virtual-address {{ l.gateway.ipv4 | ansible.utils.ipaddr('address') }}
{%   if l.gateway.vrrp.priority is defined %}
interface {{ l.ifname }} subinterface 0 ipv4 address {{ l.ipv4 | ansible.utils.ipaddr('address') }} vrrp vrrp-group {{ l.gateway.vrrp.group }} priority {{ l.gateway.vrrp.priority }}
{%   endif %}
{% endfor %}
