!
no ip icmp redirect

! globally enable vrrp if needed
{% for intf in interfaces if intf.gateway.protocol is defined and intf.gateway.protocol == 'vrrp' %}
{%   if loop.first %}
router vrrp enable
{%   endif %}
{% endfor %}

{% for intf in interfaces if intf.gateway.protocol is defined %}

interface {{ intf.ifname }}
{%   if intf.gateway.protocol == 'anycast' %}
{%     for af in 'ipv4','ipv6' if af in intf.gateway %}
{%       set cmd_af = 'ip' if af == 'ipv4' else af %}
 active-gateway {{ cmd_af }} mac {{ gateway.anycast.mac|hwaddr('linux') }}
 active-gateway {{ cmd_af }} {{ intf.gateway[af]|ipaddr('address') }}
{%     endfor %}
{%   endif %}


{%   if intf.gateway.protocol == 'vrrp' %}

{%     for af in 'ipv4','ipv6' if af in intf.gateway %}
 vrrp {{ intf.gateway.vrrp.group }} address-family {{ af }}
  version 3
{%       if af == 'ipv4' %}
  address {{ intf.gateway[af]|ipaddr('address') }} primary
{%       endif %}
{%       if af == 'ipv6' %}
  address {{ intf.gateway.vrrp.lla }} primary
  address {{ intf.gateway[af]|ipaddr('address') }} secondary
{%       endif %}
{%       if intf.gateway.vrrp.preempt|default(True) %}
  preempt
{%       else %}
  no preempt
{%       endif %}
{%       if 'priority' in intf.gateway.vrrp %}
  priority {{ intf.gateway.vrrp.priority }}
{%       endif %}
 no shutdown
 exit
{%     endfor %}

{%   endif %}

{% endfor %}
