{% if gateway.anycast.mac is defined %}
ip virtual-router mac-address {{ gateway.anycast.mac }}
{% endif %}
{% for intf in interfaces if intf.gateway.protocol is defined %}
interface {{ intf.ifname }}
{%   if intf.gateway.protocol == 'anycast' %}
  ip virtual-router address {{ intf.gateway.ipv4 }}
{%   endif %}
{% endfor %}
