#!/bin/bash
#
set -e # Exit immediately when any command fails
#
sysctl -w net.ipv6.conf.all.enhanced_dad=0
sysctl -w net.ipv6.conf.default.enhanced_dad=0
{% for intf in interfaces if intf.gateway.protocol|default('none') == 'vrrp' %}
{%   for afm in ['ipv4','ipv6'] if afm in intf.gateway %}
{%     set v_if = 'vrrp%s-%s-%s'|format('6' if afm == 'ipv6' else '',intf.ifindex,intf.gateway.vrrp.group) %}
{%     set v_mac = intf.gateway.vrrp.mac[afm] %}
if [ ! -e /sys/class/net/{{ v_if }} ]; then
  ip link add {{ v_if }} link {{ intf.ifname }} type macvlan mode bridge
  ip link set dev {{ v_if }} address {{ v_mac }} addrgenmode {{ 'none' if afm == 'ipv4' else 'random' }}
  ip addr add {{ intf.gateway[afm] }} dev {{ v_if }}
{%     if afm=='ipv4' %}
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_announce=2
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_ignore=2
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_accept=1
{%     endif %}
{%     if 'vrf' in intf %}
  ip link set dev {{ v_if }} master {{ intf.vrf }}
{%     endif %}
  ip link set dev {{ v_if }} up
fi
{%   endfor %}
{% endfor %}
{% for intf in interfaces if intf.gateway.protocol|default('none') == 'anycast' %}
{%   set v_if = 'varp-%s'|format(intf.ifindex) %}
if [ ! -e /sys/class/net/{{ v_if }} ]; then
  ip link add {{ v_if }} link {{ intf.ifname }} type macvlan mode private
  ip link set dev {{ v_if }} address {{ intf.gateway.anycast.mac|hwaddr('linux') }}
{%   if intf.type == 'svi' %}
  bridge fdb replace {{ intf.gateway.anycast.mac|hwaddr('linux') }} dev {{ intf.ifname }} self
{%   endif %}
{%   for afm in ['ipv4','ipv6'] if afm in intf.gateway %}
  ip addr add {{ intf.gateway[afm] }} dev {{ v_if }} metric 1024
{%   endfor %}
{%   if 'ipv4' in intf.gateway %}
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_announce=2
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_ignore=2
  sysctl -w net.ipv4.conf.{{ intf.ifname }}.arp_accept=1
{%   endif %}
{%   if 'ipv6' in intf.gateway %}
  sysctl -w net.ipv6.conf.{{ v_if }}.enhanced_dad=0
  sysctl -w net.ipv6.conf.{{ v_if }}.accept_dad=0
  sysctl -w net.ipv6.conf.{{ v_if }}.dad_transmits=0
{%   else %}
  sysctl -w net.ipv6.conf.{{ v_if }}.disable_ipv6=1
{%   endif %}
{%   if 'vrf' in intf %}
  ip link set dev {{ v_if }} master {{ intf.vrf }}
{%   endif %}
  ip link set dev {{ v_if }} up
fi
{% endfor %}
{% include 'frr.vrrp-config.j2' %}
