---
#
# Fetch Cumulus VX configuration files
#
- name: Save FRR running configuration to frr.conf
  ansible.builtin.raw: sudo vtysh -c 'write'
- name: Collect FRR configuration
  ansible.builtin.raw: sudo cat /etc/frr/frr.conf
  register: config
- name: Save FRR configuration to {{ ofile }}
  vars:
    ofile: "{{ config_dir }}/{{ inventory_hostname }}.{{ cfg_suffix }}"
  ansible.builtin.copy:
    content: |
      {{ config.stdout }}
    dest: "{{ ofile }}"
  delegate_to: localhost

- name: Collect FRR daemons configuration
  ansible.builtin.raw: sudo cat /etc/frr/daemons
  register: config
- name: Save FRR daemons to {{ ofile }}
  vars:
    ofile: "{{ config_dir }}/{{ inventory_hostname }}-daemons"
  ansible.builtin.copy:
    content: |
      {{ config.stdout }}
    dest: "{{ ofile }}"
  delegate_to: localhost

- name: Collect ifupdown2 configuration
  ansible.builtin.raw: sudo ifquery -a
  register: ifquery
- name: Save ifupdown configuration to {{ ofile }}
  vars:
    ofile: "{{ config_dir }}/{{ inventory_hostname }}-interfaces"
  ansible.builtin.copy:
    content: |
      {{ ifquery.stdout }}
    dest: "{{ ofile }}"
  delegate_to: localhost
