---
#
# Fetch FRRouting configuration files
#
- name: Save FRR running configuration to frr.conf
  ansible.builtin.command: vtysh -c 'write'
  become: true
- name: Collect FRR configuration
  ansible.builtin.command: cat /etc/frr/frr.conf
  become: true
  register: config
- ansible.builtin.set_fact: ansible_net_config={{ config.stdout }}
- name: Collect FRR daemons configuration
  ansible.builtin.command: cat /etc/frr/daemons
  become: true
  register: config
- name: Save FRR daemons to {{ ofile }}
  vars:
    ofile: "{{ config_dir }}/{{ inventory_hostname }}-daemons"
  ansible.builtin.copy:
    content: |
      {{ config.stdout }}
    dest: "{{ ofile }}"
  delegate_to: localhost
