---
# get the core SONiC config file
- name: save current SONiC configuration to config_db.json
  ansible.builtin.command: sudo config save -y
  become: true

# Create node-specific frr directory if it doesn't exist
- name: Create node-specific frr directory
  ansible.builtin.file:
    path: "{{ config_dir }}/{{ inventory_hostname }}-frr"
    state: directory
  delegate_to: localhost

# Capture all files in /etc/sonic/ directory
- name: Find all files in /etc/sonic/ directory
  ansible.builtin.find:
    paths: /etc/sonic/
    recurse: false
    file_type: file
  become: true
  register: sonic_files

- name: Get content of file from /etc/sonic/
  ansible.builtin.command: cat {{ item.path }}
  become: true
  register: file_content
  loop: "{{ sonic_files.files }}"

- name: Save files from /etc/sonic/
  ansible.builtin.copy:
    content: "{{ item.stdout }}"
    dest: "{{ config_dir }}/{{ inventory_hostname }}-{{ item.item.path | basename }}"
  delegate_to: localhost
  loop: "{{ file_content.results }}"

# Capture all files in /etc/sonic/frr directory
- name: Save FRR running configuration to frr.conf
  ansible.builtin.command: vtysh -c 'write'
  become: true

- name: Find all files in /etc/sonic/frr/ directory
  ansible.builtin.find:
    paths: /etc/sonic/frr/
    recurse: false
    file_type: file
  become: true
  register: frr_files

- name: Get content of file from /etc/sonic/frr/
  ansible.builtin.command: cat {{ item.path }}
  become: true
  register: frr_file_content
  loop: "{{ frr_files.files }}"

- name: Save files from /etc/sonic/frr/
  ansible.builtin.copy:
    content: "{{ item.stdout }}"
    dest: "{{ config_dir }}/{{ inventory_hostname }}-frr/{{ item.item.path | basename }}"
  delegate_to: localhost
  loop: "{{ frr_file_content.results }}"
