---
#
# Fetch SR OS configuration using gNMI
#
- name: Backup SR OS node config user={{ ansible_user }}
  vars:
    ansible_connection: nokia.grpc.gnmi
    ansible_port: "{{ sros_grpc_port }}"

  nokia.grpc.gnmi_config:
    backup: true
    backup_options:
      dir_path: "{{ config_dir }}"
      filename: "{{ inventory_hostname+'.config' }}"
  register: backup_info
  changed_when: false

- name: SR OS backup details
  ansible.builtin.debug:
    msg: "{{ backup_info }}"
