---
#
# Fetch VyOS configuration commands
#
- name: Collect VyOS configuration
  ansible.builtin.shell: /bin/vbash -cil 'show configuration commands'
  register: config
- ansible.builtin.set_fact: ansible_net_config={{ config.stdout }}
