!
{% if ripv2.af.ipv4|default(False) %}
router rip
  version 2
  no auto-summary
{%   for intf in netlab_interfaces if 'ipv4' in intf and not 'vrf' in intf %}
  network {{ intf.ipv4|ipaddr('address') }}
{%     if intf.ripv2.passive|default(False) or not 'ripv2' in intf %}
  passive-interface {{ intf.ifname }}
{%     endif %}
{%   endfor %}
{% endif %}
!
{% if ripv2.af.ipv6|default(False) %}
ipv6 router rip Gandalf
{%   for intf in netlab_interfaces if 'ripv2' in intf and 'ipv6' in intf %}
!
interface {{ intf.ifname }}
  ipv6 rip Gandalf enable
{%   endfor %}
{% endif %}
