{#
  OcNOS RIPv2 template. IOS-style: `router rip` + version 2 +
  prefix-form network statements (parser-probed: router rip enters config-router).
#}
{% if ripv2.af.ipv4|default(True) %}
router rip
 version 2
{% for l in netlab_interfaces if 'ripv2' in l and l.ipv4 is defined and l.ipv4 is string %}
 network {{ l.ipv4 }}
{% endfor %}
{% for l in netlab_interfaces if 'ripv2' in l and l.ripv2.passive|default(false) %}
 passive-interface {{ l.ifname }}
{% endfor %}
!
{% endif %}
