{% import "openbsd.ripv2.j2" as rip with context %}
{% import "openbsd.ripng.j2" as ripng with context %}
#!/bin/sh
{% if ripv2.af.ipv4|default(False) %}
{{   rip.config(ripv2) }}
{% endif %}
{% if ripv2.af.ipv6|default(False) %}
{{   ripng.config(ripv2) }}
{% endif %}
