{% for af in ['ipv4','ipv6'] if srv6.vpn.get(af) %}
{%   for n in bgp.neighbors|default([]) if n.type in srv6.vpn.get(af) %}
{%     set peer = n.ipv6 %}
{%     if loop.first %}
 address-family {{ af }} vpn
{%     endif %}
  neighbor {{ peer }} activate
  neighbor {{ peer }} send-community both
{%     if n.type == 'ibgp' and bgp.next_hop_self|default(True) %}
  neighbor {{ peer }} next-hop-self
{%     elif n.type == 'ebgp' %}
  neighbor {{ peer }} attribute-unchanged next-hop
{%     endif %}
{%   endfor %}
 !
{% endfor %}

{% for vname,vdata in (vrfs|default({})).items() %}
router bgp {{ vdata.as|default(bgp.as) }} vrf {{ vname }}
 sid vpn per-vrf export auto
 no bgp network import-check
!
{% endfor %}

