{% for af in ['ipv4','ipv6'] if srv6.vpn.get(af) %}
{%   set vpnaf = 'vpn' + af.replace('ip','') %}
{%   for n in bgp.neighbors if n[vpnaf] is defined %}
{%     set peer = n[vpnaf] %}
{%     if loop.first %}
 address-family {{ af }} vpn
{%     endif %}
  neighbor {{ peer }} activate
  neighbor {{ peer }} send-community both
{%     if n.type == 'ibgp' and bgp.next_hop_self|default(True) %}
  neighbor {{ peer }} next-hop-self
{%     endif %}
{%   endfor %}
 !
{% endfor %}

{% for vname,vdata in vrfs|default({}).items() %}
router bgp {{ vdata.as|default(bgp.as) }} vrf {{ vname }}
 sid vpn per-vrf export auto
 no bgp network import-check
!
{% endfor %}

