router bgp {{ bgp.as }}
 segment-routing srv6
  locator {{ inventory_hostname }}
 exit

{#
  The core bgp module only provisions neighbors for which the transport matches the address family, i.e. IPv4 over v4
  and IPv6 over v6. This template modifies IPv6 neighbors, adding IPv4 AF over IPv6 transport and setting various
  next hop handling flags
#}
{% if srv6.bgp is defined %}
{%   for n in bgp.neighbors|default([]) if n.ipv6 is defined %}
{%     set peer = n.ipv6 %}
 neighbor {{ peer }} remote-as {{ n.as }}
 neighbor {{ peer }} description {{ n.name }}

{%     for af in ['ipv4','ipv6'] if n.type in srv6.bgp.get(af) %}
 address-family {{ af }} unicast
  neighbor {{ peer }} activate
  neighbor {{ peer }} send-community both
{%       if n._next_hop_unchanged is defined %}
  neighbor {{ peer }} attribute-unchanged next-hop
{%       endif %}
{%       if n.type=='ibgp' %}
  neighbor {{ peer }} next-hop-self
{%       endif %}
{%       if af=='ipv4' and n.ipv4_rfc8950|default(False) %}
  neighbor {{ peer }} capability extended-nexthop
{%       endif %}

  !
{%     endfor %}
{%   endfor %}
{% endif %}

{% if srv6.vpn is defined %}
{%   include "frr.bgpvpn.j2" %}
{% endif %}
