protocols {
  bgp {
    source-packet-routing {
      srv6 {
        locator {{ inventory_hostname }} {
            micro-dt4-sid;
            micro-dt6-sid;
        }
      }
    }
{% for n_type in 'ibgp','ebgp' %}
{%   for n in bgp.neighbors|default([]) if n.srv6 is defined and n.type == n_type %}
{%     if loop.first %}
    group {{ 'ibgp-peers-ipv6' if n_type == 'ibgp' else 'ebgp' }} {
{%     endif %}
      neighbor {{ n.ipv6 }} {
{%     for af in n.srv6.vpn|default([]) %}
        address-family {{ af.replace('ip','vpn') }} unicast
{%     endfor %}
{%     for af in n.srv6.bgp|default([]) %}
        family {{ 'inet' if af == 'ipv4' else 'inet6' }} {
          unicast {
{%       if af == 'ipv4' %}
            extended-nexthop;
{%       endif %}
            advertise-srv6-service;
            accept-srv6-service;
          }
        }
{%     endfor %}
      }
{%     if loop.last %}
    }
{%     endif %}
{%   endfor %}
{% endfor %}
  }
}
