routing-options {
  source-packet-routing {
    srv6 {
      locator {{ inventory_hostname }} {
        {{ srv6.locator }};
        micro-sid;
      }
    }
  }
}
{% if 'isis' in srv6.igp|default([]) and isis.instance is defined %}
protocols {
  isis {
    source-packet-routing {
      srv6 {
        locator {{ inventory_hostname }} micro-node-sid;
      }
    }
  }
}
{% endif %}

{% if bgp.as is defined %}
{%   include "junos.bgp.j2" %}
{% endif %}
