{% import "templates/routing/_redistribute.eos.j2" as redistribute with context %}
{% import "eos.macro.j2" as isis_config with context %}
!
{% if isis is defined %}
{{ isis_config.config(isis,netlab_interfaces) }}
!
{% endif %}
