{% import "templates/routing/_redistribute.frr.j2" as redistribute with context %}
{% import "frr.macro.j2" as isis_config with context %}
!
{% if isis is defined %}
{{ isis_config.config(isis,netlab_interfaces) }}
!
do write
{% endif %}
