{% import "templates/routing/_redistribute.frr.j2" as redistribute with context %}
{% macro config(isis,interfaces,vrf='') %}
!
{% if 'ipv6' in isis.af %}
ipv6 forwarding
{% endif %}
!
router isis {{ isis.instance }}{% if vrf %} vrf {{ vrf }}{% endif +%}
 log-adjacency-changes
 hostname dynamic
 is-type {{ isis.type }}
 metric-style wide
 lsp-timers gen-interval 1 refresh-interval 900 max-lifetime 1800
 net {{ isis.net }}
{% if isis.af.ipv6 is defined %}
 topology ipv6-unicast
{% endif %}
{% for afm in ['ipv4','ipv6'] if afm in isis.af %}
{%   for is_level in ['1','2'] if is_level in isis.type %}
{{     redistribute.config(isis,af=afm,af_redistribute=True,isis_level='level-%s'|format(is_level)) }}
{%   endfor %}
{% endfor %}
!
{% for l in interfaces|default([]) if 'isis' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
{%   if 'ipv4' in l and 'ipv4' in isis.af %}
 ip router isis {{ isis.instance }}
{%   endif %}
{%   if 'ipv6' in l and 'ipv6' in isis.af  %}
 ipv6 router isis {{ isis.instance }}
{%   endif %}
{%   if l.isis.network_type is defined %}
 isis network {{ l.isis.network_type }}
{%   endif %}
{% if l.isis.type is defined %}
 isis circuit-type {{ l.isis.type }}
{% endif %}
{%   if l.isis.cost is defined or l.isis.metric is defined %}
 isis metric {{ l.isis.metric|default(l.isis.cost) }}
{%   endif %}
{%   if l.isis.passive %}
 isis passive
{%   endif %}
!
{% endfor %}
{% endmacro %}