{% import "templates/routing/_redistribute.frr.j2" as redistribute with context %}
{% import "frr.macro.j2" as isis_config with context %}
!
{% if isis is defined %}
{{ isis_config.config(isis,interfaces) }}
!
interface {{ loopback.ifname }}
{%   if 'ipv4' in loopback and 'ipv4' in isis.af %}
 ip router isis {{ isis.instance }}
{%   endif %}
{%   if 'ipv6' in loopback and 'ipv6' in isis.af %}
 ipv6 router isis {{ isis.instance }}
{%   endif %}
!
do write
{% endif %}
