{% import "templates/routing/_redistribute.ios.j2" as redistribute with context %}
!
{% if 'ipv6' in isis.af %}
ipv6 unicast-routing
{% endif %}
!
{% for l in netlab_interfaces|default([]) if 'isis' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
{%   if ('ipv4' in l or 'ipv4' in l.dhcp.client|default({})) and 'ipv4' in isis.af %}
  ip router isis {{ isis.instance }}
{%   endif %}
{%   if ('ipv6' in l or 'ipv6' in l.dhcp.client|default({})) and 'ipv6' in isis.af  %}
  ipv6 router isis {{ isis.instance }}
{%   endif %}
{%   if l.isis.network_type is defined and l.type not in ['tunnel','loopback']  %}
  isis network {{ l.isis.network_type }}
{%   endif %}
{%   if l.isis.network_type is defined and l.isis.network_type == "point-to-point" %}
  isis three-way-handshake ietf
{%   endif %}
{% if l.isis.type is defined %}
  isis circuit-type {{ l.isis.type }}
{% endif %}
{%   if l.isis.cost is defined or l.isis.metric is defined %}
  isis metric {{ l.isis.metric|default(l.isis.cost) }}
{%     if ('ipv6' in l or 'ipv6' in l.dhcp.client|default({})) and 'ipv6' in isis.af  %}
  isis ipv6 metric {{ l.isis.metric|default(l.isis.cost) }}
{%     endif %}
{%   endif %}
{%   if l.isis.bfd.ipv4|default(False) %}
  isis bfd
{%   endif %}
{%   if l.isis.bfd.ipv6|default(False) %}
  isis ipv6 bfd
{%   endif %}
!
{% endfor %}
!
router isis {{ isis.instance }}
  log-adjacency-changes
  hostname dynamic
  is-type {{ isis.type }}
  metric-style wide
  net {{ isis.net }}
{% for l in interfaces|default([]) if 'isis' in l and l.isis.passive %}
  passive-interface {{ l.ifname }}
{% endfor %}
{% if 'ipv4' in isis.af and isis.import is defined %}
{{   redistribute.config(isis,af='ipv4',ospf_pid=ospf.process|default(1))|indent(1,first=True) }}
{% endif %}
{% if isis.af.ipv6 is defined %}
  address-family ipv6
    multi-topology
{%   if isis.import is defined %}
{{     redistribute.config(isis,af='ipv6',ospf_pid=ospf.process|default(1))|indent(3,first=True) }}
{%   endif %}
{% endif %}
