{% set KW_TYPE = {'level-1': 'level-1','level-1-2': 'level-1-2', 'level-2': 'level-2-only' } %}
router isis Gandalf
 log adjacency changes
 lsp-gen-interval initial-wait 50 secondary-wait 100 maximum-wait 500
{% if isis.type is defined %}
 is-type {{ KW_TYPE[isis.type] }}
{% endif %}
 net {{ isis.net }}
{% for naf in ['ipv4','ipv6'] if naf in af %}
!
 address-family {{ naf }} unicast
  metric-style wide
  spf-interval initial-wait 50 secondary-wait 100 maximum-wait 500
{%   if naf == 'ipv6' %}
  no single-topology
{%   endif %}
{% endfor %}
!
{% for l in netlab_interfaces|default([]) if 'isis' in l %}
!
 interface {{ l.ifname }}
{%   if l.isis.passive|default(False) %}
  passive
{%   endif %}
{%   if l.isis.network_type|default('') == 'point-to-point' %}
  point-to-point
{%   endif %}
{%   if l.isis.type|default(False) %}
  circuit-type {{ l.isis.type }}
{%   endif %}
{%   for naf in ['ipv4','ipv6'] if naf in l and naf in isis.af %}
  address-family {{ naf }}
{%     if l.isis.cost is defined or l.isis.metric is defined %}
   metric {{ l.isis.metric|default(l.isis.cost) }}
{%     endif %}
{%   endfor %}
{% endfor %}
