{# Regular Junos devices need IS-IS configuration and ISO family on Ethernet interfaces #}
{% include 'junos.isis.j2' %}

interfaces {
{% for l in interfaces|default([]) if 'isis' in l %}
  {{ l.ifname }} {    
      family iso;
  }
{% endfor %}
}
