feature isis
{% if isis.bfd|default(False) %}
feature bfd
{% endif %}
!
router isis Gandalf
  log-adjacency-changes
  is-type {{ isis.type }}
  hostname dynamic
  net {{ isis.net }}
{% if isis.af.ipv4 is defined %}
  address-family ipv4 unicast
{% endif %}
{% if isis.af.ipv6 is defined %}
  address-family ipv6 unicast
    multi-topology
{% endif %}
!
interface loopback0
{% if 'ipv4' in loopback and 'ipv4' in isis.af %}
  ip router isis Gandalf
{% endif %}
{% if 'ipv6' in loopback and 'ipv6' in isis.af %}
  ipv6 router isis Gandalf
{% endif %}
!
{% for l in interfaces|default([]) if 'isis' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
{%   if 'ipv4' in l and 'ipv4' in isis.af %}
  ip router isis Gandalf
{%   endif %}
{%   if 'ipv6' in l and 'ipv6' in isis.af  %}
  ipv6 router isis Gandalf
{%   endif %}
{%   if l.isis.network_type is defined %}
  isis network {{ l.isis.network_type }}
{%   endif %}
{% if l.isis.type is defined %}
  isis circuit-type {{ l.isis.type }}
{% endif %}
{%   if l.isis.cost is defined or l.isis.metric is defined %}
  isis metric {{ l.isis.metric|default(l.isis.cost) }} level-1
  isis metric {{ l.isis.metric|default(l.isis.cost) }} level-2
{%     if 'ipv6' in l and 'ipv6' in isis.af  %}
  isis ipv6 metric {{ l.isis.metric|default(l.isis.cost) }} level-1
  isis ipv6 metric {{ l.isis.metric|default(l.isis.cost) }} level-2
{%     endif %}
{%   endif %}
{%   if l.isis.bfd.ipv4|default(False) %}
  isis bfd
{%   endif %}
{%   if l.isis.bfd.ipv6|default(False) %}
! BFD is not supported for IPv6 ISIS
{%   endif %}
{%   if l.isis.passive %}
  isis passive-interface level-1-2
{%   endif %}
!
{% endfor %}
