{% import "templates/routing/_redistribute.srlinux.j2" as redistribute with context %}
{% import "srlinux.macro.j2" as isis_config with context %}
{% if isis is defined %}
updates:
{{ isis_config.config(isis,interfaces) }}
{% else %}
empty:
{% endif %}
