{# vSRX needs a security setting plus the regular Junos configuration #}
security {
  forwarding-options {
    family {
      iso {
        mode packet-based;
      }
    }
  }
}

{% include 'junos.j2' %}
