set protocols isis level {{ isis.type }}
set protocols isis dynamic-hostname
set protocols isis lsp-gen-interval 1
set protocols isis spf-interval 1
set protocols isis net '{{ isis.net }}'
{% if isis.af.ipv6|default(False) %}
set protocols isis topology ipv6-unicast
{% endif %}

set protocols isis interface dum0

{% for l in interfaces|default([]) if 'isis' in l %}
set protocols isis interface {{ l.ifname }}

{%   if l.isis.network_type is defined and l.isis.network_type == 'point-to-point' %}
set protocols isis interface {{ l.ifname }} network point-to-point
{%   endif %}
{%   if l.isis.type is defined %}
set protocols isis interface {{ l.ifname }} circuit-type {{ l.isis.type }}
{%   endif %}
{%   if l.isis.cost is defined or l.isis.metric is defined %}
set protocols isis interface {{ l.ifname }} metric {{ l.isis.metric|default(l.isis.cost) }}
{%   endif %}
{%   if l.isis.passive %}
set protocols isis interface {{ l.ifname }} passive
{%   endif %}

{%   if l.isis.bfd.ipv4|default(False) or l.isis.bfd.ipv6|default(False) %}
set protocols isis interface {{ l.ifname }} bfd profile netsim
{%   endif %}

{% endfor %}
