{% set github_url = "https://github.com/ipspace/netlab/blob/dev/tests/integration/" %}
<h2>
  Feature coverage: {{ results.title }}
  {% if _version|default(False) %}(Release {{ _version }}){% endif %}
</h2>
{% for batch in results._batches %}
<table style='margin-top: 1em; margin-bottom: 3em;'>
  <tr>
    <th>Device</th>
{%   for tn in batch %}
{%     set tt = results.tests[tn] %}
{%     set gitpath = github_url + results._path.split('.')[1:]|join('/') %}
    <th class='center'><a href='{{ gitpath }}/{{ tn }}.yml'>{{ tt }}</a></th>
{%   endfor %}
  </tr>
{% for dn,ddata in results.results.items() %}
  <tr>
{%    set devpath = (dn.split('/') + results._path.split('.')[1:])|join('-') %}
    <td><a href="{{ devpath.replace('#','.') }}.html">{{ dn }}</a></td>
{%     for tn in batch %}
    <td class='center'>
{%       if tn in ddata %}
{%         if 'url' in ddata[tn] %}
{%         set result = ddata[tn].result.replace('unsupported','✖️') %}
      <a href="../{{ ddata[tn].url }}">{{ result }}</a>
{%         else %}
      {{ ddata[tn].result }}
{%         endif %}
{%       endif %}
    </td>
{%     endfor %}
  </tr>
{%   endfor %}
</table>
{% endfor %}