{# description: top-level integration results tests #}
<h2 id="device">
  Integration Test Results by Device
  {% if _version|default(False) %}(Release {{ _version }}){% endif %}
</h2>

{% macro device_results(results) %}
<table>
  <tr>
    <th>Device</th>
    <th>Provider</th>
    <th>Passed</th>
    <th class='right'>Not<br>supported</th>
    <th class='right'>Crashed</th>
    <th class='right'>Config<br>failed</th>
    <th class='right'>Validation<br>failed</th>
    <th class='right'>Caveats</th>
  </tr>
{% for device in results.keys()|sort if not device.startswith('_') and device != 'platform' %}
{%   for provider,p_data in results[device].items() if not provider.startswith('_') %}
  <tr>
    <td>{% if loop.first %}{{ device }}{% endif %}</td>
    <td><a href="_html/{{ device }}-{{provider}}.html">{{ provider }}</a></td>
    <td class='right'>{{ p_data._count.pass or '' }}</td>
    <td class='right'>{{ p_data._count.unsupported or '' }}</td>
    <td class='right'>{{ p_data._count.up or '' }}</td>
    <td class='right'>{{ p_data._count.config or '' }}</td>
    <td class='right'>{{ p_data._count.validate or '' }}</td>
    <td class='right'>{{ p_data._count.caveat or '' }}</td>
  </tr>
{%   endfor %}
{% endfor %}
</table>
{% endmacro %}
<p>
  These devices are fully tested in each software release:
</p>
{{ device_results(full_results) }}
<div class='text'>
<p><b>Notes:</b></p>
<ul>
  <li>Not supported: <em>netlab</em> does not support the function on
      the device (or the device cannot implement it)</li>
  <li>Crashed: <b>netlab up</b> crashed, usually due to VM initialization failure
      or timeout</li>
  <li>Config failed: <b>netlab initial</b> failed, usually due to configuration templates
      producing commands that the device refuses to accept</li>
  <li>Validation failed: <b>netlab validate</b> reported an error.</li>
</ul>
</div>
<p class='text top_breather'>
  We try to do our best to support these devices, but we can't do miracles. However, we do run
  tests whenever we make a change in device configuration template or device definitions.
</p>
{{ device_results(partial_results) }}
{% for d_name,d_data in no_tests.items() %}
{%   if loop.first %}
<p class='text top_breather'>
  We don't test these devices. It might not be worth it, or they are too slow to boot,
  or it's impossible to get a decent device image, or the vendor concocted some crazy
  evaluation/licensing restrictions.
</p>
<ul>
{%   endif %}
  <li>{{ d_data.description }} ({{ d_name}})</li>
{%   if loop.last %}
</ul>
{%   endif %}
{% endfor %}
<h2 id="coverage">
  Feature Coverage
  {% if _version|default(False) %}(Release {{ _version }}){% endif %}
</h2>
<table>
  <tr>
    <th>Feature</th>
    <th class='center'>Passed</th>
    <th class='center'>Caveat</th>
    <th class='center'>Validation<br>failed</th>
    <th class='center'>Configuration<br>failed</th>
    <th class='center'>Crashed</th>
  <tr>
{% for cn,cd in coverage.items() if not cn.startswith('_') %}
  <tr>
    <td><a href='_html/{{ cd._path.replace('#','.') }}.html'>{{ cd.title }}</a></td>
    <td class='center'>{{ cd._count.pass or '' }}</td>
    <td class='center'>{{ cd._count.caveat or '' }}</td>
    <td class='center'>{{ cd._count.failed or '' }}</td>
    <td class='center'>{{ cd._count['config failed'] or '' }}</td>
    <td class='center'>{{ cd._count.crashed or '' }}</td>
  </tr>
{% endfor %}
</table>
{# description: top-level integration results tests #}
<h2 id="platform">
  Platform Features Integration Test Results
  {% if _version|default(False) %}(Release {{ _version }}){% endif %}
</h2>
<table>
  <tr>
    <th>Feature</th>
    <th>Passed</th>
    <th class='right'>Not<br>supported</th>
    <th class='right'>Crashed</th>
    <th class='right'>Config<br>failed</th>
    <th class='right'>Validation<br>failed</th>
  </tr>
{% for feature in results.platform.keys()|sort if not feature.startswith('_') %}
{%   set p_data = results.platform[feature] %}
  <tr>
    <td><a href="_html/platform-{{ feature }}.html">{{ feature }}</a></td>
    <td class='right'>{{ p_data._count.pass or '' }}</td>
    <td class='right'>{{ p_data._count.unsupported or '' }}</td>
    <td class='right'>{{ p_data._count.up or '' }}</td>
    <td class='right'>{{ p_data._count.config or '' }}</td>
    <td class='right'>{{ p_data._count.validate or '' }}</td>
  </tr>
{% endfor %}
</table>