{# description: top-level integration results tests #}
<h2>Integration test results</h2>
<table>
  <tr>
    <th>Device</th>
    <th>Provider</th>
    <th>Passed</th>
    <th class='center'>Not<br>supported</th>
    <th class='center'>Config<br>failed</th>
    <th class='center'>Validation<br>failed<th>
  </tr>
{% for device in results.keys()|sort %}
{%   for provider,p_data in results[device].items() if not provider.startswith('_') %}
  <tr>
    <td>{{ device }}</td>
    <td><a href="{{ device }}-{{provider}}.html">{{ provider }}</a></td>
    <td class='right'>{{ p_data._count.pass or '' }}</td>
    <td class='right'>{{ p_data._count.unsupported or '' }}</td>
    <td class='right'>{{ p_data._count.config or '' }}</td>
    <td class='right'>{{ p_data._count.validate or '' }}</td>
  </tr>
{%   endfor %}
{% endfor %}
</table>
