{% set github_url = "https://github.com/ipspace/netlab/blob/dev/tests/integration/" %}
<style>
  .table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
  }

  .table-container table {
    border-collapse: collapse;
    min-width: 600px; /* ensure scroll if too many columns */
  }

  .table-container th, .table-container td {
    border: 1px solid #ccc;
    white-space: nowrap;
  }

  /* Fix the first column */
  .table-container th:first-child,
  .table-container td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background: rgb(247, 247, 247)
  }

  .t-result {
    padding: 0 0;
  }

  .t-result span {
    display: inline-block;
    background: palegreen;
    height: 2.5em;
  }
</style>
<h2>Test coverage in latest release</h2>
<p class='breadcrumbs'>
  <a href="../index.html">Test results</a> » Release test coverage
</p>
<div class="table-container">
  <table style='margin-top: 1em; margin-bottom: 3em;'>
    <tr>
      <th>Device</th>
{%   for tn in tests %}
      <th>{{ tn }}</th>
{%   endfor %}
    </tr>
{% for dn,ddata in coverage.items() %}
    <tr>
      <td>{{ dn }}</td>
{%   for tn in tests %}
      <td class='t-result'>
{%     if ddata[tn] >= 0 %}
        <span style='width: {{ ddata[tn] }}%'>
{%     else %}
        <span style='width: 100%; background: rgb(247, 247, 247);'>
{%     endif %}
      </td>
{%   endfor %}
    </tr>
{% endfor %}
  </table>
</div>
