{# description: Node/interface addressing #}
| Node/Interface | IPv4 Address | IPv6 Address | Description |
|----------------|-------------:|-------------:|-------------|
{% for n,d in nodes.items() %}
| **{{ n }}** | {% if 'loopback' in d 
    %} {{ d.loopback.ipv4|default('') }} | {{ d.loopback.ipv6|default('') }} | Loopback |{% endif +%}
{%   for intf in d.interfaces %}
| {{ intf.ifname }} | {{ intf.ipv4|default('') }} | {{ intf.ipv6|default('') }} | {{ intf.name }}{% if 'vrf' in intf 
    %} (VRF: {{ intf.vrf }}){% endif +%} |
{%   endfor %}
{% endfor %}
