<table>
  <tr>
    <th>Node/Interface</th>
    <th class='right'>IPv4/IPv6 address</th>
    <th>Description</th>
  </tr>
{% for n,d in nodes.items() %}
  <tr>
    <td colspan="3" class='header'>
      <h3>
        {{ n }}
        {% for af in ['ipv4','ipv6'] if 'loopback' in d and af in d.loopback -%}
        {%- if loop.first %}({% endif %}{{ d.loopback[af] }}{% if loop.last %}){% endif -%}
        {% endfor -%}
    </td>
  </tr>
{%   for intf in d.interfaces %}
  <tr>
    <td style='padding-left: 2em;'>{{ intf.ifname }}</td>
    <td class='right'>
      {% for af in ['ipv4','ipv6'] if af in intf %}
      {% if not loop.first %}<br />{% endif %}{{ intf[af] }}
      {% endfor %}
    </td>
    <td>
      {{ intf.name }}{% if 'vrf' in intf %} (VRF: {{ intf.vrf }}){% endif +%}
    </td>
  </tr>
{%   endfor %}
{% endfor %}
