{# description: Node/interface addressing #}
| Node/Interface | IPv4 Address | IPv6 Address | Description |
|----------------|-------------:|-------------:|-------------|
{% for n,d in nodes.items() %}
| **{{ n }}** | {% if 'loopback' in d 
    %} {{ d.loopback.ipv4|default('') }} | {{ d.loopback.ipv6|default('') }} | Loopback |{% endif +%}
{%   for intf in d.interfaces %}
{%     set v_ipv4 = '' if 'ipv4' not in intf else 'Unnumbered' if intf.ipv4 is true else intf.ipv4 %}
{%     set v_ipv6 = '' if 'ipv6' not in intf else 'LLA' if intf.ipv6 is true else intf.ipv6 %}
| {{ intf.ifname }} | {{ v_ipv4 }} | {{ v_ipv6 }} | {{ intf.name|default('') }}{% if 'vrf' in intf 
    %} (VRF: {{ intf.vrf }}){% endif +%} |
{%   endfor %}
{% endfor %}
