{# description: Node/interface addressing #}
{{ "  {0:18} {1:>18}  {2}".format("Node/Interface","IPv4 address","Description") }}
{{ "=" * 80 }}
{% for n,d in nodes.items() %}
{% if not loop.first %}

{% endif %}
{{ n }} ({{ d.loopback.ipv4 }})
{%   for intf in d.interfaces %}
{{ "  {0:18} {1:>18}  {2}".format(intf.ifname,intf.ipv4,intf.name) }}{% if 'vrf' in intf 
    %} (VRF: {{ intf.vrf }}){% endif +%}
{%   endfor %}
{% endfor %}
