{# description: Node/interface and link addressing #}
<h1>Node/Interface Addressing</h1>
{% include 'addressing-node.html.j2' %}
<h1>Link/Interface Addressing</h1>
{% include 'addressing-link.html.j2' %}
