{# description: Link/interface addressing #}
<table>
  <tr>
    <th colspan='2'>Link/Node</th>
    <th class='right'>IPv4 prefix</th>
    <th class='right'>IPv6 prefix</th>
  </tr>
{% for l in links %}
  <tr>
    <td class='header'><h3># {{ l.linkindex }}</h3></td>
    <td class='header'><h3>{{ l.name|default('') }}</h3></td>
{% set pfx = l.prefix|default({ 'ipv4':'' }) %}
{%     set v_ipv4 = '' if 'ipv4' not in pfx else 'Unnumbered' if pfx.ipv4 is true else pfx.ipv4 %}
{%     set v_ipv6 = '' if 'ipv6' not in pfx else 'Link-Local' if pfx.ipv6 is true else pfx.ipv6 %}
    <td class='right header'>{{ v_ipv4 }}</td>
    <td class='right header'>{{ v_ipv6 }}</td>
  </tr>
{%   for intf in l.interfaces|default([]) %}
  <tr>
    <td></td>
{%     set v_ipv4 = '' if 'ipv4' not in intf else 'Unnumbered' if intf.ipv4 is true else intf.ipv4 %}
{%     set v_ipv6 = '' if 'ipv6' not in intf else 'Link-Local' if intf.ipv6 is true else intf.ipv6 %}
    <td>{{ intf.node }} ({{ intf.ifname }})</td>
    <td class='right'>{{ v_ipv4 }}</td>
    <td class='right'>{{ v_ipv6 }}</td>
  </tr>
{%   endfor %}
{% endfor %}
</table>
