{# description: BGP autonomous systems (needs Ansible) #}
{% import 'bgp-prefix.include.j2' as bcode %}
{#
   First, figure out if we need RR column
#}
{% set cols = namespace(rr=false) %}
{{- bcode.asn_columns(nodes,cols) -}}
{#
   Now we're ready for the ASN report
#}
{% set bnodes = nodes.values()|selectattr('bgp','defined')|selectattr('bgp.as','defined') %}
{% for asn,ndl in bnodes|groupby('bgp.as') if asn %}
{%   if loop.first %}
## BGP AS Numbers

| Node/ASN | Router ID |{% if cols.rr %} BGP RR |{% endif %} Advertised prefixes |
|----------|----------:|{% if cols.rr %}--------|{% endif %}--------------------:|
{%   endif %}
| **AS{{ asn }}** |{% if cols.rr %}|{% endif %}|
{%   for ndata in ndl %}
{#
    Collect prefixes advertised by the router
#}
{%     set pfx = [] %}{{ bcode.build_pfx_list(ndata,pfx) -}}
| {{ ndata.name }} | {{ ndata.bgp.router_id|default('') }} {% if cols.rr
%}| {{ '✅' if ndata.bgp.rr|default('') else '' }} {% endif 
%}| {{ pfx|join(' <br>') }} |
{%   endfor %}
{% else %}
No BGP routers in this lab topology
{% endfor %}
