{# description: Devices and images #}
{% for _node_key, n in nodes|dictsort %}
{%   if loop.first %}
# Lab Nodes, Devices and Images

| Node | Node ID | Device | Image |
|------|--------:|--------|-------|
{%   endif %}
| {{ n.name }} | {{ n.id }} | {{ n.device }} | {{ n.box }} |
{% endfor %}
