{# description: Devices and images #}
{% for n_name,n in nodes|dictsort %}
{%   if loop.first %}
<h1>Lab Nodes, Devices and Images</h1>
<table>
  <thead>
    <tr>
      <th>Node</th><th>Node ID</th><th>Device</th><th>Image</th>
    </tr>
  </thead>
  <tbody>
{%   endif %}
    <tr>
      <td>{{ n.name }}</td><td class='right'>{{ n.id }}</td><td>{{ n.device }}</td><td>{{ n.box }}</td>
    </tr>
{%   if loop.last %}
  </tbody>
</table>
{%   endif %}
{% endfor %}
