{# description: Devices and images #}
{%- macro line() %}
|{{ '-' * 17 }}|{{ '-' * 9 }}|{{ '-' * 20 }}|{{ '-' * 40 }}|
{% endmacro -%}
{% for n_name,n in nodes|dictsort %}
{%   if loop.first %}
LAB NODES, DEVICES AND IMAGES

{{ line() -}}
| {{ '%-15s' % 'Node' }} | {{ '%7s' % 'Node ID' }} | {{ '%-18s' % 'Device' }} | {{ '%-38s' % 'Image' }} |
{{ line() -}}
{%   endif %}
| {{ "%-15s" % n.name }} | {{ '%7s' % n.id }} | {{ "%-18s" % n.device }} | {{ "%-38s" % n.box }} |
{%   if loop.last %}
{{ line() -}}
{%   endif %}
{% endfor %}
