{% if not ('ipaddr' is filter) %}
<p>
This report uses Ansible <em>ipaddr<e/em> Jinja2 filter which is not present.
The report will display IP addresses instead of subnets. To fix that,
please install Ansible.
</p>
{% endif %}