{% if not ('ipaddr' is filter) %}
This report uses Ansible 'ipaddr' Jinja2 filter which is not present.
The report will display IP addresses instead of subnets. To fix that,
please install Ansible.

{% endif %}