{# description: IS-IS interfaces #}
{% for n_name,n_data in nodes|dictsort if 'isis' in n_data %}
{%   if loop.first %}
| Node | Interface | Circuit<br>Type | Metric | Network<br>type | Description |
|------|-----------|-----------------|-------:|-----------------|-------------|
{%   endif %}
{%   for intf in n_data.interfaces if 'isis' in intf %}
| {{ "**"+n_name+"**" if loop.first else '' 
  }} | {{ intf.ifname }} | {{ intf.isis.type|default('') 
  }} | {{ intf.isis.cost|default('') }} | {{ intf.isis.network_type|default('') 
  }} | {{ intf.name|default('') }} |
{%   endfor %}
{% else %}
Your network is not running IS-IS.
{% endfor %}
