{# description: IS-IS nodes and areas #}
{% set node_list = nodes.values()|selectattr('isis','defined')|sort(attribute='isis.net') %}
{% set rid_list = node_list|map(attribute='isis.router_id',default=False)|select|list %}
{% for n in node_list if 'isis' in n %}
{%   if loop.first %}
<table>
  <thead>
    <tr>
      <th>Node</th>
{%     if rid_list %}
      <th>Router ID</th>
{%     endif %}
      <th>IS-IS Area</th>
      <th>System ID</th>
      <th>IS Type</th>
    </tr>
  </thead>
  <tbody>
{%   endif %}
    <tr>
      <td>{{ n.name }}</td>
{%     if rid_list %}
      <td class="right">{{ n.isis.router_id|default('') }}</td>
{%     endif %}
      <td class="right">{{ n.isis.area }}</td>
      <td class="right">{{ n.isis.system_id }}</td>
      <td>{{ n.isis.type|default('') }}</td>
    </tr>
{%   if loop.last %}
  </tbody>
</table>
{%   endif %}
{% else %}
Your network is not running IS-IS.
{% endfor %}
