{# description: IS-IS interfaces #}
{% for n_name,n_data in nodes|dictsort if 'isis' in n_data %}
{%   if loop.first %}
<table>
  <thead>
    <tr>
      <th>Node</th>
      <th>Interface</th>
      <th>Circuit<br>type</th>
      <th>Metric</th>
      <th>Network<br>type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
{%   endif %}
{%   for intf in n_data.interfaces if 'isis' in intf %}
    <tr>
      <td><b>{{ n_name if loop.first else '' }}</b></td>
      <td>{{ intf.ifname }}</td>
      <td>{{ intf.isis.type|default('') }}</td>
      <td class="right">{{ intf.isis.cost|default('') }}</td>
      <td>{{ intf.isis.network_type|default('') }}</td>
      <td>{{ intf.name|default('') }}</td>
    </tr>
{%   endfor %}
{%   if loop.last %}
  </tbody>
</table>
{%   endif %}
{% else %}
Your network is not running IS-IS.
{% endfor %}
