{# description: IS-IS nodes and areas #}
{% set node_list = nodes.values()|selectattr('isis','defined')|sort(attribute='isis.net') %}
{% set rid_list = node_list|map(attribute='isis.router_id',default=False)|select|list %}
{% for n in node_list if 'isis' in n %}
{%   if loop.first %}
| Node |{% if rid_list %} Router ID |{% endif %} IS-IS Area | System ID | IS type |
|------|{% if rid_list %}----------:|{% endif %}-----------:|----------:|---------|
{%   endif %}
| {{ n.name }} |{% if rid_list 
  %} {{ n.isis.router_id|default('') }} |{% endif 
  %} {{ n.isis.area }} | {{ n.isis.system_id }} | {{ n.isis.type|default('') }} |
{% else %}
Your network is not running IS-IS.
{% endfor %}
