<html>
  <head>
    <style>
body {
  font-size: 14px;
  line-height: 1.6;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-style: normal; }

h1, h2, h3 {
  color: #d26400;
  font-weight: 500;
  margin-bottom: 1em; }

h1 { font-size: 200% }
h2 { font-size: 140% }
h3 { font-size: 120%; }

a {
  color: #d26400;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
  font-size: 14px; }

table h1, table h2,table h3 {
  margin: 0 0; }

th, td {
  padding: 6px 12px;
  line-height: 1.6; }

td.header {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8; }

th {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  vertical-align: bottom;
  background-color: rgba(205, 205, 205, 0.16); }

td {
  text-align: left;
  vertical-align: top; }

.center { text-align: center }
.right { text-align: right }
  </style>
  </head>
  <body>
    {{ html }}
  </body>
</html>
