{#
    Build the list of columns needed for wiring reports
#}
{%- macro wiring_columns(links,cols) -%}
{% for l in links if 'name' in l %}
{%   if l.type == 'p2p' or l.node_count == 2 %}
{%     set cols.p2p_name = true %}
{%   else %}
{%     set cols.lan_name = true %}
{%   endif %}
{% endfor %}
{%- endmacro -%}
