{# description: Lab wiring #}
{% import 'wiring-columns.include.j2' as wcode %}
{% set cols = namespace(p2p_name=false,lan_name=false) %}
{{- wcode.wiring_columns(links,cols) -}}
# LAB TOPOLOGY SUMMARY

LAB NAME: {{ name }}

{% for l in links if l.type=='p2p' or l.node_count == 2 %}
{%   if loop.first %}
## Point-to-Point Links

{% if cols.p2p_name %}| Link Name       {%
endif %}| Origin Device | Origin Port | Destination Device | Destination Port |
{% if cols.p2p_name %}|-----------------{%
endif %}|---------------|-------------|--------------------|------------------|
{%   endif %}
{% if cols.p2p_name %}| {{ l.name|default('') }} {%
endif %}| {{ l.interfaces[0].node }} | {{ l.interfaces[0].ifname }} | {{ l.interfaces[1].node }} | {{ l.interfaces[1].ifname }} |
{% endfor %}

{% set row_count = [] %}
{% for node_name, n in nodes.items() %}
{%   for l in n.interfaces if l.type=='lan' and l.neighbors|default([])|length > 1 %}
{%     if not row_count %}
## LAN Links

| Origin Device | Origin Port | Link Name (NET) | Description          |
|---------------|-------------|-----------------|----------------------|
{%     endif %}
{%     set rowx = row_count.append(1) %}
| {{ node_name }} | {{ l.ifname }} | {{ l.bridge }} | {{ l.name|default('') }} |
{%   endfor %}
{% endfor %}

{% set row_count = [] %}
{% for node_name, n in nodes.items() %}
{%   for l in n.interfaces if l.type in ['lan','stub'] and l.neighbors|default([])|length == 0 %}
{%     if not row_count %}
## Stub Links

| Origin Device | Origin Port | Description          |
|---------------|-------------|----------------------|
{%     endif %}
{%     set rowx = row_count.append(1) %}
| {{ node_name }} | {{ l.ifname }} | {{ l.name|default('') }} |
{%   endfor %}
{% endfor %}
