{% for asp_name,asp_data in routing.aspath|dictsort %}
!
as-path-set {{ asp_name }}
{%   for p_entry in asp_data %}
  ios-regex '{{ p_entry.path }}'{% if not loop.last %},{% endif +%}
{%   endfor %}
end-set
{% endfor %}
