{% set ckw = {
     'standard': 'community',
     'large': 'large-community'}
%}
{% for cl_name,cl_data in routing.community|dictsort %}
!
{{ ckw[cl_data.type] }}-set {{ cl_name }}
{%   for p_entry in cl_data.value %}
{%     if p_entry.regexp|default(False) %}
  ios-regex '{{ p_entry._value }}'{% if not loop.last %},{% endif +%}
{%     else %}
  {{ p_entry._value }}{% if not loop.last %},{% endif +%}
{%     endif %}
{%   endfor %}
end-set
{% endfor %}
