{#
       Delete communities -- implemented with a loop to deal with various community types
#}
{% set ckw = {
     'standard': 'community',
     'large': 'large-community'}
%}
{% for c_kw,c_value in p_entry.delete.community|default({})|dictsort %}
{%   if c_kw in ['standard','large'] %}
    delete {{ ckw[c_kw] }} in ({{ c_value|join(",") }})
{%   elif c_kw == 'list' %}
{%     for l_kw,l_value in c_value|dictsort %}
    delete {{ ckw[l_kw] }} in {{ l_value }}
{%     endfor %}
{%   endif %}
{% endfor %}
