{% for match_kw,match_value in p_entry.match|default({})|dictsort %}
{%   if loop.first %}  if{% else %} and{% endif %}
{%   if match_kw == 'prefix'
       %} destination in {{ match_value }}{% endif %}
{%   if match_kw == '_xr_prefix'
       %} not destination in {{ match_value.deny }} and destination in {{ match_value.permit }}{% endif %}
{%   if match_kw == 'aspath'
       %} as-path in {{ match_value }}{% endif %}
{%   if match_kw == '_xr_aspath'
       %} not as-path in {{ match_value.deny }} and as-path in {{ match_value.permit }}{% endif %}
{%   if match_kw == 'community' %}{% 
       for c_type,c_list in match_value.items()
         %} community matches-any {{ c_list }}{%
       endfor %}{% 
     endif %}
{%   if match_kw == '_xr_community' %}{% 
       for c_type,c_list in match_value.items()
         %} not community matches-any {{ c_list.deny }} and community matches-any {{ c_list.permit }}{%
       endfor %}{% 
     endif %}
{%   if match_kw == '_xr_aspath'
       %} not as-path in {{ match_value.deny }} and as-path in {{ match_value.permit }}{% endif %}
{%   if loop.last %} then{% endif +%}
{% endfor %}
