{% for pname,pdata in routing.policy|dictsort %}
!
route-policy {{ pname }}
{%   for p_entry in pdata %}
{#     Process set statements
#}
{%     include 'iosxr/policy-match.j2' %}
{%     include 'iosxr/policy-set.j2' %}
{#
       Delete communities -- implemented with a loop to deal with various community types
#}
{%     for c_kw,c_value in p_entry.delete.community|default({})|dictsort %}
{%       if c_kw == 'standard' %}
    delete community in ({{ c_value|join(",") }})
{%       elif c_kw == 'large' %}
    delete large-community in ({{ c_value|join(",") }})
{%       endif %}
{%     endfor %}
{#
       Process action
#}
{%     if p_entry.action|default('permit') == 'deny' %}
    drop
{%     else %}
{%       if 'set' not in p_entry and 'delete' not in p_entry %}
    pass
{%       endif %}
{#       Emulate route maps -- every matching entry concludes the processing #}
{%       if not loop.last %}
    done
{%       endif %}
{%     endif %}
{%     if p_entry.match|default(False) %}
  endif
{%     endif -%}
{%   endfor -%}
end-policy
{% endfor %}
