{% for pname,pdata in routing.prefix|dictsort %}
!
prefix-set {{ pname }}
{%   for p_entry in pdata %}
{%     set last_entry = loop.last %}
{%     for af in ['ipv4','ipv6'] if af in p_entry %}
  {{ p_entry[af] }}{%
         if p_entry.min[af] is defined
           %} ge {{ p_entry.min[af] }}{% endif %}{%
         if p_entry.max[af] is defined
           %} le {{ p_entry.max[af] }}{% endif %}{%
         if not loop.last or not last_entry %},{% endif +%}
{%     endfor %}
{%   endfor %}
end-set
{% endfor %}
