{% if netlab_linux_distro|default("") != "ubuntu" %}
#!/bin/bash

set -e

# Check if the 'ip' command is available, if not install it
if ! command -v ip 2>&1 >/dev/null
then
  echo "Trying to install the 'ip' command..."
  apt-get -qq update
  apt-get -qq install iproute2
fi

{% include "linux-clab.j2" %}
{% endif %}
