#!/bin/bash

set -e

{# Bonding device is created by 'initial' module - add members #}
{% for intf in interfaces|default([]) if intf.bonding.members is defined %}
{# Don't bring the bond interface down, it will loose any routes #}
{%   for member in intf.bonding.members %}
ip link set dev {{ member }} down
ip link set dev {{ member }} master {{ intf.ifname }}
ip link set dev {{ member }} up
{%   endfor %}
{% endfor %}
