[defaults]
gathering=explicit
retry_files_enabled=false
roles_path=.
forks=10
interpreter_python=auto_silent
inventory={{ inventory }}
stdout_callback=yaml
host_key_checking=False
ssh_args="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

[persistent_connection]
command_timeout=60

[paramiko_connection]
host_key_auto_add=no
host_key_checking=no

