{% for id,area in ospf.areas.items() %}
- set:
    vrf:
      default:
        router:
          ospf:
            area: 
              {{ id | ipv4 }}:
                type: {{ 'totally-' if area.get('no_summary') else '' }}{{ area.kind }}
{% endfor %}
