router ospf
{% for id,area in ospf.areas.items() %}
{%   if area.kind != 'normal' %}
  area {{ id }} {{ area.kind }}{{ ' no-summary' if area.get('no_summary') else '' }}
{%   elif 'range' in area %}
  area {{ id }} range {{ area.range }}
{%   endif %}
{% endfor %}
