{% macro ebgp_session(n,af,vrf) -%}
{%   if n.multihop is defined %}
- path: network-instance[name={{vrf}}]/protocols/bgp
  val:
   neighbor:
   - peer-address: {{ n[af]|ipaddr('address') }}
     multihop:
      admin-state: enable
      maximum-hops: {{ n.multihop|int }}
     local-address: "{{ loopback[af]|ipaddr('address') }}"
     description: "{{ n.name }} (multihop={{n.multihop|int}})"
{%   endif %}
{%- endmacro %}

{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors if n[af] is defined %}
{{     ebgp_session(n,af,'default') -}}
{%   endfor %}
{% endfor %}

{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.bgp is defined %}
{%     for af in ['ipv4','ipv6'] %}
{%       for n in vdata.bgp.neighbors if n[af] is defined %}
{{         ebgp_session(n,af,vname) -}}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}
