system hostname {{ inventory_hostname }}
!
!
interface loopback0
 enable true
 subinterface 0
   ipv4 address {{ loopback }} prefix_length 32
!
interface {{ mgmt_if|default('ma1') }}
!
{% for l in links %}
interface {{ l.ifname }}
 enable true
 subinterface 0
   ipv4 address {{ l.ip.split('/')[0] }} prefix_length {{ l.ip.split('/')[1] }}
!
{% endfor %}
