hostname {{ inventory_hostname }}
!
lldp run
ip routing
!
interface Loopback0
 ip address {{ loopback }}/32
!
interface {{ mgmt_if|default('Management1') }}
 no lldp transmit
 no lldp receive
!
{% for l in links %}
interface {{ l.ifname }}
 no shutdown
 no switchport
 ip address {{ l.ip }}
 mac-address {{ '52dc.cafe.%02d%02d' % ( id,l.ifindex ) }}
!
{% endfor %}
