#!/bin/bash
set -e
hostname {{ inventory_hostname }}
#
# Build hosts file
#
{% for k,v in hostvars.items() if v.loopback.ipv4 is defined %}
echo "{{ v.loopback.ipv4|ipaddr('address') }}{%- for l in v.links|default([]) if l.ipv4 is defined %} {{ l.ipv4|ipaddr('address') }}{%- endfor %} k" >>/etc/hosts
#
ip link add lo0 type dummy
ip address add {{ loopback.ipv4 }} dev lo0
#
{% for l in links|default([]) %}
{%   if l.ipv4 is defined %}
ip address add {{ l.ipv4 }} dev {{ l.ifname }}
{%   endif %}
{%   if l.ipv6 is defined %}
ip address add {{ l.ipv6 }} dev {{ l.ifname }}
{%   endif %}
{% endfor %}
