hostname {{ inventory_hostname }}
!
no ip domain-lookup
!
lldp run
!
interface Loopback0
 ip address {{ loopback }} 255.255.255.255
!
interface {{ mgmt_if|default('GigabitEthernet0/0') }}
 no lldp transmit
 no lldp receive
!
{% for l in links %}
interface {{ l.ifname }}
 no shutdown
 ip address {{ l.ip|ipaddr('address') }} {{ l.ip|ipaddr('netmask') }}
{% if l.bandwidth is defined %}
 bandwidth {{ l.bandwidth  }}
{% endif %}
!
{% endfor %}
no banner exec
no banner login
no banner incoming
