system {
    host-name {{ inventory_hostname }}
}
interfaces {
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback }}/32;
            }
        }
    }
{% for l in links %}
    {{ l.ifname }} {
        unit 0 {
            family inet {
                address {{ l.ip }};
            }
        }
    }
{% endfor %}
}
protocols {
    lldp {
        interface {{ mgmt_if }} {
            disable;
        }
    }
}
