hostname {{ inventory_hostname }}
!
no ip domain-lookup
!
feature lldp
!
interface Loopback0
 ip address {{ loopback }}/32
!
interface {{ mgmt_if|default('GigabitEthernet0/0') }}
 no lldp transmit
 no lldp receive
!
{% for l in links %}
interface {{ l.ifname }}
 no shutdown
 no switchport
 mac-address {{ '52dc.cafe.%02d%02d' % ( id,l.ifindex ) }}
 ip address {{ l.ip }}
{% if l.bandwidth is defined %}
 bandwidth {{ l.bandwidth  }}
{% endif %}
!
{% endfor %}
