route-map setattr permit 10
 set community 65000:1 additive
 set extcommunity bandwidth 100
 set large-community 65000:0:1 additive
 set as-path prepend 65201 65202
exit
!
router bgp {{ bgp.as }}
!
 address-family ipv4 unicast
{% for n in bgp.neighbors %}
  neighbor {{ n.ipv4 }} route-map setattr out
{% endfor %}
