{#
   Find VRFs used in static routes (no vrf => default)
#}
{% set static_vrf  = routing.static|map(attribute='vrf',default='default')|sort|unique|list %}
{% for vrf in static_vrf %}
{%   set path = "router[router-name=Base]" if vrf=="default" else "service/vprn[service-name="+vrf+"]" %}
{#
   Find the static routes in the current VRF. Either find data with no VRF attribute
   (for default VRF) or data with vrf attribute matching the current VRF
#}
{%   set sr_list = routing.static|rejectattr('vrf','defined')|list if vrf == 'default'
                     else routing.static|selectattr('vrf','defined')|selectattr('vrf','==',vrf)|list %}
{#
   Iterate over address families to generate separate IPv4 and IPv6 entries
#}
{%   for pfx_af in ['ipv4','ipv6'] %}
{#
   Find all static routes in this VRF matching the current address family and
   group them by the prefix
#}
{%     set pfx_list = sr_list|selectattr(pfx_af,'defined')|groupby(pfx_af) %}
{%     for pfx,nh_info in pfx_list %}
{%       if loop.first %}
- path: configure/{{ path }}/static-routes
  val:
    route:
{%  endif %}
    - ip-prefix: {{ pfx }}
      route-type: "unicast"
{#
   Generate direct next hops
#}
{%       for nh_data in nh_info if nh_data.nexthop[pfx_af] is defined and nh_data.nexthop.intf is defined %}
{%         if loop.first %}
      next-hop:
{%         endif %}
      - ip-address: {{ nh_data.nexthop[pfx_af] }}
        admin-state: enable
{%       endfor %}
{#
   Generate indirect next hops
#}
{%       for nh_data in nh_info if nh_data.nexthop[pfx_af] is defined and nh_data.nexthop.intf is not defined %}
{%         if loop.first %}
      indirect:
{%         endif %}
      - ip-address: {{ nh_data.nexthop[pfx_af] }}
        admin-state: enable
{%       endfor %}
{#
   Now iterate over the same data but looking for discard next hops
#}
{%       for nh_data in nh_info if nh_data.nexthop.discard|default(False) %}
{%         if loop.first %}
      blackhole:
        admin-state: "enable"
{%         endif %}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endfor %}
