mpls ip
mpls icmp ttl-exceeded tunneling
!
router isis Gandalf
{% if isis.router_id is defined %}
  router-id ipv4 {{ isis.router_id }}
{% endif %}
  segment-routing mpls
    no shutdown
!
interface Loopback0
{% if 'ipv4' in loopback %}
  node-segment ipv4 index {{ id }}
{% endif %}
{% if 'ipv6' in loopback %}
  node-segment ipv6 index {{ 100+id }}
{% endif %}
