mpls ip
!
router isis Gandalf
  segment-routing mpls
    no shutdown
!
interface Loopback0
{% if loopback.ipv4|default('')|ipv4 %}
  node-segment ipv4 index {{ id }}
{% endif %}
{% if loopback.ipv6|default('')|ipv6 %}
  node-segment ipv6 index {{ 100+id }}
{% endif %}
