mpls ip
!
segment-routing mpls
 !
 set-attributes
  address-family ipv4
   explicit-null
 !
 connected-prefix-sid-map
{% for af in ['ipv4'] if af in loopback and sr.node_sid[af]|default(False) %}
  address-family {{ af }}
   {{ loopback[af] }} index {{ sr.node_sid[af] }} range 1
{% endfor %}
{% if 'isis' in sr.protocol %}
!
router isis {{ isis.instance }}
 segment-routing mpls
{% endif %}
{% if 'ospfv2' in sr.protocol %}
!
router ospf {{ ospf.process|default(1) }}
 segment-routing mpls
{% endif %}
