mpls ip
!
segment-routing mpls
 !
 set-attributes
  address-family ipv4
   explicit-null
 !
 connected-prefix-sid-map
{% for af in ['ipv4'] if af in loopback and sr.node_sid[af]|default(False) %}
  address-family {{ af }}
   {{ loopback[af] }} index {{ sr.node_sid[af] }} range 1
{% endfor %}
!
router isis {{ isis.instance }}
 segment-routing mpls
