{% if 'isis' in sr.protocol %}
!
router isis {{ isis.instance }}
{%   for af in ['ipv4','ipv6'] if sr.node_sid[af]|default(False) %}
  address-family {{ af }} unicast
    metric-style wide
    segment-routing mpls sr-prefer
  exit
{%   endfor %}
{%   for af in ['ipv4','ipv6'] if af in loopback and sr.node_sid[af]|default(False) %}
{%   if loop.first %}
  interface {{ loopback.ifname }}
{%   endif %}
    address-family {{ af }} unicast
      prefix-sid index {{ sr.node_sid[af] }}
{%   endfor %}
{% endif %}
{% if 'ospfv2' in sr.protocol %}
router ospf {{ ospf.process|default(1) }}
  segment-routing mpls
  segment-routing sr-prefer
  area {{ ospf.area }}
    segment-routing mpls
{%   if loopback.ipv4 is defined and sr.node_sid.ipv4 is defined %}
    interface {{ loopback.ifname }}
      prefix-sid index {{ sr.node_sid.ipv4 }}
{%   endif %}
{% endif %}
