interfaces {
{% for l in interfaces | default([]) %}
{%   if not (l.role is defined and l.role == "external") %}
    {{ l.ifname }} {
{%     if '.' not in l.ifname %}
      unit 0 {
{%     endif %}
        family mpls;
{%     if '.' not in l.ifname %}
      }
{%     endif %}
    }
{%   endif %}
{% endfor %}
}
protocols {
    isis {
{% for l in interfaces | default([]) %}
{%   if not (l.role is defined and l.role == "external") %}
        interface {{ l.ifname }} {
            level 2 {
                post-convergence-lfa {
                    node-protection cost 16777214;
                }
            }
        }
{%   endif %}
{% endfor %}
        source-packet-routing {
            node-segment {
{% for af in ['ipv4','ipv6'] if af in loopback and sr.node_sid[af]|default(False) %}
                {{ af }}-index {{ sr.node_sid[af] }};
{% endfor %}
            }
        }
        level 1 disable;
        level 2 wide-metrics-only;
        backup-spf-options {
            use-post-convergence-lfa maximum-backup-paths 2;
            use-source-packet-routing;
        }
    }
    mpls {
{% for l in interfaces | default([]) %}
{%   if not (l.role is defined and l.role == "external") %}
        interface {{ l.ifname }};
{%   endif %}
{% endfor %}
    }
}
