{# Note: SR-MPLS only supported on 7250 IXR #}
{% if type not in ['ixr6','ixr10'] %}
{{ type_ixr | mandatory('SR-MPLS only supported on 7250 IXR; use type "ixr6"') }}
{% else %}
delete:
- network-instance[name=default]/interface[name=lo0.0]

updates:
- path: system/mpls/label-ranges
  val:
   static:
   - name: global-static
     start-label: 16
     end-label: 31
   dynamic:
   - name: global-dynamic
     start-label: 32
     end-label: 63

- path: network-instance[name=default]
  val:
   interface:
   - name: system0.0
   segment-routing:
    mpls:
     global-block:
      label-range: global-static
   protocols:
    isis:
     dynamic-label-block: global-dynamic # Required but not currently used
     instance:
     - name: Gandalf
       max-ecmp-paths: 1 # Currently limited to 1
       segment-routing:
        mpls: {}
       interface:
       - interface-name: system0.0
         admin-state: enable
         passive: True
         segment-routing:
          mpls:
           ipv4-node-sid:
            index: 0  # This uses label 16 (first entry in global-static range)

{% endif %}
