#
# Enable FRR daemons
#
{% set modlist = {
    'bfd':['bfdd'],
    'bgp':['bgpd'],
    'ospf':['ospfd','ospf6d'],
    'ripv2':['ripd','ripngd'],
    'isis':['isisd'],
    'vrf':['bgpd'],
    'gateway':['vrrpd'],
    'mpls':['ldpd'] } %}
{% for m in module|default([]) if modlist[m] is defined %}
{%   for frr_m in [modlist[m]]|flatten %}
echo "{{ frr_m }}=yes" >>/etc/frr/daemons
{%   endfor %}
{% endfor %}
