!
router bgp {{ bgp.as }}
!
 address-family l2vpn evpn
{% for n in bgp.neighbors if n.ipv4 is defined and n.evpn|default(False) %}
  neighbor {{ n.ipv4 }} activate
  neighbor {{ n.ipv4 }} send-community extended
{%   if n.type == 'ebgp' %}
  neighbor {{ n.ipv4 }} next-hop-unchanged
{%   endif %}
{%   if bgp.rr|default('') and not n.rr|default('') and n.type == 'ibgp' %}
  neighbor {{ n.ipv4 }} route-reflector-client
{%   endif %}
{% endfor %}
!

{% if vlans is defined %}
evpn
 arp-suppression
 redistribute local-mac
 redistribute local-svi
{%   for v in vlans.values() if v.evpn.evi is defined and v.evpn.bundle is not defined %}
{%     set import_target = v.evpn.import|join(' ') -%}
{%     set export_target = v.evpn.export|join(' ') %}
 vlan {{ v.id }}
  rd {{ v.evpn.rd }}
  route-target import {{ v.evpn.import|join(' ') }}
  route-target export {{ v.evpn.export|join(' ') }}
{%     if import_target == export_target %}
  route-target both {{ v.evpn.export|join(' ') }}
{%     endif %}
{# if symmetric irb, we want to redistribute host routes as well (redistribute host-route) #}
{%     if v.evpn is defined and v.vrf is defined and vrfs[v.vrf].evpn is defined %}
{%       if vrfs[v.vrf].evpn.transit_vni is defined %}
  redistribute host-route
{%       endif %}
{%     endif %}

{%   endfor %}
{% endif %}
{# vlan-aware bundles #}
{% if vrfs is defined %}
{%   for n,v in vrfs.items() if v.evpn.vlans is defined %}
{%     set import_target = v.import|join(' ') -%}
{%     set export_target = v.export|join(' ') %}
!
 vlan-aware-bundle {{ n }}
  rd {{ v.rd }}
  route-target import {{ v.import|join(' ') }}
  route-target export {{ v.export|join(' ') }}
{%     if import_target == export_target %}
  route-target both {{ v.export|join(' ') }}
{%     endif %}
  redistribute host-route
  vlan {{ v.evpn.vlan_ids|join(',') }}
{%   endfor %}
{% endif %}

{# L3VNI is defined on vxlan interface, even if it's only an EVPN stuff #}
{% if vrfs is defined %}
{# in case L2VNI are not defined, force exit from bgp stanza and entering evpn one #}
evpn
{# define evpn rt #}
{%   for n,v in vrfs.items() if v.af is defined %}
vrf {{ n }}
  route-target import {{ v.import|join(' ') }} evpn
  route-target export {{ v.export|join(' ') }} evpn
{%   endfor %}
{# define l3vni #}
interface vxlan 1
{%   for n,v in vrfs.items() if v.af is defined and v.evpn is defined %}
  vni {{ v.evpn.transit_vni }}
    vrf {{ n }}
    routing
{%   endfor %}
{% endif %}
