! Could put this in a separate vrf
router bgp {{ bgp.as }}

 address-family l2vpn evpn
  advertise-all-vni
  advertise-svi-ip
{% for af in ['ipv4','ipv6'] if af in bgp %}
  advertise {{ af }} unicast
{% endfor %}
{% for n in bgp.neighbors if n.evpn|default(False) %}
{%   for af in ['ipv4','ipv6'] if af in n %}
  neighbor {{ n[af] }} activate
{%   endfor %}
{% endfor %}
exit-address-family
