{#
  Cisco IOS/XE MAC-VRF data-plane configuration for platforms
  using "vlan configuration" (IOLL2)
#}
{% if vlans is defined %}
{%   for vname,vlan in vlans.items() if vlan.evpn.evi is defined %}
! 
vlan configuration {{ vlan.id }}
{%     if vlan.vni is defined %}
 member evpn-instance {{ vlan.evpn.evi }} vni {{ vlan.vni }}
{%     else %}
 member evpn-instance {{ vlan.evpn.evi }}
{%     endif %}
{%     if vlan.mode|default('irb') != 'bridge' %}
{%       for intf in interfaces if intf.type == 'svi' and intf.vlan.name|default('') == vname %}
!
interface {{ intf.ifname }}
 no autostate
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.evpn.transit_vni is defined %}
!
vlan {{ vdata.evpn._transit_vlan }}
 name VRF_{{ vname }}_TRANSIT
!
vlan configuration {{ vdata.evpn._transit_vlan }}
 member vni {{ vdata.evpn.transit_vni }}
!
interface Vlan{{ vdata.evpn._transit_vlan }}
 vrf forwarding {{ vname }}
 ip unnumbered {{ vxlan.vtep_interface|default('Loopback0') }}
 no shutdown
 no autostate
{%   endfor %}
{% endif %}
{# Control-plane configuration #}
{% include 'ios-common.j2' %}
