{#
  Cisco IOS/XE EVPN control-plane and MAC-VRF configuration

  Used for all platforms supporting EVPN/VXLAN
#}
{% if vlans is defined %}
{%   for vname,vlan in vlans.items() if vlan.evpn.evi is defined %}
{%     set vlan = vlans[vname] %}
!
l2vpn evpn instance {{ vlan.evpn.evi }} vlan-based
 encapsulation vxlan
 replication-type ingress
{%     if vlan.evpn.rd is defined %}
 rd {{ vlan.evpn.rd }}
{%     endif %}
{%     for irt in vlan.evpn.import|default([]) %}
 route-target import {{ irt }}
{%     endfor %}
{%     for ert in vlan.evpn.export|default([]) %}
 route-target export {{ ert }}
{%     endfor %}
{%   endfor %}
{% endif %}
!
route-map evpn_nh_unchanged permit 10
 set ip next-hop unchanged
!
router bgp {{ bgp.as }}
{% for n in bgp.neighbors if n.evpn|default(False) and n.type == 'ebgp' %}
 neighbor {{ n[n.evpn] }} ebgp-multihop
{% endfor %}
 address-family l2vpn evpn
{% for n in bgp.neighbors if n.evpn|default(False) %}
  neighbor {{ n[n.evpn] }} activate
  neighbor {{ n[n.evpn] }} send-community both
{%   if n.rr_client|default(False) %}
  neighbor {{ n[n.evpn] }} route-reflector-client
{%   endif %}
{% endfor %}
{% for n in bgp.neighbors if n.evpn|default(False) and n.type == 'ebgp' %}
{%   if loop.first %}
  no bgp default route-target filter
{%   endif %}
  neighbor {{ n[n.evpn] }} next-hop-unchanged
  neighbor {{ n[n.evpn] }} route-map evpn_nh_unchanged out
{% endfor %}
{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.evpn.evi is defined %}
{%     for af in ('ipv4','ipv6') if af in vdata.af|default({}) %}
 address-family {{ af }} vrf {{ vname }}
  advertise l2vpn evpn
{%     endfor %}
{%   endfor %}
{% endif %}
