{#
  Cisco IOS/XE MAC-VRF data-plane configuration for platforms
  using bridge domains (IOL, Cat8000v)
#}
{% if vlans is defined %}
{%   for vname,vlan in vlans.items() if vlan.evpn.evi is defined %}
! 
bridge-domain {{ vlan.id }}
 member evpn-instance {{ vlan.evpn.evi }} vni {{ vlan.vni }}
{%   endfor %}
{% endif %}
{# Control-plane configuration #}
{% include 'ios-common.j2' %}
