{# EVPN config using mac-vrf & co #}

{# Enable BGP EVPN for specific neighbors #}
protocols {
  bgp {
{% for af in ['ipv4','ipv6'] if bgp[af] is defined and loopback[af] is defined %}
    group ibgp-peers-{{ af }} {
{%   for n in bgp.neighbors if n[af] is defined and n.type == 'ibgp' and n.evpn|default(false) %}
      neighbor {{ n[af] }} {
        family evpn {
          signaling;
        }
      }
{%   endfor %}
    }
{% endfor %}
    group ebgp-peers {
{% for n in bgp.neighbors if n.type == 'ebgp' and n.evpn|default(false) %}
{%   for af in ['ipv4','ipv6'] if n[af] is defined %}
      neighbor {{ n[af] }} {
        accept-remote-nexthop;
        multihop no-nexthop-change;
        family evpn {
          signaling;
        }
      }
{%   endfor %}
{% endfor %}
    }
  }
}

{# VERY DIRTY HACK here for initial testing - since we can specify only one vrf-target per vni-option, let's use the first import one #}
{# - do it only if vxlan is defined - no need if we are RR only #}
{% if vxlan is defined %}
protocols {
  evpn {
    encapsulation vxlan;
    default-gateway no-gateway-community;
    extended-vni-list all;
{% if vxlan.vlans is defined %}
    vni-options {
{%   for vname in vxlan.vlans if vlans[vname].vni is defined %}
{%     set vlan = vlans[vname] %}
        vni {{ vlan.vni }} {
            vrf-target target:{{ vlan.evpn.import[0] }};
        }
{%   endfor %}
    }
{% endif %}
  }
}
{% endif %}


{# define L3VNI on vrf routing-instance #}
{% if vrfs is defined %}
routing-instances {

{%   for n,v in vrfs.items() if v.af is defined and v.evpn is defined %}
    {{ n }} {
        protocols {
            evpn {
                irb-symmetric-routing {
                    vni {{ v.evpn.transit_vni }};
                }
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni {{ v.evpn.transit_vni }};
                    export vrf-{{n}}-ebgp-export;
                }
            }
        }
        route-distinguisher {{ v.evpn.rd }};
    }
{%   endfor %}

}

{# update ospf, ibgp and ebgp export policy options for VRFs #}
policy-options {
{%   for n,v in vrfs.items() if v.af is defined and v.evpn is defined %}
    policy-statement vrf-{{n}}-ospf-export {
        term redis_evpn {
            from protocol evpn;
            then accept;
        }
    }
    policy-statement vrf-{{n}}-ibgp-export {
        term redis_evpn {
            from protocol evpn;
            then accept;
        }
    }
    policy-statement vrf-{{n}}-ebgp-export {
        term redis_evpn {
            from protocol evpn;
            then accept;
        }
        term redis_bgp {
            from protocol bgp;
            then accept;
        }
    }
{%   endfor %}
}

{# according to JunOS doc, in case NO ANYCAST GATEWAY is configured, enable 'proxy-macip-advertisement' on central IRB interfaces #}
interfaces {
{%   for vname in vxlan.vlans|default([]) if vlans[vname].vni is defined and vlans[vname].mode|default('') == 'irb' and vlans[vname].vrf is defined %}
{%     set vlan = vlans[vname] %}
{%     if not vlan.gateway|default(false) %}
    irb.{{ vlan.id }} {
        proxy-macip-advertisement;
    }
{%     endif %}
{%   endfor %}
}

{% endif %}
