{#
  vPTX (Junos EVO) EVPN configuration

  On EVO, the global 'protocols evpn encapsulation vxlan' (default-switch EVI /
  _junos_default_macvrf mode) is NOT supported. Always use mac-vrf routing-instances.
#}
{# Common Junos EVPN configuration (BGP neighbors, MAC-VRF, L3VNI, policy-options) #}
{% include 'junos-common.j2' %}
