#!/bin/vbash
source /opt/vyatta/etc/functions/script-template

if [ "$(id -g -n)" != 'vyattacfg' ] ; then
    exec sg vyattacfg -c "/bin/vbash $(readlink -f $0) $@"
fi

# Configuration items start here
configure

# Configure Generic EVPN Stuff
set protocols bgp address-family l2vpn-evpn advertise-svi-ip
set protocols bgp address-family l2vpn-evpn advertise-all-vni

{% for n in bgp.neighbors if n.evpn|default(False) %}
{%   for af in ['ipv4','ipv6'] if af in n %}
set protocols bgp neighbor {{ n[af] }} address-family l2vpn-evpn nexthop-self
set protocols bgp neighbor {{ n[af] }} address-family l2vpn-evpn soft-reconfiguration inbound

{%   if bgp.rr|default('') and not n.rr|default('') and n.type == 'ibgp' %}
set protocols bgp neighbor {{ n[af] }} address-family l2vpn-evpn route-reflector-client
{%   endif %}

{%   endfor %}
{% endfor %}

# Configure VNI params
{% if vlans is defined %}
{%   for v in vlans.values() if v.evpn.evi is defined and v.vni is defined %}
set protocols bgp address-family l2vpn-evpn vni {{ v.vni }} rd {{ v.evpn.rd }}
set protocols bgp address-family l2vpn-evpn vni {{ v.vni }} route-target import "{{ v.evpn.import|join(' ') }}"
set protocols bgp address-family l2vpn-evpn vni {{ v.vni }} route-target export "{{ v.evpn.export|join(' ') }}"
{%   endfor %}
{% endif %}

# Commit, save and exit from subshell

commit
save
exit
