{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}

# In VyOS, GRE tunnels can be established over both IPv4 (encapsulation gre) and IPv6 (encapsulation ip6gre) transport networks.

set interfaces tunnel {{ intf.ifname }} encapsulation 'gre'
{%   if intf.tunnel.af == 'ipv6' %}
set interfaces tunnel {{ intf.ifname }} encapsulation 'ip6gre'
{%   endif %}

# Source interface will also be responsible for outer VRF selection, if any.
set interfaces tunnel {{ intf.ifname }} source-interface {{ intf.tunnel._source.ifname }}
# Source address still required to avoid "catching" gre packets for any address
set interfaces tunnel {{ intf.ifname }} source-address {{ intf.tunnel._source[intf.tunnel.af] }}
set interfaces tunnel {{ intf.ifname }} remote {{ intf.tunnel._destination[intf.tunnel.af] }}

{% endfor %}
