{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}

# Source interface will also be responsible for outer VRF selection, if any.
set interfaces tunnel {{ intf.ifname }} source-interface {{ intf.tunnel._source.ifname }}

{% endfor %}
