policy-options {
{%   for c_name,c_value in routing.community.items() %}
  delete: policy-statement x_comm_match_{{ c_name }};
{%     for c_line in c_value.value %}
{# we need to create both indexed communities, required for permit/deny matching, and "full" communities for set #}
  community {{ c_name }} members [ "{{ c_line._value }}" ];
  community {{ c_name }}_idx{{ loop.index }} members [ "{{ c_line._value }}" ];

{# we need to create a subroutine for community matching if we want to use permit/deny, and use the community name defined above #}
  policy-statement x_comm_match_{{ c_name }} {
    term seq{{ loop.index }} {
      from community {{ c_name }}_idx{{ loop.index }};
      then {
{%       if c_line.action == 'permit' %}
        accept;
{%       else %}
        reject;
{%       endif %}
      }
    }
{%       if loop.last %}
    term default-reject {
      then reject;
    }
{%       endif %}
  }
{%     endfor %}
{%   endfor %}
}
