{% for sr_data in routing.static %}
{#   if we have a vrf route, open the routing instance stanza #}
{%   if 'vrf' in sr_data %}
routing-instances {
  {{sr_data.vrf}} {
{%   endif %}

{#   recursive lookup is triggered by a route without the intf parameter #}
{%   set route_resolve = ' resolve' if not 'intf' in sr_data.nexthop else '' %}
    routing-options {
{%   if 'ipv4' in sr_data %}
      static route {{sr_data.ipv4}} {
{%     if 'discard' in sr_data.nexthop %}
        discard;
{%     else %}
        next-hop {{sr_data.nexthop.ipv4}}{{route_resolve}};
{%     endif %}
      }
{%   endif %}
{%   if 'ipv6' in sr_data %}
{%   set ipv6_vrf_rib = sr_data.vrf + '.' if 'vrf' in sr_data else '' %}
        rib {{ ipv6_vrf_rib }}inet6.0 static route {{sr_data.ipv6}} {
{%     if 'discard' in sr_data.nexthop %}
          discard;
{%     else %}
          next-hop {{sr_data.nexthop.ipv6}}{{route_resolve}};
{%     endif %}
        }
{%   endif %}
    }

{%   if 'vrf' in sr_data %}
  }
}
{%   endif %}
{% endfor %}
