!
mpls
 enable
 label-protocol ldp
  enable
  router-id loopback0

!
{% for l in interfaces if ('ldp' in l) and not l.ldp.passive %}
interface {{ l.ifname }}
 mpls enable
 mpls ldp enable
{% endfor %}
!
