{% import "templates/bgp/ios.macro.j2" as bgpcfg %}
!
! Have to turn on IPv6 routing for route reflector deployments
!
ipv6 unicast-routing
!
router bgp {{ bgp.as }}
 address-family ipv6
!
{% for n in bgp.neighbors if n.ipv4 is defined and n['6pe']|default(False) %}
  neighbor {{ n.ipv4 }} activate
  neighbor {{ n.ipv4 }} send-label
{%   if n.rr_client|default(False) %}
  neighbor {{ n.ipv4 }} route-reflector-client
{%   endif %}
{{ bgpcfg.neighbor_community(n,n.ipv4,bgp) }}
{% endfor %}
