{% if ldp is defined %}
{%   include 'iosxr/ldp.j2' +%}
{% endif %}
{% if mpls.bgp is defined %}
{%   include 'iosxr/bgp-lu.j2' +%}
{% endif %}
{% if mpls.vpn is defined %}
{%   include 'iosxr/mplsvpn.j2' +%}
{% endif %}
{% if mpls['6pe'] is defined %}
{%   include 'iosxr/6pe.j2' +%}
{% endif %}
