{#
    Add VPNv4 and VPNv6 AFs to IPv4 BGP neighbors if they are present
    in neighbor data. Adding AFs to a BGP neighbor would be much better,
    but I can't figure it out...
#}
{% for n in bgp.neighbors if 'ipv4' in n %}
{%   set extra_afi = ['ip'] %}
{%   for vpn_af in ['vpnv4','vpnv6'] if vpn_af in n %}
{%     set _ = extra_afi.append(vpn_af) %}
{%   endfor %}
{%   if extra_afi %}
/routing/bgp/connection set [find remote.address={{ n.ipv4 }}] afi={{ extra_afi|join(',') }}
{%   endif %}
{% endfor %}
