- path: /system/mpls/label-ranges/dynamic[name=ldp]
  value:
    start-label: 10000
    end-label: 15000

- path: /network-instance[name=default]/mpls
  value:
    icmp-tunneling: true

- path: /network-instance[name=default]/protocols/ldp
  value:
    admin-state: enable
    dynamic-label-block: ldp

{% for l in interfaces if ('ldp' in l) and not l.ldp.passive %}
{%   if loop.first %}
    discovery:
      interfaces:
        interface:
{%   endif %}
        - name: "{{ l.ifname }}{{ '.0' if '.' not in l.ifname else '' }}"
          ipv4:
            admin-state: enable
{% endfor %}
