{% for i in interfaces if i.type == 'lag' and i.evpn._esi is defined %}
{%  if loop.first %}
- set:
    evpn:
      enable: on
      multihoming:
        enable: on
        startup-delay: 1
        mac-holdtime: 30
        neighbor-holdtime: 30
    interface:
{%  endif %}
      {{ i.ifname }}:
        evpn:
          multihoming:
            segment:
              enable: on
              mac-address: {{i.lag.lacp_system_id}}
              identifier: {{i.evpn._esi.id}}
{% endfor %}
