{% if bfd is defined %}
{%   set bfd_ifs = interfaces | selectattr('bgp.bfd','defined') | map(attribute='ifname') | list %}
protocol bfd {
    interface "{{ '","'.join(bfd_ifs) }}" {
      min rx interval {{ bfd.min_rx|default(500) }}ms;
      min tx interval {{ bfd.min_tx|default(500) }}ms;
      multiplier {{ bfd.multiplier|default(3) }};
    };
}
{% endif %}