{% if 'router_id' in bgp %}
router id {{ bgp.router_id }};
{% endif %}

{% for n in bgp.neighbors %}
{%   for af in [ 'ipv4','ipv6' ] if af in n %}
protocol bgp {
  local as {{ n.local_as|default(bgp.as) }};
  neighbor {{ n[af] }} as {{ n['as'] }};
  import all;
{%     if 'next_hop_self' in bgp and bgp.next_hop_self %}
  next hop self;
{%     endif %}
}
{%   endfor %}
{% endfor %}