{% if 'router_id' in bgp %}
router id {{ bgp.router_id }};
{% endif %}
{% macro rt_value(rt) -%}
(rt, {{ rt.split(':')[0] }}, {{ rt.split(':')[1] }})
{%- endmacro %}
{% macro tag_vrf_route(vrf_data) %}
      netlab_vrf_rt.empty;
{%   for rt in vrf_data.export|default([]) %}
      netlab_vrf_rt.add({{ rt_value(rt) }});
{%   endfor %}
      accept;
{% endmacro %}

{% for ngb in bgp.neighbors|default([]) if ngb.default_originate|default(False) %}
{%   if loop.first %}
{%     for _af in ['ipv4','ipv6'] if _af in af %}
protocol static static_bgp_default_{{ _af }} {
  {{ _af }};
  route {{ '0.0.0.0/0' if _af=='ipv4' else '::/0' }} reject;
}
{%     endfor %}
{%   endif %}
{% endfor %}
{% macro bgp_advertise_list(list_name,pfx_list) %}
{%   for pfx_af in ['ipv4','ipv6'] %}
{%     for pfx in pfx_list|default([]) if pfx_af in pfx %}
{%       if loop.first %}

define {{ list_name }}_{{ pfx_af }} = [
{%       endif %}
  {{ pfx[pfx_af] }}{% if not loop.last %},{% endif +%}
{%       if loop.last %}
];
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endmacro %}
{{ bgp_advertise_list('bgp_advertise',bgp.advertise) }}
{% for vname,vdata in vrfs|default({})|dictsort if vdata.bgp is defined %}
{{ bgp_advertise_list('bgp_advertise_vrf_' + vname,vdata.bgp.advertise) }}
{% endfor %}
function bgp_prefixes( bool originate_default ) {
  if net.len = 0 && !originate_default
    then reject "Don't originate default route";

  if source ~ [ RTS_BGP ]
    then accept "BGP route:", net;

  if proto ~ "static_bgp_default*"
    then accept "BGP prefix origination:", net;

{% if bgp.import is defined %}
{%   for proto in bgp.import %}
  if source ~ [ {{ netlab_import_map[proto] }} ]
    then accept "{{ proto }} route:", net;
{%   endfor %}
{% endif %}
{% for pfx_af in ['ipv4','ipv6'] %}
{%   for pfx in bgp.advertise|default([]) if pfx_af in pfx %}
{%     if loop.first %}

  if net ~ bgp_advertise_{{ pfx_af }} then accept "advertise prefix:", net;
{%     endif %}
{%   endfor %}
{% endfor %}

  reject "not accepted:", net, " source=", source, " preference=", preference, " proto=", proto;
}

{% for vname,vdata in vrfs|default({})|dictsort if vdata.bgp is defined %}
{%   set import_list = vdata.bgp.import|default(['connected','ospf']) %}
function bgp_prefixes_vrf_{{ vname }}( bool originate_default ) {
  if net.len = 0 && !originate_default
    then reject "Don't originate default route";

  if source ~ [ RTS_BGP ]
    then accept "BGP route:", net;

{%   for proto in import_list %}
  if source ~ [ {{ netlab_import_map[proto] }} ]
    then accept "{{ proto }} route:", net;
{%   endfor %}
{%   for pfx_af in ['ipv4','ipv6'] %}
{%     for pfx in vdata.bgp.advertise|default([]) if pfx_af in pfx %}
{%       if loop.first %}

  if net ~ bgp_advertise_vrf_{{ vname }}_{{ pfx_af }} then accept "advertise prefix:", net;
{%       endif %}
{%     endfor %}
{%   endfor %}

  reject "not accepted:", net, " source=", source, " preference=", preference, " proto=", proto;
}
{% endfor %}

function remove_private_as() {
  bgp_path.delete([64512..65534, 4200000000..4294967294]);
}

{# Build BGP export filters per neighbor type, to filter communities #}
{% macro bgp_export_filter(func_name,ntype,prefix_func) %}
function {{ func_name }}( bool originate_default; bool rem_private_as ) {
{%   set list = bgp.community[ntype]|default([]) %}
{%   if 'standard' not in list %}
  bgp_community.empty;
{%   endif %}
{%   if 'large' not in list %}
  bgp_large_community.empty;
{%   endif %}
{%   if 'extended' not in list %}
  bgp_ext_community.empty;
{%   endif %}

  if rem_private_as then remove_private_as();
  {{ prefix_func }}(originate_default);
}
{% endmacro %}
{% for ntype in [ 'ebgp', 'ibgp', 'localas_ibgp', 'confed_ebgp' ] %}
{{ bgp_export_filter('bgp_export_' + ntype,ntype,'bgp_prefixes') }}
{% endfor %}
{% for vname,vdata in vrfs|default({})|dictsort if vdata.bgp is defined %}
{%   for ntype in [ 'ebgp', 'ibgp', 'localas_ibgp', 'confed_ebgp' ] %}
{{ bgp_export_filter('bgp_export_vrf_' + vname + '_' + ntype,ntype,'bgp_prefixes_vrf_' + vname) }}
{%   endfor %}
{% endfor %}

{% macro bgp_session(n,bgp_data,vrf_name,vrf_data,bgp_interfaces) %}
{%   for af in [ 'ipv4','ipv6' ] if af in n and n[af] is string %}
protocol bgp bgp_{{ ('vrf_' + vrf_name + '_') if vrf_name else '' }}{{ n.name }}_{{ af }} {
{%     if vrf_name %}
  vrf "{{ vrf_name }}";
{%     endif %}
{%     set loopback = loopback|default({}) %}
{%     set local = namespace(ip=loopback[af]|default('')) %}
{%     if n.type != 'ibgp' %}
{%       for i in bgp_interfaces if af in i and (i.ifindex|default(0) == n.ifindex|default(-1) or i.ifname|default('') == n.local_if|default('')) %}
{%         set local.ip = i[af] %}
{%       endfor %}
{%     endif %}
  local {{ local.ip.split('/')[0] }} as {{ n.local_as|default(bgp_data.as|default(bgp.as)) }};
{%     if bgp_data.confederation is defined %}
  confederation {{ bgp_data.confederation.as }};
{%       if n.type == 'confed_ebgp' %}
  confederation member yes;
{%       endif %}
{%     endif %}
  neighbor {{ n[af] }} as {{ n['as'] }};
  connect retry time 5;
  error wait time 5,10;
  startup hold time 10;
{% if n.local_if is defined %}
  interface "{{ n.local_if }}";
{% endif %}
{%     if n.bfd is defined %}
  bfd yes;
{%     endif %}
{%     if n.passive is defined %}
  passive yes;
{%     endif %}
{%   if n.timers is defined %}
  hold time {{ n.timers.hold|default(180) }};
  keepalive time {{ n.timers.keepalive|default(60) }};
{%   endif %}
{%     if n.password is defined %}
  password "{{ n.password }}";
{%     endif %}
{%     if n.rs|default(False) %}
  rs client;
{%     endif %}
{%     if n.rs_client|default(False) %}
  enforce first as off;
{%     endif %}
{%     if n.role is defined %}
  local role {{ n.role.name|replace('-', '_') }};
{%       if n.role.strict|default(False) %}
  require roles;
{%       endif %}
{%     endif %}
{%     if bgp_data.rr|default('') and ((not n.rr|default('') and n.type == 'ibgp') or n.type == 'localas_ibgp') %}
  rr client;
{%       if bgp_data.rr|default(False) and bgp_data.rr_cluster_id|default(False) %}
  rr cluster id {{ bgp_data.rr_cluster_id }};
{%       endif %}
{%     endif %}
{%     if n.gtsm is defined %}
  ttl security on;
{%       if n.type=='ibgp' %}
  multihop {{ n.gtsm }};
{%       endif %}
{%     endif %}
{%     for _af in [ 'ipv4','ipv6' ] if _af==af or (_af=='ipv4' and n.ipv4_rfc8950|default(False)) %}
{%      if _af in n.activate and n.activate[_af] %}
  {{ _af }} {
{%       if vrf_name %}
    table vrf_{{ vrf_name }}_{{ _af }};
    import filter {
{{ tag_vrf_route(vrf_data) }}
    };
{%       else %}
    import all;
{%       endif %}
    export filter { bgp_export_{{ ('vrf_' + vrf_name + '_') if vrf_name else '' }}{{ n.type }}( {{ 'true' if n.get('default_originate') else 'false' }},
                                             {{ 'true' if n.get('remove_private_as') else 'false' }}); };
{%       if n.next_hop_self|default(false) %}
    next hop self {{ 'on' if n.next_hop_self == 'all' else 'ebgp' }};
{%       endif %}
{%       if _af=='ipv4' and n.ipv4_rfc8950|default(False) %}
    extended next hop on;
    # require extended next hop on;
{%       endif %}
  };
{%      endif %}
{%     endfor %}
}
{%   endfor %}
{% endmacro %}
{% for n in bgp.neighbors|default([]) %}
{{ bgp_session(n,bgp,'',{},netlab_interfaces) }}
{% endfor %}
{% for vname,vdata in vrfs|default({})|dictsort if vdata.bgp is defined %}
{%   for n in vdata.bgp.neighbors|default([]) %}
{{ bgp_session(n,bgp,vname,vdata,netlab_interfaces) }}
{%   endfor %}
{% endfor %}
