{% import 'bgp.macros.j2' as bgp_config with context %}

{% if 'router_id' in bgp %}
router id {{ bgp.router_id }};
{% endif %}
{% for n in bgp.neighbors|default([]) if n.evpn|default(false) %}
{%   if loop.first %}
evpn table evpntab;
{%   endif %}
{% endfor %}

{{ bgp_config.bgp_advertise_list('bgp_advertise',bgp.advertise) }}
{{ bgp_config.bgp_prefixes_function('bgp_prefixes',bgp,'bgp_advertise',bgp.import|default([]),True) }}
{{ bgp_config.bgp_export_filters('bgp_export_','bgp_prefixes') }}
{% for n in bgp.neighbors|default([]) %}
{{   bgp_config.bgp_session(n,bgp,'',{},netlab_interfaces) }}
{% endfor %}
