protocol device {
  scan time 10;
}

{% for _af in ['ipv4','ipv6'] if _af in af %}
protocol kernel {
  {{ _af }} {
    export all;
  };
}
{% endfor %}

{% if 'bgp' in module %}
include "/etc/bird/bgp.mod.conf";
{% endif %}