protocol device {
  scan time 10;
}

protocol direct {
  ipv4;
  ipv6;
}

{% set module = module|default([]) %}
{% for _af in ['ipv4','ipv6'] if _af in af %}
protocol kernel {
  learn;
  {{ _af }} {
    export all;
    import all;
  };
}
{% endfor %}

{% if 'bgp' in module %}
include "/etc/bird/bgp.mod.conf";
{% endif %}
{% if 'ospf' in module %}
include "/etc/bird/ospf.mod.conf";
{% endif %}
