#!/bin/bash
DP_LIST="{{ netlab_dp_module|join(' ') }}"
echo "Waiting for data-plane configuration modules $DP_LIST"
while true; do
  missing=""

  for file in $DP_LIST; do
    if [ ! -e "/var/run/$file.done" ]; then
      echo "Still waiting for $file data-plane configuration"
      missing="$file"
      break
    fi
  done

  if [ -z "$missing" ]; then
    break
  fi

  sleep 1
done
echo "Data-plane configuration complete, starting {{ netlab_device_type }} daemon"
exec {{ netlab_start_daemon }}
