{% macro ospf_default_pfx(af) -%}
{{ '0.0.0.0/0' if af == 'ipv4' else '::/0' }}
{%- endmacro %}

{% macro ospf_default_static(ospf,proto_suffix,vrf_name) %}
{% for af in ['ipv4','ipv6'] if af in ospf.af and ospf.default is defined and ospf.default.always|default(false) %}
{%   set ver = 'v2' if af == 'ipv4' else 'v3' %}
protocol static ospf_default_{{ proto_suffix }}_{{ ver }} {
  {{ af }} {
{%   if vrf_name %}
    table vrf_{{ vrf_name }}_{{ af }};
    import filter vrf_{{ vrf_name }}_tag;
{%   endif %}
    # Low preference so any real default (BGP/OSPF/static) is preferred in the FIB
    preference 1;
  };
  route {{ ospf_default_pfx(af) }} unreachable;
}
{% endfor %}
{% endmacro %}

{% macro ospf_default_export(odata,af) %}
{%   set dfd = odata.default %}
{%   set mtype = dfd.type|default('e2') %}
{%   set mcost = dfd.cost|default(20) %}
      if net = {{ ospf_default_pfx(af) }} && source != RTS_DEVICE then {
        ospf_metric{{ mtype.replace('e', '') }} = {{ mcost }};
        accept;
      }
{% endmacro %}

{% macro ospf_gr_config(odata) %}
{% if odata.gr is defined %}
{%   if odata.gr.restart is defined %}
  graceful restart on;
{%     if odata.gr.restart.grace_period is defined %}
  graceful restart time {{ odata.gr.restart.grace_period }};
{%     endif %}
{%   elif odata.gr.helper is defined %}
  graceful restart aware;
{%   endif %}
{% endif %}
{% endmacro %}

{% macro ospf_config(ospf,proto_suffix,vrf_name,ospf_interfaces,vrf_data) %}
{% set KW_NETWORK_TYPE = { 'broadcast': 'bcast', 'point-to-point': 'ptp','point-to-multipoint': 'ptmp', 'non-broadcast': 'nbma' } %}
{{ ospf_default_static(ospf,proto_suffix,vrf_name) }}
{% for af in ['ipv4','ipv6'] if af in ospf.af %}
{%   set import_list = ospf.import|default(['bgp','connected','static'] if vrf_name else []) %}
{%   set ver = 'v2' if af == 'ipv4' else 'v3' %}
protocol ospf {{ ver }} ospf_{{ proto_suffix }}_{{ ver }} {
{%   if vrf_name %}
  vrf "{{ vrf_name }}";
{%     if 'router_id' in ospf %}
  router id {{ ospf.router_id }};
{%     endif %}
{%   endif %}
{{   ospf_gr_config(ospf) }}
{%   if import_list or vrf_name or ospf.default is defined %}
  {{ af }} {
{%     if vrf_name %}
    table vrf_{{ vrf_name }}_{{ af }};
    import filter vrf_{{ vrf_name }}_tag;
{%     endif %}
{%     if import_list or ospf.default is defined %}
    export filter {
{%       if ospf.default is defined %}
{{         ospf_default_export(ospf,af) }}
{%       endif %}
{%       if vrf_name and vrf_data.import|default([]) %}
      if netlab_vrf_rt ~ [ {{ vrf_data._bird_import|join(',') }} ] then {
        ospf_metric2 = 20;
        accept;
      }
{%       endif %}
{%       if import_list %}
      if source ~ [ {% for p in import_list %}{{ netlab_import_map[p] }}{% if not loop.last %},{% endif %}{% endfor %} ] then {
        ospf_metric2 = 20;
        accept;
      }
{%       endif %}
      reject;
   };
{%     endif %}
  };
{%   endif %}
{%   for adata in ospf.areas %}
  area {{ adata.area }} {
{%     if adata.default.cost is defined %}
    default cost {{ adata.default.cost }};
{%     endif %}
{%     if adata.kind == 'stub' %}
    stub;
    summary {{ 'yes' if adata.inter_area else 'no' }};
{%     elif adata.kind == 'nssa' %}
    nssa;
    summary {{ 'yes' if adata.inter_area else 'no' }};
    translator yes;
    translator stability 3;
{%       if ospf._abr and adata.default|default(false) %}
    default nssa on;
{%       endif %}
    external {
{%     for r_data in adata.external_range|default([]) if af in r_data %}
      {{ r_data[af] }};
{%     endfor %}
{%     for r_data in adata.external_filter|default([]) if af in r_data %}
      {{ r_data[af] }} hidden;
{%     endfor %}
    };
{%     endif %}
    networks {
{%     for r_data in adata.range|default([]) if af in r_data %}
      {{ r_data[af] }};
{%     endfor %}
{%     for r_data in adata.filter|default([]) if af in r_data %}
      {{ r_data[af] }} hidden;
{%     endfor %}
    };
{%     for l in ospf_interfaces if af in l and l.ospf.area|default('') == adata.area %}
{%       if af == 'ipv6' and l.type == 'loopback' %}
    stubnet {{ l.ipv6 | ipaddr('address') }}/128;
{%       endif %}
    interface "{{ l.ifname }}" {
{%       if l.ospf.passive|default(False) or l.type == 'loopback' %}
      stub;
{%       elif l.ospf.bfd|default(False) %}
      bfd yes;
{%       endif %}
{%       if 'network_type' in l.ospf %}
      type {{ KW_NETWORK_TYPE[l.ospf.network_type] }};
{%       endif %}
{%       if 'cost' in l.ospf %}
      cost {{ l.ospf.cost }};
{%       endif %}
{%       if 'timers' in l.ospf %}
{%         if 'hello' in l.ospf.timers %}
      hello {{ l.ospf.timers.hello }};
{%         endif %}
{%         if 'dead' in l.ospf.timers %}
      dead {{ l.ospf.timers.dead }};
{%         endif %}
{%       endif %}
{%       if 'priority' in l.ospf %}
      priority {{ l.ospf.priority }};
{%       endif %}
{%       if 'password' in l.ospf %}
      authentication {{ 'simple' if af=='ipv4' else 'cryptographic' }};
      password "{{ l.ospf.password }}";
{%       endif %}
    };
{%     endfor %}
  };
{%   endfor %}
}
{% endfor %}
{% endmacro -%}
