{% import 'ospf.macros.j2' as ospf_config with context %}

{% if ospf is defined %}
{%   if 'router_id' in ospf %}
router id {{ ospf.router_id }};
{%   endif %}
{{   ospf_config.ospf_config(ospf,'global','',netlab_interfaces,{}) }}
{% endif %}
