protocol device {
  scan time 10;
}

protocol direct {
  ipv4;
  ipv6;
}

{% for _af in ['ipv4','ipv6'] if _af in af %}
protocol kernel {
  learn;
  {{ _af }} {
    export all;
    import all;
  };
}
{% endfor %}
