protocol device {
  scan time 10;
}

protocol direct {
{% for l in netlab_interfaces if l.vrf is defined %}
  interface -"{{ l.ifname }}";
{% endfor %}
  ipv4;
  ipv6;
}

{% for _af in ['ipv4','ipv6'] if _af in af %}
protocol kernel {
  learn;
  {{ _af }} {
    export all;
    import all;
  };
}
{% endfor %}


