protocol device {
  scan time 10;
}

protocol direct {
  ipv4;
  ipv6;
}

{% for _af in ['ipv4','ipv6'] if _af in af %}
protocol kernel {
  learn;
  {{ _af }} {
    export all;
    import all;
  };
}
{% endfor %}

{% if bfd is defined %}
protocol bfd {
{%   set bfd_ifs = interfaces | selectattr('bgp.bfd','defined') | map(attribute='ifname') | list %}
    interface "{{ '","'.join(bfd_ifs) }}" {
      min rx interval {{ bfd.min_rx|default(500) }}ms;
      min tx interval {{ bfd.min_tx|default(500) }}ms;
      multiplier {{ bfd.multiplier|default(3) }};
    };
}
{% endif %}
