{% include 'vlan/frr.j2' +%}
{% from "initial/linux/vanilla-ifconfig.j2" import ifconfig %}
{% for intf in interfaces 
     if intf.type == 'svi' or 
        intf.vlan is defined and intf.vlan.mode|default('') == 'route' %}
{{   ifconfig(intf) }}
{% endfor %}
