{# VRF routing tables and kernel synchronization #}
{% import 'ospf.macros.j2' as bird_ospf with context %}
{% import 'bgp.macros.j2' as bird_bgp with context %}
{% import 'routing.j2' as bird_routing with context %}

{#
 # vrf_table: Return the BIRD routing table name for a VRF address family.
 #}
{% macro vrf_table(vname,af) -%}
vrf_{{ vname }}_{{ af }}
{%- endmacro %}

{#
 # tag_vrf_route: Tag an imported VRF route with all export route targets configured on the VRF.
 #}
{% macro tag_vrf_route(vdata) %}
      netlab_vrf_rt.empty;
{%   for rt in vdata._bird_export|default([]) %}
      netlab_vrf_rt.add({{ rt }});
{%   endfor %}
      accept;
{% endmacro -%}

attribute eclist netlab_vrf_rt;
attribute string netlab_vrf_name;

{% for vname,vdata in vrfs|default({})|dictsort %}

#
# VRF {{ vname }}
#
{%   for _af in ['ipv4','ipv6'] if _af in vdata.af %}
{{ _af }} table {{ vrf_table(vname,_af) }};
{%   endfor %}

filter vrf_{{ vname }}_tag {
  netlab_vrf_name = "{{ vname }}";
  netlab_vrf_rt.empty;
{%   for rt in vdata._bird_export|default([]) %}
  netlab_vrf_rt.add({{ rt }});
{%   endfor %}
  accept;
}

{%   for _af in ['ipv4','ipv6'] if _af in vdata.af %}
protocol direct direct_vrf_{{ vname }}_{{ _af }} {
  vrf "{{ vname }}";
  {{ _af }} {
    table {{ vrf_table(vname,_af) }};
    import filter vrf_{{ vname }}_tag;
  };
}

protocol kernel kernel_vrf_{{ vname }}_{{ _af }} {
  vrf "{{ vname }}";
  kernel table {{ vdata.vrfidx }};
  learn;
  {{ _af }} {
    table {{ vrf_table(vname,_af) }};
    export all;
    import filter vrf_{{ vname }}_tag;
  };
}
{%   endfor %}
{%   for sr_af in ['ipv4','ipv6'] %}
{%     for sr_data in routing.static|default([]) if sr_data.vrf|default('') == vname and 'vrf' not in sr_data.nexthop and sr_af in sr_data %}
{%       if loop.first %}

protocol static static_vrf_{{ vname }}_{{ sr_af }} {
  {{ sr_af }} {
    table {{ vrf_table(vname,sr_af) }};
    import filter vrf_{{ vname }}_tag;
  };
  check link;
{%       endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%       if loop.last %}
}
{%       endif %}
{%     endfor %}
{%   endfor %}
{%   for dst_name,dst_data in vrfs|default({})|dictsort if dst_name != vname %}
{%     for sr_af in ['ipv4','ipv6'] %}
{%       for sr_data in routing.static|default([]) if sr_data.nexthop.vrf|default(None) == vname and sr_data.vrf|default(None) == dst_name and sr_af in sr_data %}
{%         if loop.first %}

protocol static static_vrf_leak_{{ vname }}_{{ dst_name }}_{{ sr_af }} {
  {{ sr_af }} {
    table {{ vrf_table(vname,sr_af) }};
    import filter {
{{ tag_vrf_route(dst_data) }}
    };
  };
  check link;
{%         endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%         if loop.last %}
}
{%         endif %}
{%       endfor %}
{%     endfor %}
{%   endfor %}

{# VRF OSPF configuration #}
{%   if vdata.ospf is defined %}
{{     bird_ospf.ospf_config(vdata.ospf,'vrf_' + vname,vname,vdata.ospf.interfaces|default([]),vdata) }}
{%   endif %}

{# VRF BGP configuration #}
{%   if vdata.bgp is defined %}
{{     bird_bgp.bgp_advertise_list('bgp_advertise_vrf_' + vname,vdata.bgp.advertise) }}
{{     bird_bgp.bgp_prefixes_function('bgp_prefixes_vrf_' + vname,vdata.bgp,'bgp_advertise_vrf_' + vname,vdata.bgp.import|default(['connected','ospf']),False) }}
{{     bird_bgp.bgp_export_filters('bgp_export_vrf_' + vname + '_','bgp_prefixes_vrf_' + vname) }}
{%     for n in vdata.bgp.neighbors|default([]) %}
{{       bird_bgp.bgp_session(n,bgp,vname,vdata,netlab_interfaces) }}
{%     endfor %}
{%   endif %}
{% endfor %}

{# Route leaking between VRF tables based on transformed import/export route targets #}
{% for src_name,src_data in vrfs|default({})|dictsort %}
{%   for dst_name,dst_data in vrfs|default({})|dictsort if dst_name != src_name %}
{%     set import_rt = dst_data._bird_import|default([])|select('in',src_data._bird_export|default([]))|list %}
{%     if import_rt %}
{%       for _af in src_data.af if _af in dst_data.af %}

protocol pipe pipe_vrf_{{ src_name }}_{{ dst_name }}_{{ _af }} {
  table {{ vrf_table(dst_name,_af) }};
  peer table {{ vrf_table(src_name,_af) }};
  import filter {
    if netlab_vrf_rt ~ [ {{ import_rt|join(',') }} ] then accept;
    reject;
  };
  export none;
}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endfor %}
