{# VRF routing tables and kernel synchronization #}
{% import 'ospf.macros.j2' as bird_ospf with context %}
{% import 'bgp.macros.j2' as bird_bgp with context %}
{% import 'routing.j2' as bird_routing with context %}

{#
 # vrf_table: Return the BIRD routing table name for a VRF/default address family.
 #}
{% macro vrf_table(vname,af) -%}
{%   if vname == 'default' -%}
master{{ '4' if af == 'ipv4' else '6' }}
{%-  else -%}
vrf_{{ vname }}_{{ af }}
{%-  endif %}
{%- endmacro %}

{#
 # static_leak_name: Return the BIRD protocol name for an inter-table static route.
 #}
{% macro static_leak_name(src_name,dst_name,af) -%}
static_vrf_leak_{{ src_name }}_{{ dst_name }}_{{ af }}
{%- endmacro %}

{#
 # rt_value: Return a BIRD extended community route-target tuple from a netlab RT string.
 #}
{% macro rt_value(rt) -%}
(rt, {{ rt.split(':')[0] }}, {{ rt.split(':')[1] }})
{%- endmacro %}

{#
 # tag_vrf_route: Tag an imported VRF route with all export route targets configured on the VRF.
 #}
{% macro tag_vrf_route(vdata) %}
      netlab_vrf_rt.empty;
{%   for rt in vdata.export|default([]) %}
      netlab_vrf_rt.add({{ rt_value(rt) }});
{%   endfor %}
      accept;
{% endmacro -%}

{#
 # static_protocol: Render a BIRD static protocol header.
 #}
{% macro static_protocol(proto_name,table_name,sr_af,tag_data=None) %}
protocol static {{ proto_name }} {
  {{ sr_af }} {
    table {{ table_name }};
{%   if tag_data is not none %}
    import filter {
{{ tag_vrf_route(tag_data) }}
    };
{%   endif %}
  };
  check link;
{% endmacro -%}

attribute eclist netlab_vrf_rt;
{% for vname,vdata in vrfs|default({})|dictsort %}

#
# VRF {{ vname }}
#
{%   for _af in vdata.af %}
{{ _af }} table {{ vrf_table(vname,_af) }};
{%   endfor %}

{%   for _af in vdata.af %}
protocol direct direct_vrf_{{ vname }}_{{ _af }} {
  vrf "{{ vname }}";
  {{ _af }} {
    table {{ vrf_table(vname,_af) }};
    import filter {
{{ tag_vrf_route(vdata) }}
    };
  };
}

protocol kernel kernel_vrf_{{ vname }}_{{ _af }} {
  vrf "{{ vname }}";
  kernel table {{ vdata.vrfidx }};
  learn;
  {{ _af }} {
    table {{ vrf_table(vname,_af) }};
    export all;
    import filter {
{{ tag_vrf_route(vdata) }}
    };
  };
}
{%   endfor %}
{%   for sr_af in ['ipv4','ipv6'] %}
{%     for sr_data in routing.static|default([]) if sr_data.vrf|default('') == vname and 'vrf' not in sr_data.nexthop and sr_af in sr_data %}
{%       if loop.first %}

{{ static_protocol('static_vrf_' + vname + '_' + sr_af,vrf_table(vname,sr_af),sr_af,vdata) }}
{%       endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%       if loop.last %}
}
{%       endif %}
{%     endfor %}
{%   endfor %}
{# VRF OSPF configuration #}
{%   if vdata.ospf is defined %}
{{     bird_ospf.ospf_config(vdata.ospf,'vrf_' + vname,vname,vdata.ospf.interfaces|default([]),vdata) }}
{%   endif %}

{# VRF BGP configuration #}
{%   if vdata.bgp is defined %}
{{     bird_bgp.bgp_advertise_list('bgp_advertise_vrf_' + vname,vdata.bgp.advertise) }}
{{     bird_bgp.bgp_prefixes_function('bgp_prefixes_vrf_' + vname,vdata.bgp,'bgp_advertise_vrf_' + vname,vdata.bgp.import|default(['connected','ospf']),False) }}
{{     bird_bgp.bgp_export_filters('bgp_export_vrf_' + vname + '_','bgp_prefixes_vrf_' + vname) }}
{%     for n in vdata.bgp.neighbors|default([]) %}
{{       bird_bgp.bgp_session(n,bgp,vname,vdata,netlab_interfaces) }}
{%     endfor %}
{%   endif %}
{% endfor %}
{% for src_name,src_data in vrfs|default({})|dictsort %}
{%   for dst_name,dst_data in vrfs|default({})|dictsort if dst_name != src_name %}
{%     for sr_af in src_data.af if sr_af in dst_data.af %}
{%       for sr_data in routing.static|default([]) if sr_data.nexthop.vrf|default(None) == src_name and sr_data.vrf|default(None) == dst_name and sr_af in sr_data %}
{%         if loop.first %}

{{ static_protocol(static_leak_name(src_name,dst_name,sr_af),vrf_table(src_name,sr_af),sr_af,dst_data) }}
{%         endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%         if loop.last %}
}
{%         endif %}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endfor %}
{% for vname,vdata in vrfs|default({})|dictsort %}
{%   for sr_af in vdata.af %}
{%     for sr_data in routing.static|default([]) if sr_data.nexthop.vrf|default(None) == vname and not sr_data.vrf|default(None) and sr_af in sr_data %}
{%       if loop.first %}

{{ static_protocol(static_leak_name(vname,'default',sr_af),vrf_table(vname,sr_af),sr_af) }}
{%       endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%       if loop.last %}
}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}
{% for vname,vdata in vrfs|default({})|dictsort %}
{%   for sr_af in vdata.af %}
{%     for sr_data in routing.static|default([]) if 'vrf' in sr_data.nexthop and not sr_data.nexthop.vrf and sr_data.vrf|default(None) == vname and sr_af in sr_data %}
{%       if loop.first %}

{{ static_protocol(static_leak_name('default',vname,sr_af),vrf_table('default',sr_af),sr_af,vdata) }}
{%       endif %}
  {{ bird_routing.config_sr(sr_data,sr_af) }}
{%       if loop.last %}
}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}

{# Route leaking between VRF tables based on transformed import/export route targets #}
{% for vname,vdata in vrfs|default({})|dictsort %}
filter netlab_vrf_{{ vname }}_import {
{%   if vdata.import|default([]) %}
  if netlab_vrf_rt ~ [ {% for rt in vdata.import %}{{ rt_value(rt) }}{% if not loop.last %}, {% endif %}{% endfor %} ] then accept;
{%   endif %}
  reject;
}
{% endfor %}
{% for vname,vdata in vrfs|default({})|dictsort %}
{%   for _af in vdata.af %}

protocol pipe pipe_vrf_default_{{ vname }}_{{ _af }} {
  table {{ vrf_table('default',_af) }};
  peer table {{ vrf_table(vname,_af) }};
  import filter {
    if proto ~ "{{ static_leak_name(vname,'default',_af) }}" then accept;
    reject;
  };
  export filter {
    if proto ~ "{{ static_leak_name('default',vname,_af) }}" then accept;
    reject;
  };
}
{%   endfor %}
{% endfor %}
{% for src_name,src_data in vrfs|default({})|dictsort %}
{%   for dst_name,dst_data in vrfs|default({})|dictsort if src_data.vrfidx < dst_data.vrfidx %}
{%     for _af in src_data.af if _af in dst_data.af %}

protocol pipe pipe_vrf_{{ src_name }}_{{ dst_name }}_{{ _af }} {
  table {{ vrf_table(src_name,_af) }};
  peer table {{ vrf_table(dst_name,_af) }};
  import filter netlab_vrf_{{ src_name }}_import;
  export filter netlab_vrf_{{ dst_name }}_import;
}
{%     endfor %}
{%   endfor %}
{% endfor %}
