{# VRF routing tables and kernel synchronization #}
{% import 'ospf.macros.j2' as bird_ospf with context %}
{% import 'bgp.macros.j2' as bird_bgp with context %}

{#
 # vrf_table: Return the BIRD routing table name for a VRF address family.
 #}
{% macro vrf_table(vname,af) -%}
{% if vname %}vrf_{{ vname }}_{{ af }}{% else %}master{{ af.replace('ipv','') }}{% endif %}
{%- endmacro %}

attribute eclist netlab_vrf_rt;
attribute string netlab_vrf_name;

{% if vrfs %}
{%   for vname,vdata in vrfs|default({})|dictsort %}
#
# Data-plane configuration, VRF {{ vname }}
{%     include "vrf-table.j2" %}

{%     if vdata.ospf is defined %}
#
# OSPF configuration, VRF {{ vname }}
{{       bird_ospf.ospf_config(vdata.ospf,'vrf_' + vname,vname,vdata.ospf.interfaces|default([]),vdata) }}
{%     endif %}

{%     if vdata.bgp is defined %}
#
# BGP configuration, VRF {{ vname }}
{{       bird_bgp.bgp_advertise_list('bgp_advertise_vrf_' + vname,vdata.bgp.advertise) }}
{{       bird_bgp.bgp_prefixes_function('bgp_prefixes_vrf_' + vname,vdata.bgp,'bgp_advertise_vrf_' + vname,vdata.bgp.import|default(['connected','ospf']),False) }}
{{       bird_bgp.bgp_export_filters('bgp_export_vrf_' + vname + '_','bgp_prefixes_vrf_' + vname) }}
{%       for n in vdata.bgp.neighbors|default([]) %}
{{         bird_bgp.bgp_session(n,bgp,vname,vdata,netlab_interfaces) }}
{%       endfor %}
{%     endif %}
{%   endfor %}

{#   Inter-VRF route leaking #}
{%   include "vrf-route-leak.j2" %}

{%   if routing.static is defined %}
{%     include "vrf-static.j2" %}
{%   endif %}
{% endif %}
