{# VRF routing tables and kernel synchronization #}
{% macro vrf_table(vdata,af) -%}
vrf_{{ vdata.vrfidx }}_{{ af }}
{%- endmacro %}
{% macro config_sr(sr_data,af) %}
{%   set sr_nh = 'unreachable' if 'discard' in sr_data.nexthop else 'via ' + sr_data.nexthop[af] %}
route {{ sr_data[af] }} {{ sr_nh }};
{% endmacro -%}
{% for vname,vdata in vrfs|default({})|dictsort %}

#
# VRF {{ vname }}
#
{%   for _af in ['ipv4','ipv6'] if _af in vdata.af %}
{{ _af }} table {{ vrf_table(vdata,_af) }};
{%   endfor %}

{%   for _af in ['ipv4','ipv6'] if _af in vdata.af %}
protocol direct direct_vrf_{{ vdata.vrfidx }}_{{ _af }} {
  vrf "{{ vname }}";
  {{ _af }} {
    table {{ vrf_table(vdata,_af) }};
  };
}

protocol kernel kernel_vrf_{{ vdata.vrfidx }}_{{ _af }} {
  vrf "{{ vname }}";
  kernel table {{ vdata.vrfidx }};
  learn;
  {{ _af }} {
    table {{ vrf_table(vdata,_af) }};
    export all;
    import all;
  };
}
{%   endfor %}
{%   for sr_af in ['ipv4','ipv6'] %}
{%     for sr_data in routing.static|default([]) if sr_data.vrf|default('') == vname and sr_af in sr_data %}
{%       if loop.first %}

protocol static static_vrf_{{ vdata.vrfidx }}_{{ sr_af }} {
  {{ sr_af }} {
    table {{ vrf_table(vdata,sr_af) }};
  };
  check link;
{%       endif %}
  {{ config_sr(sr_data,sr_af) }}
{%       if loop.last %}
}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}
