{% if vxlan is defined and vxlan.flooding|default('') == 'evpn' %}
{% for vname in vxlan.vlans|default([]) if vlans[vname].vni is defined and 'evpn' in vlans[vname] %}
eth table eth_{{ vname }};
{% endfor %}
{% endif %}
