name: Build pypi packages

on:
  push:
    branches: [ master ]
    tags: [ release_* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade build
    - name: Build package
      run: |
        python3 -m build
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
    - name: Build legacy package
      run: |
        cd legacy && python3 -m build
    - name: Publish legacy package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_LEGACY_TOKEN }}
        packages-dir: legacy/dist/
