{# OSPF must be defined before BGP; in case BGP needs to redistribute a specific ospf process this must already exist. #}
{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}

{%   if vdata.af.ipv4|default(False) %}
{%   include 'arubacx.ospfv2-vrf.j2' %}
{%   endif %}

{%   if vdata.af.ipv6|default(False) %}
{%   include 'arubacx.ospfv3-vrf.j2' %}
{%   endif %}

{% endfor %}

{% if bgp.as is defined %}
{% include 'arubacx.bgp.j2' %}
{% endif %}
