{# OSPF must be defined before BGP; in case BGP needs to redistribute a specific ospf process this must already exist. #}
{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}
{%   include 'arubacx.ospfv2-vrf.j2' %}
{% endfor %}

{% if bgp.as is defined %}
{% include 'arubacx.bgp.j2' %}
{% endif %}
