!
router ospfv3 {{ vdata.ospfidx }} vrf {{ vname }}
    router-id {{ vdata.ospf.router_id|default(ospf.router_id) }}

{% if bgp.as is defined %}
    redistribute bgp
{% endif %}
    redistribute connected

{% if ospf.reference_bandwidth is defined %}
    reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}

{# need to define all areas in advance #}
{% for l in vdata.ospf.interfaces|default([]) if 'ospf' in l and 'ipv6' in l %}
    area {{ l.ospf.area }}
{% endfor %}

!
{% for l in vdata.ospf.interfaces|default([]) if 'ospf' in l and 'ipv6' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
    ipv6 ospfv3 {{ vdata.ospfidx }} area {{ l.ospf.area }}
{%   if l.ospf.network_type|default("") in ["broadcast","point-to-point"] %}
    ipv6 ospfv3 network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
    ipv6 ospfv3 cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
    ipv6 ospfv3 neighbor bfd
{%   endif %}
{%   if l.ospf.passive|default(False) and not l.ifname.startswith('loopback') %}
    ipv6 ospfv3 passive
{%   endif %}
!
{% endfor %}
