{% from "ospf/cumulus_nvue.j2" import vrf_ospf with context %}

- set:
    vrf:
{% for vname,vdata in vrfs.items() %}
      {{ vname }}:
        table: auto
{% endfor %}

{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}
{%   if vdata.af.ipv4|default(False) %}
{{ vrf_ospf(vname,vdata) }}
{%   endif %}
{% endfor %}

{% for intf in netlab_interfaces if intf.vrf is defined %}
- set:
{%   if intf.type=='loopback' %}
    vrf:
      {{ intf.vrf }}:
        loopback:
          ip:
            address:
{%     if 'ipv4' in intf %}
              {{ intf.ipv4 }}: {}
{%     endif %}
{%     if 'ipv6' in intf %}
              {{ intf.ipv6 }}: {}
{%     endif %}
{%   else %}
    interface:
      {{ intf.ifname }}:
        ip:
          vrf: {{ intf.vrf }}
{%   endif %}
{% endfor %}
