{% for vname,vdata in vrfs.items() %}
vrf instance {{ vname }}
 rd {{ vdata.rd }}
!
{% if 'ipv4' in vdata.af %}
ip routing vrf {{ vname }}
!
{% endif %}
{% if 'ipv6' in vdata.af %}
ipv6 routing vrf {{ vname }}
!
{% endif %}
{% endfor %}
!
{% for l in interfaces if l.vrf is defined %}
interface {{ l.ifname }}
 vrf {{ l.vrf }}
{% include 'eos.intf-addr.j2' %}
{% endfor %}
