{% if bgp.as is defined %}
{% include 'eos.bgp.j2' %}
{% endif %}
{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}
{%   set ospf_pid = vdata.vrfidx %}
{%   set ospf_data = vdata.ospf %}
{%   set intf_data = vdata.ospf.interfaces|default([]) %}
{%   set ospf_vrf = vname %}
{%   if vdata.af.ipv4|default(False) %}
{%     include 'eos.ospfv2.j2' %}
{%   endif %}
{%   if vdata.af.ipv6|default(False) %}
{%     include 'eos.ospfv3.j2' %}
{%   endif %}
{% endfor %}
