router ospf vrf {{ vname }}
 router-id {{ vdata.ospf.router_id|default(ospf.router_id) }}
{% if ospf.reference_bandwidth is defined %}
 auto-cost reference-bandwidth {{ ospf.reference_bandwidth }}
{% endif %}
{% if bgp.as is defined %}
 redistribute bgp
{% endif %}
!
{% for l in vdata.ospf.interfaces|default([]) if 'ospf' in l and 'ipv4' in l %}
interface {{ l.ifname }}
! {{ l.name|default("") }}
 ip ospf area {{ l.ospf.area }}
{%   if l.ospf.network_type is defined %}
 ip ospf network {{ l.ospf.network_type }}
{%   endif %}
{%   if l.ospf.cost is defined %}
 ip ospf cost {{ l.ospf.cost }}
{%   endif %}
{%   if l.ospf.bfd|default(False) %}
 ip ospf bfd
{%   endif %}
{%   if l.ospf.passive|default(False) %}
 ip ospf passive
{%   endif %}
!
{% endfor %}
