#!/bin/bash
#
set -e # Exit immediately when any command fails
#

# Create VRF tables
{% for vname,vdata in vrfs.items() %}
if [ ! -e /sys/devices/virtual/net/{{vname}} ]; then
ip link add {{vname}} type vrf table {{ vdata.vrfidx }}
fi
ip link set {{vname}} up
{% endfor %}

# Move interfaces and loopbacks to vrfs
{% for i in interfaces if i.vrf is defined %}
ip link set {{ i.ifname }} master {{ i.vrf }}
{% endfor %}

cat >/tmp/vrf_config <<CONFIG
{% for vname,vdata in vrfs.items() %}
vrf {{ vname }}
 exit-vrf
{% endfor %}
!
{% for vname,vdata in vrfs.items() if bgp.as is defined %}
{%   include 'frr.bgp.j2' +%}
{% endfor %}
!
{% for vname,vdata in vrfs.items() if vdata.ospf is defined %}
{%  if vdata.af.ipv4|default(False) %}
{%    include 'frr.ospfv2-vrf.j2' %}
{%  endif %}
!
{% endfor %}
CONFIG

vtysh -f /tmp/vrf_config

exit $?
