{% for vname,vdata in vrfs.items() %}
vrf definition {{ vname }}
 rd {{ vdata.rd }}
 route-target import {{ vdata.import }}
 route-target export {{ vdata.export }}
!
{%   for af in ['ipv4','ipv6'] if af in vdata.af %}
 address-family {{ af }}
 exit-address-family
!
{%   endfor %}
{% endfor %}
!
{% for l in interfaces if l.vrf is defined %}
interface {{ l.ifname }}
 vrf forwarding {{ l.vrf }}
{% include 'ios.intf-addr.j2' +%}
{% endfor %}
