{% import "templates/ospf/ios.ospfv2.j2" as ospfv2 with context %}
{% import "templates/ospf/ios.ospfv3.j2" as ospfv3 with context %}
{% import "templates/ripv2/ios.macro.j2" as rip with context %}
{% if bgp.as is defined %}
{% include 'ios.bgp.j2' %}
{% endif %}
{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}
{%   if vdata.af.ipv4|default(False) %}
{{     ospfv2.config(vdata.vrfidx,vname,vdata.ospf,vdata.ospf.interfaces|default([]),bgp|default({})) }}
{%   endif %}
{%   if vdata.af.ipv6|default(False) %}
{{     ospfv3.config(vdata.vrfidx,vname,vdata.ospf,vdata.ospf.interfaces|default([]),bgp|default({})) }}
{%   endif %}
{% endfor %}
{% for vname,vdata in vrfs.items() if 'ripv2' in vdata %}
{{   rip.config(ripv2=vdata.ripv2,vrf=vname,ospf_pid=vdata.vrfidx) }}
{% endfor %}
