
{% from "initial/openbsd-ifconfig.j2" import ifconfig %}
{% import "ospf/openbsd.ospfv2.j2" as ospfv2 %}
{% import "ospf/openbsd.ospfv3.j2" as ospfv3 %}

{% set _vrfs = vrfs|default({}) %}
# Reconfigure interfaces and loopbacks to vrfs
{% for ifdata in interfaces if ifdata.vrf is defined %}
{{ ifconfig(ifdata,role,vrf=_vrfs[ifdata.vrf].vrfidx) }}
{% endfor %}

#
# (re-)start RA daemon for VRF interfaces
#
#
{% for vname, vdata in _vrfs.items() %}
{#
{% if loopback is defined %}
{{   ifconfig(loopback,role,vrf=vdata.vrfidx,alias='alias') }}
{% endif %}
#}
{%   if role == 'router' %}
pkill -f -- '-f /etc/rad-r{{vdata.vrfidx}}.conf' || true
route -T {{vdata.vrfidx}} exec rad -f /etc/rad-r{{vdata.vrfidx}}.conf
{% endif %}
{% endfor %}

{% for vname,vdata in vrfs.items() if 'ospf' in vdata %}
{%   if vdata.af.ipv4|default(False) %}
{{     ospfv2.config(vdata.vrfidx,vdata.ospf,vdata.ospf.interfaces|default([])) }}
{%   endif %}
{%   if vdata.af.ipv6|default(False) %}
{{     ospfv3.config(vdata.vrfidx,vdata.ospf,vdata.ospf.interfaces|default([])) }}
{%   endif %}
{% endfor %}
