{% for vname,vdata in vrfs.items() %}
{#
    First of all, need to add the vrf to the default instance
#}
/routing bgp instance vrf add instance=default routing-mark={{ vname }} redistribute-connected=yes
{% if 'ospf' in vdata %}
/routing bgp instance vrf set [find routing-mark={{ vname }}] redistribute-ospf=yes
{% endif %}

{#
    And now the peers...
#}
{%   for n in vdata.bgp.neighbors|default([]) %}
{%   endfor %}

{% endfor %}
