{% from "templates/ospf/srlinux.macro.j2" import ospf_config %}
{% from "templates/bgp/srlinux.macro.j2" import bgp_config with context %}
updates:
{% for vname,vdata in vrfs.items() %}
{% if 'ospf' in vdata %}
{{ ospf_config(0,'ipv4' if vdata.af.ipv4|default(0) else 'ipv6',vname,vdata.ospf,vdata.ospf.interfaces)}}
{% endif %}
{% if 'bgp' in vdata %}
{{ bgp_config(vname,vrf.as,bgp.router_id,vdata.bgp,vdata) }}
{% endif %}
{% endfor %}
