{% if vrfs is defined %}
#
# Create VRF tables as part of initial device configuration
#
{%   for vname,vdata in vrfs.items() %}
set vrf name {{ vname }} table {{ vdata.vrfidx }}
{%   endfor %}
{% endif %}
