{# Route leaking case: bgp.as can be set even without the BGP module, so - if present - need to enable BGP at global level #}
{% if bgp.as is defined %}
set protocols bgp system-as {{ bgp.as }}
{% endif %}

# Enter vrf sublevel
{% for vname,vdata in (vrfs|default({})).items() %}
edit vrf name {{ vname }}

{% if bgp.as is defined %}
{% include 'vyos.bgp.j2' %}
{% endif %}

{% if 'ospf' in vdata %}
{%   if vdata.af.ipv4|default(False) %}
{%     include 'vyos.ospfv2-vrf.j2' %}
{%   endif %}
{%   if vdata.af.ipv6|default(False) %}
{%     include 'vyos.ospfv3-vrf.j2' %}
{%   endif %}
{% endif %}

# Back to root level
top
{% endfor %}
