Vagrant.configure("2") do |config|
{% for n in nodes %}
{%   set name = n.name.split('.')[0] %}
{%   set box  = n.box %}
  config.vm.define "{{ name }}" do |{{name}}|
{%   if n.mgmt is defined and n.mgmt.mac is defined %}
    {{ name }}.vm.provider :libvirt do |domain|
      domain.management_network_mac = "{{n.mgmt.mac}}"
    end
{%   endif %}
{%  include n.device ~ "-domain.j2" %}

{%   for l in n.links %}
{%     if 'bridge' in l: %}
{%       include "libvirt-bridge.j2" %}
{%     else %}
{%       include "libvirt-tunnel.j2" %}
{%     endif %}

{%   endfor %}
  end
{% endfor %}
end
